{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
<li><a href="{% url 'contact' %}">{% trans "contact" %}</a></li>
{% endblock %}

{% block content %}

<p>{% blocktrans %}You can contact maintainers of this server here.{% endblocktrans %}</p>

<p>{% blocktrans %}Please contact us in English, otherwise we might be unable to understand your request.{% endblocktrans %}</p>

<p>{% blocktrans %}If you are looking for support for Weblate or want to file bug reports check its website at <a href="{{ weblate_url }}">weblate.org</a>.{% endblocktrans %}</p>

<form method="post" action="{% url 'contact' %}">
{% csrf_token %}
<table class="contact-table">
{{ form.as_table }}
<tr><td></td><td><input type="submit" class="button" value="{% trans "Send" %}" /></td></tr>
</table>
</form>

{% endblock %}
