{% extends "base.html" %}
{% load i18n %}
{% load translations %}

{% block content %}

<h2>{% trans "Register email" %}</h2>

{% if form.errors %}
{% show_message "error" _("Please fix errors in the registration form.") %}
{% endif %}

<form action="{% url 'social:complete' "email" %}" method="post" accept-charset="utf-8">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<p>
{% trans "By registering you agree to use your name and email in the commits and provide your contribution under license defined by each translated project." %}
</p>
<p><input type="submit" value="{% trans 'Register' %}" class="button" /></p>
</form>

{% endblock %}
