{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load translations %}

{% block content %}

<h2>{% trans "Password reset" %}</h2>

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

{% if form.errors %}
{% show_message "error" _("Please fix errors in the registration form.") %}
{% endif %}

<form action="{% url 'password_reset' %}" method="post" accept-charset="utf-8">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<p>
</p>
<p><input type="submit" value="{% trans 'Reset my password' %}" class="button" /></p>
</form>

{% endblock %}
