{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load url from future %}

{% block breadcrumbs %}
<li><a href="{{ page_profile.get_absolute_url }}">{{ page_profile.get_user_name }}</a></li>
{% endblock %}

{% block content %}

{% if enable_avatars %}
<div class="pull-right">
<img src="{% url 'user_avatar' user=page_user.username size=128 %}" />
</div>
{% endif %}

{% if user_projects %}
<h3>{% trans "Projects" %}</h3>

<ul>
{% for project in user_projects %}
<li><a href="{{ project.get_absolute_url }}">{{ project }}</a></li>
{% endfor %}
</ul>
{% endif %}

<h3>{% trans "Activity" %}</h3>

{% with page_profile as profile and page_user as user %}
<table class="table table-condensed">
{% include 'user-activity.html' %}
</table>
{% endwith %}

<h3>{% trans "Activity in last 30 days" %}</h3>
<img src="{% url 'monthly_user_activity' user=page_user.username %}">

<h3>{% trans "Activity in last year" %}</h3>
<img src="{% url 'yearly_user_activity' user=page_user.username %}">

<h3>{% trans "Recent contributions" %}</h3>
{% include "last-changes.html" %}

{% endblock %}
