{% extends "base.html" %}
{% load i18n %}
{% load translations %}

{% block breadcrumbs %}
<li><a href="{{ page_profile.get_absolute_url }}">{{ page_profile.get_user_name }}</a></li>
{% endblock %}

{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading"><h4 class="panel-title">{{ page_profile.get_user_name }}</h4></div>
  <div class="panel-body">

<div class="row">
{% if enable_avatars %}
<div class="col-lg-2">
<img src="{% url 'user_avatar' user=page_user.username size=128 %}" />
</div>
{% endif %}

<div class="col-lg-10">
{% with page_profile as profile and page_user as user %}
<table class="table table-condensed">
{% include 'user-activity.html' %}
</table>
{% endwith %}
</div>

</div>

{% if user_projects %}

<h4>{% trans "Projects" %}</h4>
<div class="list-group">
{% for project in user_projects %}
<a class="list-group-item" href="{{ project.get_absolute_url }}">{{ project }}</a>
{% endfor %}
</div>

{% endif %}

<span class="hidden" id="load-activity" data-yearly="{% url 'yearly_activity' user=page_user.username %}" data-monthly="{% url 'monthly_activity' user=page_user.username %}"></span>

<h3>{% trans "Activity in last 30 days" %}</h3>
<div id="activity-month" class="ct-chart ct-double-octave"></div>

<h3>{% trans "Activity in last year" %}</h3>
<div id="activity-year" class="ct-chart ct-double-octave"></div>

</div>
</div>

{% include "last-changes.html" %}

{% endblock %}
