{% load i18n translations %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">{% translate "When" %}</th>
      <th scope="col">{% translate "Billing event" %}</th>
      <th scope="col">{% translate "Event details" %}</th>
      <th scope="col">{% translate "User" %}</th>
      <th scope="col">
        <span class="visually-hidden">{% translate "Actions" %}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for log in billing_logs %}
      <tr>
        <td>{{ log.timestamp|naturaltime }}</td>
        <td>{{ log.get_event_display }}</td>
        <td>{{ log.get_details_display }}</td>
        <td>{{ log.user }}</td>
        <td>
          {% if user.is_superuser and log.details.backup_filename %}
            <a href="{% url "restore_backup" %}?path={{ log.details.backup_filename|urlencode }}">{% translate "Download" %}</a>
          {% endif %}
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5">{% translate "No audit log entries found." %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
