{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{% url 'profile' %}">{% trans "Your profile" %}</a></li>
<li><a href="{% url 'billing' %}">{% trans "Billing" %}</a></li>
{% endblock %}

{% block content %}

{% include "billing/list.html" with objects=billings %}

{% if not billings %}
  <p>
    {% trans "No subscriptions or due payments." %}
    {% trans "If you miss access to billing of your project, please ask its admins to grant you access." %}
  </p>

  {% if offer_hosting %}
    <a class="btn btn-primary" href="https://weblate.org/hosting/">{% trans "View hosting plans" %}</a>
  {% endif %}
{% endif %}

{% if payment_enabled and not active_billing_count %}
  <a href="{% url 'create-billing' %}?upgrade=1" class="btn btn-primary">{% trans "Purchase new hosting plan" %}</a>
{% endif %}

{% endblock %}
