td.right {
    text-align: right;
}
ul.footer{
    padding:0;
    margin:1em;
    max-width:none;
    clear:both;
}
ul.footer li{
    font-size:smaller;
    list-style:none;
    float:left;
    padding:1em;
    color:gray;
    border:none;
}
ul.footer a{
    color:#333;
}
table.translator th.source {
    width: 30em;
    max-width: 50%;
}
