body {
    color:black;
    background:white;
    padding:0;
    margin:0;
}
div.content {
    margin: 0.5em;
}
td.right {
    text-align: right;
}
ul.footer{
    padding:0;
    margin:1em;
    max-width:none;
    clear:both;
}
ul.footer li{
    font-size:smaller;
    list-style:none;
    float:left;
    padding:1em;
    color:gray;
    border:none;
}
ul.footer a{
    color:#333;
}
table.translator th.source {
    width: 30em;
    max-width: 50%;
}
h1 {
    padding: 0.5em;
    margin: 0;
}
ul.menu {
    float: right;
    padding: 1em;
    margin: 0;
}
ul.breadcums {
    list-style: none;
    padding: 1em;
    margin: 0;
}
ul.breadcums li {
    display: inline-block;
}
