body {
    font-family: sans-serif;
    color:black;
    background:white;
    padding:0;
    margin:0;
}
div.content {
    margin: 0.5em;
}
td.right {
    text-align: right;
}
ul.footer{
    padding:0;
    margin:1em;
    max-width:none;
    clear:both;
}
ul.footer li{
    font-size:smaller;
    list-style:none;
    float:left;
    padding:1em;
    color:gray;
    border:none;
}
ul.footer a{
    color:#333;
}
h1 {
    padding: 0.5em;
    margin: 0;
}
ul.menu {
    float: right;
    padding: 1em;
    margin: 0;
    font-size: smaller;
    list-style: none;
}
ul.menu li {
    display: inline-block;
}
ul.breadcums {
    list-style: none;
    padding: 1em;
    margin: 0;
    font-size: smaller;
}
ul.breadcums li {
    display: inline-block;
}
.translatetext {
    background-color: #eee;
}
.hlspace {
    border-bottom: 1px dotted red;
    white-space: pre;
    display: inline-block;
}
.suggestionactions {
    float: right;
}
.suggestionactions a {
    width: 20px;
    height: 20px;
}
td.translator {
    width: 60em;
    max-width: 50%;
}
td.translator textarea {
    width: 100%
}
td.suggestions table {
    width: 100%
}
#copy-text, .button-prev, .button-next, .button-first, .button-end {
    width: 20px;
    height: 20px;
}
.helptext {
    font-size: smaller;
}
.percent {
    text-align: right;
}
div.progress {
    width: 20em;
    height: 1em;
}
