/*
 * Copyright © Michal Čihař <michal@weblate.org>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@media (prefers-color-scheme: dark) {
  .daterangepicker {
    color: rgb(217, 211, 204);
    background-color: rgb(26, 29, 30);
  }

  .daterangepicker td.in-range {
    background-color: rgb(40, 43, 44);
    color: rgb(217, 211, 204);
  }
}
