body {
  font-family: "Source Sans Pro", sans-serif;
}
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend, input, .btn {
  font-family: "Source Sans Pro", sans-serif !important;
}
code, kbd, pre, samp {
  font-family: "Source Code Pro", monospace !important;
}
.wy-side-nav-search, .wy-nav-top {
    background-color: #144D3F;
}
.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #2ECCAA;
}
a {
    color: #1FA385;
}
a:hover {
    color: #2ECCAA;
}
a:visited {
    color: inherit;
}
.wy-nav-top a, .wy-side-nav-search > a {
    font-weight: 600;
    letter-spacing: 1.73px;
    text-transform: uppercase;
}
