body {
  font-family: "Source Sans Pro", sans-serif;
}
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend, input, .btn {
  font-family: "Source Sans Pro", sans-serif !important;
}
code, kbd, pre, samp {
  font-family: "Source Code Pro", monospace !important;
}
.wy-side-nav-search {
    background-color: #144D3F;
}
