body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
.rst-content .toctree-wrapper p.caption,
h3,
h4,
h5,
h6,
legend,
input,
.btn {
  font-family: "Source Sans Pro", sans-serif !important;
}

code,
kbd,
pre,
samp {
  font-family: "Source Code Pro", monospace !important;
}

.kbd {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0px 4px;
  font-weight: 600;
  display: inline-block;
}
.kbd .kbd {
  border: none;
  padding: 0;
}

.wy-table-responsive table td,
.wy-table-responsive table th {
  white-space: inherit;
}

.wy-nav-top a,
.wy-side-nav-search > a {
  font-weight: 600;
  letter-spacing: 1.73px;
  text-transform: uppercase;
}

.wy-alert.wy-alert-neutral a,
.rst-content .wy-alert-neutral.note a,
.rst-content .wy-alert-neutral.attention a,
.rst-content .wy-alert-neutral.caution a,
.rst-content .wy-alert-neutral.danger a,
.rst-content .wy-alert-neutral.error a,
.rst-content .wy-alert-neutral.hint a,
.rst-content .wy-alert-neutral.important a,
.rst-content .wy-alert-neutral.tip a,
.rst-content .wy-alert-neutral.warning a,
.rst-content .wy-alert-neutral.seealso a,
.rst-content .wy-alert-neutral.admonition-todo a,
.rst-content .wy-alert-neutral.admonition a {
  color: #1fa385;
}

.btn-link {
  color: #1fa385;
}

.btn-link:visited {
  color: #1fa385;
}

.wy-dropdown-menu > dd > a:hover {
  background: #1fa385;
}

.wy-dropdown.wy-dropdown-bubble .wy-dropdown-menu a:hover {
  background: #1fa385;
}

a {
  color: #1fa385;
}

a:hover {
  color: #2eccaa;
}

a:visited {
  color: #1fa385;
}

.wy-side-nav-search {
  background-color: #144d3f;
}

.wy-nav .wy-menu-vertical header {
  color: #1fa385;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
  color: #1fa385;
}

.wy-nav .wy-menu-vertical a:hover {
  background-color: #1fa385;
}

.wy-menu-vertical a:visited,
.wy-menu-vertical a:hover {
  color: #d9d9d9;
}

.wy-nav-top {
  background: #1fa385;
}

.rst-versions a {
  color: #1fa385;
}

.rst-content a tt,
.rst-content a code {
  color: #1fa385;
}

.rst-content dl:not(.docutils).class dt,
.rst-content dl:not(.docutils).data dt {
  color: #1fa385;
}

.rst-content table.docutils td,
.rst-content table.field-list td,
.wy-table td {
  vertical-align: top;
}
