{% extends "base.html" %}

{% load crispy_forms_tags i18n %}

{% block nav_pills %}
    <ul class="nav nav-pills">
      <li class="active">
        <a data-toggle="tab" href="#basic">{% translate "Language" %}</a>
      </li>
      <li>
        <a data-toggle="tab" href="#workflow">{% translate "Workflow" %}</a>
      </li>
    </ul>
{% endblock nav_pills %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'languages' %}">{% translate "Languages" %}</a>
  </li>
  <li>
    <a href="{% url 'show_language' lang=object.code %}">{{ object }}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}

  <form method="post">
    {% csrf_token %}

    <div class="tab-content">

      <div class="tab-pane active" id="basic">{% crispy form %}</div>

      <div class="tab-pane active" id="workflow">{% crispy workflow_form %}</div>
    </div>

    <input type="submit" value="{% translate "Save" %}" class="btn btn-primary" />
  </form>

{% endblock content %}
