{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'languages' %}">{% trans "Languages" %}</a>
  </li>
  <li>
    <a href="{% url 'show_language' lang=object.code %}">{{ object }}</a>
  </li>
{% endblock %}


{% block content %}

  <form method="post">
    {% csrf_token %}
    <ul class="nav nav-pills">
      <li class="active">
        <a data-toggle="tab" href="#basic">{% trans "Language" %}</a>
      </li>
      <li>
        <a data-toggle="tab" href="#workflow">{% trans "Workflow" %}</a>
      </li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane active" id="basic">{% crispy form %}</div>

      <div class="tab-pane active" id="workflow">{% crispy workflow_form %}</div>
    </div>

    <input type="submit" value="{% trans "Save" %}" class="btn btn-primary" />
  </form>

{% endblock %}
