{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'languages' %}">{% trans "Languages" %}</a></li>
<li><a href="{% url 'show_language' lang=object.language.code %}">{{ object.language }}</a></li>
<li><a href="{% url 'show_language' lang=object.language.code %}#information">{{ object.get_source_display }}</a></li>
{% endblock %}

{% block content %}

<form method="post">
{% csrf_token %}
{% crispy form %}
<input type="submit" value="{% trans "Save" %}" class="btn btn-primary" />
</form>

{% endblock %}
