{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load translations %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'languages' %}">{% trans "Languages" %}</a>
  </li>
  <li>
    <a href="{% url 'show_language' lang=object.language.code %}">{{ object.language }}</a>
  </li>
  <li>
    <a href="{% url 'show_language' lang=object.language.code %}#information">{{ object.get_source_display }}</a>
  </li>
{% endblock %}


{% block content %}

  <div class="alert alert-warning" role="alert">
    {% trans "Changing plural rules might not have a desired effect." %}
    <a href="{% documentation "admin/languages" "plural-definitions" %}">{% trans "Please see a documentation for more info." %}</a>
  </div>


  <form method="post">
    {% csrf_token %}
    {% crispy form %}
    <input type="submit" value="{% trans "Save" %}" class="btn btn-primary" />
  </form>

{% endblock %}
