/*
 * Copyright © Michal Čihař <michal@weblate.org>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* See style-dark.css for the dark versions */
:root {
  --border-radius-sm: 4px;
  --border-radius: 10px;
  --border-radius-lg: 14px;
  --border-radius-xl: 20px;

  --border: 1px solid #e9eaec;
  --background-color: #ffffff;
}
