/*
 * Copyright © Michal Čihař <michal@weblate.org>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* See style-dark.css for the dark versions */
:root {
  --border-radius-sm: 4px;
  --border-radius: 10px;
  --border-radius-lg: 14px;
  --border-radius-xl: 20px;

  --border: 1px solid #e9eaec;
  --background-color: #ffffff;

  --widget-card-box-shadow-color: rgba(0, 0, 0, 0.1);

  --bs-body-color: #2a3744;
  --bs-body-color-rgb: 42, 55, 68;
  --bs-border-radius-sm: 4px;
  --bs-border-radius: 10px;
  --bs-border-radius-lg: 14px;
  --bs-border-radius-xl: 20px;
  --bs-border-width: 1px;
  --bs-border-color: #e9eaec;
  --bs-dark: #2a3744;
  --bs-dark-rgb: 42, 55, 68;
  --bs-danger: #f6664c;
  --bs-danger-rgb: 246, 102, 76;
  --bs-link-color: #1fa385;
  --bs-link-color-rgb: 31, 163, 133;
  --bs-emphasis-color: #1fa385;
  --bs-emphasis-color-rgb: 31, 163, 133;

  --bs-font-sans-serif: "Source Sans 3", sans-serif;
  --bs-font-monospace: "Source Code Pro", monospace;

  --bs-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu {
  /* --bs-dropdown-spacer: 0.5rem !important; */
}

.breadcrumb {
  --bs-breadcrumb-padding-x: 15px;
  --bs-breadcrumb-padding-y: 8px;
}

.navbar {
  --bs-navbar-color: #bfc3c7;
  --bs-navbar-brand-color: #bfc3c7;
  --bs-navbar-brand-hover-color: #2eccaa;
  --bs-navbar-brand-margin-end: 10px;
  --bs-navbar-padding-y: 0px;
  --bs-navbar-nav-link-padding-x: 15px !important;
  --bs-navbar-nav-link-padding-y: 13px !important;
  --bs-navbar-hover-color: #2eccaa;
}

.navbar-nav {
  --bs-nav-link-padding-x: 15px !important;
  --bs-nav-link-padding-y: 13px !important;
}

.nav-pills {
  --bs-nav-pills-link-active-color: #ffffff;
  --bs-nav-pills-link-active-bg: #144d3f;
  --bs-nav-pills-border-radius: var(--bs-border-radius-sm);
}

.btn-primary {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #2a3744;
}

.btn-danger {
  --bs-btn-bg: #f6664c;
  --bs-btn-border-color: #f6664c;
  --bs-btn-hover-bg: #f43c1b;
  --bs-btn-hover-border-color: #e02c0b;
}

.btn-warning {
  --bs-btn-color: #ffffff !important;
  --bs-btn-bg: #2eccaa !important;
  --bs-btn-hover-bg: #2a3744 !important;
  --bs-btn-hover-color: #ffffff !important;
}

.card {
  --bs-card-title-spacer-y: 0px;
  --bs-card-cap-padding-y: 9px;
  --bs-card-cap-color: #333333;
}

.progress-stacked {
  --bs-progress-height: 8px !important;
}

.progress {
  --bs-progress-height: 8px !important;
  --bs-progress-bar-bg: #124437;
}
