/*
 * Copyright © Michal Čihař <michal@weblate.org>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* See style-dark.css for the dark versions */
:root {
  --border-radius-sm: 4px;
  --border-radius: 10px;
  --border-radius-lg: 14px;
  --border-radius-xl: 20px;

  --border: 1px solid #e9eaec;
  --background-color: #ffffff;

  --widget-card-box-shadow-color: rgba(0, 0, 0, 0.1);

  --bs-body-color: #2a3744;
  --bs-body-color-rgb: 42, 55, 68;
  --bs-link-color: #1fa385;
  --bs-link-color-rgb: 31, 163, 133;
  --bs-emphasis-color: #1fa385;
  --bs-emphasis-color-rgb: 31, 163, 133;

  --bs-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu {
  --bs-dropdown-spacer: 0.5rem !important;
}

.navbar {
  --bs-navbar-color: var(--bs-secondary);
}
