root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
spaces_around_operators = true

[*.bat]
end_of_line = crlf

[*.{py,rst,sh}]
indent_size = 4

[*.{js}]
quote_type = double

[*.{markdown,md}]
trim_trailing_whitespace = false
