.github export-ignore
.gitignore export-ignore
.gitattributes export-ignore
scripts export-ignore

# make .po/.pot files less noisy, need to configure git first:
# $ git config diff.msgcat.textconv "msgcat --no-location --no-wrap --sort-output"
# to enable caching in "notes/textconv/msgcat":
# $ git config diff.msgcat.cachetextconv true
*.pot diff=msgcat
*.po diff=msgcat
