*.pyc
*.sw[po]
/weblate/repos/
locale/*/*/*.mo
/weblate/whoosh-index/
/weblate/avatar-cache/
weblate-*.tar.*
/translate
/social
/*.db
/weblate/settings.py
/weblate/test-repos/
/reports/
/tags
/django
.idea/*
*.sublime-*
/Weblate.egg-info/
/build/
/pyuca
/data/
/data-test/
