[submodule "scripts/language-data"]
	path = scripts/language-data
	url = https://github.com/WeblateOrg/language-data.git
[submodule "scripts/graphics"]
	path = scripts/graphics
	url = https://github.com/WeblateOrg/graphics.git
[submodule "scripts/iso-codes"]
	path = scripts/iso-codes
	url = https://salsa.debian.org/iso-codes-team/iso-codes.git
[submodule "scripts/spdx-license-list"]
	path = scripts/spdx-license-list
	url = https://github.com/spdx/license-list-data.git
[submodule "scripts/weblate_schemas"]
	path = scripts/weblate_schemas
	url = https://github.com/WeblateOrg/weblate_schemas.git
