*.pyproj
*.pyc
*.sw[pon]
/.coverage*
/weblate/locale/*/*/*.mo
weblate-*.tar.*
/*.db
/weblate/settings.py
/reports/
/tags
/prof
/junit.xml
.idea/*
*.sublime-*
.vscode/*
/weblate.egg-info/
/build/
/data/
/data-test/
/dist/
/.vs
/.venv
/.venv*
/venv
*.DS_Store
/weblate-env/
/test-images/
/cc-test-reporter
# Celery logs/pids
/weblate-*.log
/weblate-*.pid
/dev-docker/.env
/dev-docker/data/
/dev-docker/weblate-dev/requirements.txt
*~
/.dmypy.json
/fil-result/
/weblate/static/js/vendor/oss-licenses.json
*node_modules/
/weblate-openapi.yaml
