[submodule "scripts/graphics"]
	path = scripts/graphics
	url = https://github.com/WeblateOrg/graphics.git
[submodule "scripts/spdx-license-list"]
	path = scripts/spdx-license-list
	url = https://github.com/spdx/license-list-data.git
