# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-xml
  - id: check-toml
  - id: requirements-txt-fixer
  - id: check-merge-conflict
  - id: check-json
  - id: debug-statements
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: pretty-format-json
    args: [--no-sort-keys, --autofix, --no-ensure-ascii]
    exclude: ^weblate/trans/fixtures/simple-project.json|weblate/trans/tests/data/.*.json$
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.13.0
  hooks:
  - id: django-upgrade
    args: [--target-version, '3.2']
- repo: https://github.com/adrienverge/yamllint
  rev: v1.30.0
  hooks:
  - id: yamllint
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
  - id: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-bugbear==23.3.12
    - flake8-builtins==2.1.0
    - flake8-comprehensions==3.11.1
    - flake8-django==1.1.5
    - flake8-docstrings==1.7.0
    - flake8-eradicate==1.4.0
    - flake8-executable==2.1.3
    - flake8-logging-format==0.9.0
    - flake8-mutable==1.2.0
    - flake8-polyfill==1.0.2
    - flake8-print==5.0.0
    - flake8-return==1.2.0
    - flake8-self==0.2.2
    - flake8-assertive==2.1.0
    - pep8-naming==0.13.3
- repo: https://github.com/asottile/blacken-docs
  rev: 1.13.0
  hooks:
  - id: blacken-docs
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.0.0-alpha.6
  hooks:
  - id: prettier
    types_or: [css, javascript]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.8.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
  - id: pretty-format-toml
    args: [--autofix]
- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.16
  hooks:
  - id: mdformat
    additional_dependencies:
    - mdformat-gfm==0.3.5
    - mdformat-black==0.1.1
    - mdformat-shfmt==0.1.0
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v8.36.0
  hooks:
  - id: eslint
    args: [--format=compact]
    additional_dependencies:
    - prettier@2.8.7
    - eslint@8.36.0
    - eslint-plugin-import@2.27.5
    - eslint-plugin-node@11.1.0
    - eslint-plugin-promise@6.1.1
    - eslint-plugin-standard@4.1.0
    - eslint-config-prettier@8.8.0
    - eslint-plugin-prettier@4.2.1
- repo: https://github.com/awebdeveloper/pre-commit-stylelint
  rev: 0.0.2
  hooks:
  - id: stylelint
    args: [--formatter=compact]
    additional_dependencies:
    - stylelint@15.3.0
    - stylelint-config-prettier@9.0.5
    - stylelint-prettier@3.0.0
    - prettier@2.8.7
- repo: https://github.com/fsfe/reuse-tool
  rev: v1.1.2
  hooks:
  - id: reuse
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.8.0.4
  hooks:
  - id: shellcheck
    require_serial: true

exclude: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js$
ci:
  skip:
  - flake8
  autoupdate_schedule: quarterly
