# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-xml
  - id: check-toml
  - id: requirements-txt-fixer
  - id: check-merge-conflict
  - id: check-json
  - id: debug-statements
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: pretty-format-json
    args: [--no-sort-keys, --autofix, --no-ensure-ascii]
    exclude: ^weblate/trans/fixtures/simple-project.json|weblate/trans/tests/data/.*.json$
- repo: https://github.com/adrienverge/yamllint
  rev: v1.26.3
  hooks:
  - id: yamllint
- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.32.0
  hooks:
  - id: pyupgrade
    args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-bugbear
    - flake8-builtins
    - flake8-comprehensions
    - flake8-django
    - flake8-docstrings
    - flake8-eradicate
    - flake8-executable
    - flake8-logging-format
    - flake8-mutable
    - flake8-polyfill
    - flake8-print
    - flake8-return
    - flake8-self
    - flake8-assertive
    - pep8-naming
- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  - id: blacken-docs
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v2.6.2
  hooks:
  - id: prettier
    types_or: [css, javascript]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.14
  hooks:
  - id: mdformat
    additional_dependencies:
    - mdformat-gfm
    - mdformat-black
    - mdformat-shfmt
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v8.14.0
  hooks:
  - id: eslint
    args: [--format=compact]
    additional_dependencies:
    - prettier@2.2.1
    - eslint@>=6.2.2
    - eslint-plugin-import@>=2.18.0
    - eslint-plugin-node@>=9.1.0
    - eslint-plugin-promise@>=4.2.1
    - eslint-plugin-standard@>=4.0.0
    - eslint-config-prettier@latest
    - eslint-plugin-prettier@latest
- repo: https://github.com/awebdeveloper/pre-commit-stylelint
  rev: 0.0.2
  hooks:
  - id: stylelint
    args: [--formatter=compact]
    additional_dependencies:
    - stylelint@latest
    - stylelint-config-prettier@latest
    - stylelint-prettier@latest
    - prettier@2.2.1

exclude: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|docs/make\.bat$
ci:
  skip:
  - flake8
