# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

extends: stylelint-prettier/recommended
plugins: stylelint-prettier
rules:
  prettier/prettier: true
  no-descending-specificity: null
