#
# Weblate testsuite for Travis-CI
#
# - Test against all supported Django versions with sqlite
# - Test against all supported databases with current Django
# - Run Selenium tests on current Django
# - Run pylint/pep8 checker
#
language: python
# only python 2.7 is supported
python:
  - "2.7"
# build matrix configuration
env:
  matrix:
    - CI_PIP_DEPS="Django>=1.8,<1.9" CI_LINT=1
    - CI_PIP_DEPS="Django>=1.8,<1.9" CI_DATABASE=mysql
    - CI_PIP_DEPS="Django>=1.8,<1.9" CI_DATABASE=postgresql
    - CI_PIP_DEPS="Django>=1.7,<1.8"
    - CI_PIP_DEPS="Django>=1.8,<1.9"
    - CI_PIP_DEPS="Django>=1.8,<1.9" CI_DATABASE=postgresql CI_SELENIUM=1
  global:
    - DJANGO_SETTINGS_MODULE=weblate.settings_test
    - CI_REQUIREMENTS=travis
# commands to install dependencies
install:
  - ./ci/install
# create databases
before_script:
  - ./ci/setup-env
# commands to run tests
script:
  - if [ -z "$CI_LINT" ] ; then ./ci/run-test ; else ./ci/run-lint ; fi
# upload coverage
after_script:
  - if [ -f ".coverage" ] ; then coveralls ; fi
  - if [ -f ".coverage" ] ; then codecov ; fi
  - if [ -f ".coverage" ] ; then ocular --data-file ".coverage" --config-file ".coveragerc" ; fi
# cache configuration
cache:
  directories:
    - $HOME/.cache/pip
# use docker based faster build
sudo: false
# trigger Buildtime Trend Service to parse Travis CI log
notifications:
  webhooks:
    - https://buildtimetrend.herokuapp.com/travis
