version: '3'

##########
# WARNING!
# This docker-compose file is meant to be used in the development process
# and WILL perform very poorly in production.
#
# For production-ready docker-compose file see:
# https://github.com/WeblateOrg/docker-compose
#########

services:
  weblate:
    image: weblate-dev:latest
    build:
      context: .
      dockerfile: dev.Dockerfile
    ports:
      - ${WEBLATE_HOST}:8080
    user: $USER_ID:$GROUP_ID
    volumes:
      - $PWD:/srv
