include COPYING
include ChangeLog
include README.rst
include INSTALL
include CONTRIBUTING.md
include requirements-optional.txt
include requirements.txt
include manage.py
recursive-include weblate *.py
recursive-include weblate/ttf *
recursive-include weblate/static *
recursive-include weblate/html *.txt
recursive-include weblate/html *.html
recursive-include weblate/html *.svg
recursive-include weblate/locale *.pot
recursive-include weblate/locale *.po
recursive-include weblate/locale *.mo
recursive-include docs *.rst
include docs/images/*
include docs/conf.py
include docs/Makefile
include docs/make.bat
include docs/requirements.txt
include docs/_ext/*.py
include docs/_static/*.png
include docs/_templates/*.html
recursive-include examples *
include weblate/billing/test-data/*
include weblate/trans/tests/data/*
include weblate/trans/widget-images/*.png
include weblate/lang/plurals.txt
exclude weblate/settings.py
prune docs/_build
global-exclude *.swp *.swo
