-r docs/requirements.txt
-r requirements-lint.txt
-r requirements-optional.txt
-r requirements-test.txt
-r requirements-ci.txt
django-debug-toolbar==4.2.0
PyICU==2.12
reuse==3.0.0
scour==0.38.2
tinyunicodeblock==1.3
