-r requirements.txt
phply==1.2.5
chardet==3.0.4
Mercurial>=2.8; python_version < '3.0'
git-review
ruamel.yaml==0.16.5
tesserocr>=1.2; platform_system != 'Windows'
akismet==1.0.1
boto3
zeep
aeidon==1.6.0; python_version > '3.0'
