flake8
flake8-breakpoint; python_version >= '3.6'
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-django
flake8-docstrings
flake8-eradicate; python_version >= '3.6'
flake8-executable; python_version >= '3.6'
flake8-isort
flake8-logging-format
flake8-mutable
flake8-print
flake8-return; python_version >= '3.6'
flake8-self
flake8-string-format
pep8-naming
pre-commit
twine
