# Subtitles
aeidon==1.7.0
akismet==1.1
bleach==3.1.1
boto3==1.12.19
celery==4.4.0
celery-batches==0.3
# For Azure Tenant auth
cryptography==2.8
defusedxml==0.6.0
Django==3.0.4
django-appconf==1.0.3
django-auth-ldap==2.1.0
django-crispy-forms==1.8.1
django-redis==4.11.0
django_compressor==2.4
djangorestframework>=3.9,<3.12
hiredis==1.0.1
httpretty==0.9.7
jellyfish==0.7.2
kombu==4.6.8
openpyxl==3.0.1
phply==1.2.5
python-dateutil==2.8.1
python3-saml==1.9.0
pyuca==1.2
raven
redis==3.4.1
responses>=0.10.1,<0.11.0
rollbar
ruamel.yaml==0.16.10
selenium
setuptools
siphashc==1.3
social-auth-app-django==3.1.0
social-auth-core[openidconnect]==3.2.0
tesserocr==2.5.0
translate-toolkit==2.5.0
Whoosh==2.7.4
zeep==3.4.0
# Following are installed using apt:
# Pillow
# lxml
# PyYAML
