black==19.10b0
flake8==3.8.3
flake8-black==0.2.0
flake8-breakpoint==1.1.0
flake8-bugbear==20.1.4
flake8-builtins==1.5.3
flake8-comprehensions==3.2.3
flake8-django==1.1.1
flake8-docstrings==1.5.0
flake8-eradicate==0.4.0
flake8-executable==2.0.3
flake8-isort==3.0.0
flake8-logging-format==0.6.0
flake8-mutable==1.2.0
flake8-no-u-prefixed-strings==0.2
flake8-plugin-utils==1.3.0
flake8-polyfill==1.0.2
flake8-print==3.1.4
flake8-return==1.1.1
flake8-self==0.2.2
flake8-string-format==0.3.0
pep8-naming==0.11.0
pre-commit==2.5.1
twine
