Django>=1.11,<2.0; python_version < '3.0'
Django>=2.2,<2.3; python_version >= '3.0'
siphashc==1.2
Whoosh==2.7.4
translate-toolkit==2.4.0
lxml>=3.5,!=4.3.1
backports.csv==1.0.7; python_version < '3.0'
Pillow==6.2.1
bleach==3.1.0
six==1.12.0
python-dateutil==2.8.0
social-auth-core==3.2.0
social-auth-app-django==3.1.0
django-crispy-forms==1.7.2
oauthlib==3.1.0
django-compressor==2.3
djangorestframework>=3.9,<3.10; python_version < '3.0'
djangorestframework>=3.10,<3.11; python_version >= '3.0'
defusedxml==0.6.0
django-appconf==1.0.3
user-agents==2.0
filelock==3.0.12
setuptools
jellyfish==0.6.1; python_version < '3.0'
jellyfish==0.7.2; python_version >= '3.0'
openpyxl>=2.6.0,<3.1
celery==4.3.0
celery-batches==0.2
translation-finder==1.7
pathlib2; python_version < '3.4'
html2text==2019.8.11; python_version < '3.5'
html2text==2019.9.26; python_version >= '3.5'
pycairo>=1.10.0
pygobject>=3.14.0
diff-match-patch==20181111
requests==2.22.0
django-redis==4.10.0
hiredis==1.0.0
sentry_sdk==0.12.3
dogslow==1.2
Cython==0.29.13; python_version >= '3.0'
borgbackup==1.1.10; python_version >= '3.0'
