-r requirements.txt
# Subtitles
aeidon>=1.9.0,<1.10.0
# Antispam
akismet>=1.0.1,<1.2
# Amazon
boto3>=1.15.0,<1.18.0
# Unicode
chardet>=3.0.4,<5
# LDAP
django-auth-ldap>=1.3.0,<2.5.0
# Gerrit
git-review>=1.27.0
# Google
google-cloud-translate>=3.0.0,<3.2.0
# INI
iniparse==0.5
# Mercurial
Mercurial>=5.2
# MySQL
mysqlclient>=2.0.1
# PHP
phply==1.2.5
# Postgres
psycopg2-binary>=2.7.7,<2.9.0
# SAML
python3-saml>=1.2.1
# YAML
ruamel.yaml>=0.16.0,<0.18.0
# OpenIDConnect
social-auth-core[openidconnect]==4.1.0
# OCR
tesserocr>=2.3.0; platform_system != 'Windows'
# MSTerminology
zeep>=3.2.0,<4.1.0
