-r docs/requirements.txt
-r requirements-lint.txt
-r requirements-optional.txt
-r requirements-test.txt
-r requirements-ci.txt
-r requirements-mypy.txt
django-debug-toolbar==4.3.0
PyICU==2.12
reuse==3.0.1
scour==0.38.2
tinyunicodeblock==1.3
