-r requirements-test.txt
boto3-stubs==1.34.35
celery-types==0.22.0
celery-types==0.22.0
django-stubs-ext==4.2.7
django-stubs[compatible-mypy]==4.2.7
djangorestframework-stubs[compatible-mypy]==3.14.5
lxml-stubs==0.5.1
mypy==1.7.1
types-jsonschema==4.21.0.20240118
types-openpyxl==3.1.0.20240205
types-Pillow==10.2.0.20240125
types-requests==2.31.0.20240125
