{% load i18n icons %}

<div class="form-group">
  <h5 class="fs-6 fw-bold lh-base d-inline-block mb-0">{% translate "Integration instructions" %}</h5>

  <p>{% translate "Published translation files are available from the CDN base URL:" %}</p>
  <code>
    <button type="button"
            class="btn btn-link btn-xs float-end"
            data-clipboard-value="{{ url }}"
            title="{% translate "Copy to clipboard" %}"
            aria-label="{% translate "Copy to clipboard" %}">{% icon "copy.svg" %}</button>
    {{ url }}
  </code>

  <p>{% translate "Files use language-code names with the original file extension." %}</p>
</div>
