<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright © Michal Čihař <michal@weblate.org>
     SPDX-License-Identifier: GPL-3.0-or-later -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="ARSC instrumentation">
        <uses-library android:name="android.test.runner" android:required="false" />
    </application>
</manifest>
