{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'home' %}">{% trans "Permission Denied" %}</a>
  </li>
{% endblock %}


{% block content %}

  <div class="container">

    <h2>{% trans "Permission Denied" %}</h2>
    <p>{% trans "Insufficient privileges to display this page." %}</p>

    {% if not user.is_authenticated %}
      <a href="{% url 'login' %}{% if login_redirect_url %}?next={{ login_redirect_url|urlencode }}{% endif %}"
         class="btn btn-primary">{% trans "Sign in" %}</a>
    {% endif %}
    <a href="{% url 'home' %}" class="btn btn-primary">{% trans "Dashboard" %}</a>
    <a href="{% url 'projects' %}" class="btn btn-primary">{% trans "Browse all projects" %}</a>

  </div>

{% endblock %}
