{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans "Permission Denied" %}</a></li>
{% endblock %}

{% block content %}

<p>
{% trans "Insufficient privileges to display this page." %}
</p>

{% if not user.is_authenticated %}
<a href="{% url 'login' %}?next={{ login_redirect_url|urlencode }}" class="btn btn-primary">{% trans "Sign in" %}</a>
{% endif %}
<a href="{% url 'home' %}" class="btn btn-primary">{% trans "Dashboard" %}</a>
<a href="{% url 'projects' %}" class="btn btn-primary">{% trans "Browse all projects" %}</a>

{% endblock %}
