{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans "Permission Denied" %}</a></li>
{% endblock %}

{% block content %}
<p>{% trans "CSRF verification failed. Request aborted." %}</p>

{% if no_referer %}
<p>{% trans "This HTTPS site requires a 'Referer' header to be sent by your web browser, but none was sent. This header is required for security reasons, to ensure your browser is not hijacked by third-parties." %}</p>
<p>{% trans "If you have set up your web browser to not send 'Referer' headers, please turn that on (at-least for this site, for HTTPS connections, or for 'same-origin' requests)." %}</p>
{% endif %}
{% if no_cookie %}
<p>{% trans "This site requires a CSRF cookie when submitting forms. This cookie is required for security reasons, to ensure that your browser is not being hijacked by third-parties." %}</p>
<p>{% trans "If you have set up your browser to not save cookies, please turn them on again (at-least for this site, or for 'same-origin' requests)." %}</p>
{% endif %}

{% endblock %}
