{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load compress %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans "Internal Server Error" %}</a></li>
{% endblock %}

{% block content %}
<h2>{% trans "Server Error" %}</h2>

<p>
{% blocktrans %}The server had serious problems serving your request. Trained monkeys are en-route fixing the issue.{% endblocktrans %}
</p>

{% if sentry_event_id %}
<p>{% blocktrans with error_id=sentry_event_id %}If you need assistance, you may reference this error as {{ error_id }}.{% endblocktrans %}</p>

{% if sentry_dsn %}
<script src="{% static "vendor/sentry.js" %}"></script>

<script>
  Sentry.init({ dsn: '{{ sentry_dsn }}' });
  Sentry.showReportDialog({
{% if request.user.is_authenticated %}
    user: { name: "{{ user.full_name}}", email: "{{ user.email}}" },
{% endif %}
    eventId: '{{ sentry_event_id }}'
  })
</script>
{% endif %}
{% endif %}

{% endblock %}
