{% extends "message.html" %}
{% load i18n %}

{% block tags %}info{% endblock %}

{% block message %}
{% if payment_enabled and not user_billings %}
  <a href="{% url 'create-billing' %}?upgrade=1" class="btn btn-primary pull-right flip">{% trans "Purchase new hosting plan" %}</a>
{% else %}
  <a class="btn btn-primary pull-right flip" href="{% url 'billing' %}">{% trans "Check your billing status" %}</a>
{% endif %}
{% trans "This might be caused by missing subscription or some of your billings are past due date or over limits." %}
<div class="clearfix"></div>
{% endblock %}
