{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load humanize %}

{% block breadcrumbs %}
<li><a href="{% url 'checks' %}">{% trans "Checks" %}</a></li>
{% endblock %}

{% block content %}

<div class="row">
<div class="col-lg-6">

<table class="sort table progress-table table-listing">
    <thead>
        <tr>
            <th>{% trans "Check" %}</th>
            <th class="number">{% trans "Total" %}</th>
            <th class="number">{% trans "Dismissed" %}</th>
            <th class="number">{% trans "Active" %}</th>
            <th class="number">{% trans "Translated" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for check in checks %}
        <tr data-href="{% url 'show_check' name=check.check %}{{ url_params }}" class="clickable-row">
            <th><a href="{% url 'show_check' name=check.check %}{{ url_params }}"><abbr title="{% check_description check.check %}">{% check_name check.check %}</abbr></a></th>
            <td class="number" data-value="{{ check.check_count }}">{{ check.check_count |intcomma}}</td>
            <td class="number" data-value="{{ check.dismissed_check_count }}">{{ check.dismissed_check_count |intcomma}}</td>
            <td class="number" data-value="{{ check.active_check_count }}">{{ check.active_check_count |intcomma}}</td>
            <td class="number" data-value="{{ check.translated_check_count }}">{{ check.translated_check_count |intcomma}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>

<div class="col-lg-6">
<div class="panel panel-default">
  <div class="panel-heading"><h4 class="panel-title">{% trans "Information" %}</h4></div>
  <div class="panel-body">
  <p>{% trans "Customizable quality checks will help you improve the quality of translations." %}</p>
  <p>{% trans "The checks can help you identify problematic translations or source strings which are hard to translate." %}</p>
  </div>
  <div class="panel-footer">
  <a class="btn btn-primary" href="{% documentation 'user/checks' %}">{% trans "Documentation" %}</a>
  </div>
</div>
</div>
</div>

</div>

{% endblock %}
