{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block breadcrumbs %}
<li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
{% endblock %}

{% block content %}

<ul class="nav nav-pills">
  <li class="active"><a href="#overview" data-toggle="tab">{% trans "Components" %}</a></li>
  <li><a href="#information" data-toggle="tab">{% trans "Information" %}</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {% trans "Files" %} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{% url "download_component_list" name=object.slug %}?format=zip" title="{% trans "Download for offline translation." %}">{% blocktrans %}Download original translation files as ZIP file{% endblocktrans %}</a></li>
    </ul>
  </li>
</ul>

<div class="tab-content">

<div class="tab-pane active" id="overview">
{% include "snippets/list-objects.html" with objects=components label=_("Component") %}
</div>

<div class="tab-pane" id="information">

<table class="table table-striped">
<tr>
<th>{% trans "Number of components" %}</th>
<td class="full-cell number">{{ object.components.all|length }}</td>
</tr>


{% if object.stats.source_strings %}
  <tr>
    <th>{% trans "Languages" context "Number of used languages" %}</th>
    <td class="full-cell number">{{ object.stats.languages|intcomma }}</td>
  </tr>

  <tr>
    <th>{% trans "Source strings" context "Number of source strings" %}</th>
    <td class="full-cell number">{{ object.stats.source_strings|intcomma }}</td>
  </tr>

  <tr>
    <th>{% trans "Source words" context "Number of source words" %}</th>
    <td class="full-cell number">{{ object.stats.source_words|intcomma }}</td>
  </tr>

  <tr>
    <th>{% trans "Source characters" context "Number of source characters" %}</th>
    <td class="full-cell number">{{ object.stats.source_chars|intcomma }}</td>
  </tr>
{% endif %}

<tr>
  <th>{% trans "Hosted strings" context "Number of hosted strings" %}</th>
  <td class="full-cell number">{{ object.stats.all|intcomma }}</td>
</tr>

<tr>
  <th>{% trans "Hosted words" context "Number of hosted words" %}</th>
  <td class="full-cell number">{{ object.stats.all_words|intcomma }}</td>
</tr>

<tr>
  <th>{% trans "Hosted characters" context "Number of hosted characters" %}</th>
  <td class="full-cell number">{{ object.stats.all_chars|intcomma }}</td>
</tr>
{% for auto in object.autocomponentlist_set.all %}
<tr>
<th>{%if forloop.first%}{% trans "Automatic component list assignment" %}{% endif %}</th>
<td><code>project ~= {{ auto.project_match }}</code></td>
<td><code>component ~= {{ auto.component_match }}</code></td>
</tr>
{% endfor %}
</table>

</div>

</div>

{% endblock %}
