{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{% url 'data_root' %}">{% trans "Data export" %}</a></li>
{% endblock %}

{% block content %}

<p>
{% trans "You can retrieve various data from Weblate in machine readable format." %}
</p>

<h3>{% trans "RSS feeds" %}</h3>

<p>
{% trans "To follow translation progress you can use RSS feeds which include all important changes in translation." %}
{% blocktrans %}More information about exported RSS feeds is available in <a href="{{ rss_docs }}">the documentation</a>.{% endblocktrans %}
</p>

<table class="table">
<thead>
<tr>
<th>{% trans "URL" %}</th>
<th>{% trans "Link" %}</th>
</thead>
<tbody>
<tr>
<td>{{ site_url }}{% url 'rss' %}</td>
<td><a href="{{ site_url }}{% url 'rss' %}">{% trans "RSS" %}</a></td>
</tr>
</tbody>
</table>

<h3>{% trans "Per project data" %}</h3>

<p>
{% trans "There is more data exported per project, please check following links for more information." %}
</p>

<ul>
{% for project in acl_projects %}
<li><a href="{% url 'data_project' project=project.slug %}">{{ project.name }}</a></li>
{% endfor %}
</ul>

{% if hooks_enabled %}
<h3>{% trans "Notification hooks" %}</h3>

<p>
{% blocktrans %}With notification hooks, Weblate will automatically import changes done by your developers and will allow continuous translation. More information is available in <a href="{{ hooks_docs }}">the documentation</a>.{% endblocktrans %}
</p>
{% endif %}

{% endblock %}
