{% extends "base.html" %}
{% load i18n %}
{% load translations %}

{% block breadcrumbs %}
<li><a href="{{ project.get_absolute_url }}">{{ project }}</a></li>
<li><a href="{% url 'show_dictionaries' project=project.slug %}">{% trans "glossaries" %}</a></li>
{% endblock %}

{% block content %}
<table class="sort table table-condensed">
<thead>
<tr>
<th>{% trans "Language" %}</th>
<th>{% trans "Words" %}</th>
</tr>
<tbody>
{% for dict in dicts %}
<tr>
<th><a href="{% url 'show_dictionary' project=project.slug lang=dict.code %}">{{ dict }}</a></th>
<td class="number">{% dictionary_count dict project %}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
