{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load translations %}
{% load humanize %}

{% block breadcrumbs_container %}
{% endblock %}

{% block content %}

<div class="engage container">

<h1>{% blocktrans %}Get involved in <strong>{{ project }}</strong>{% endblocktrans %}</h1>

<h2>
<strong>{% trans "Hello and thank you for your interest" %}</strong>
&mdash;
{% blocktrans with project=project_link %}{{ project }} is being translated using {{ weblate_name_link }}, a web tool designed to ease translating for both developers and translators.{% endblocktrans %}
</h2>

<div class="row bignumbers">
<div class="col-md-4">
<strong>{{ full_stats.source_strings|intcomma }}</strong>
<p>{% blocktrans count count=full_stats.source_strings context "Label on enage page" %}String{% plural %}Strings{% endblocktrans %}</p>
</div>
<div class="col-md-4">
<strong>{{ full_stats.languages|intcomma }}</strong>
<p>{% blocktrans count count=full_stats.languages context "Label on enage page" %}Language{% plural %}Languages{% endblocktrans %}</p>
</div>
<div class="col-md-4">
<strong>{% blocktrans with translated=full_stats.translated_percent|intcomma context "Translated percents" %}{{percent}}%{% endblocktrans %}</strong>
<p>{% trans "Translated" %}</p>
</div>
</div>


<p>
{% if language %}
  {% blocktrans count cnt=total with count=total|intcomma %}The translation project for {{ project }} currently contains <strong>{{ count }} string</strong> for translation and is <strong>{{ percent }}% complete</strong>.{% plural %}The translation project for {{ project }} currently contains <strong>{{ count }} strings</strong> for translation and is <strong>{{ percent }}% complete</strong>.{% endblocktrans %}
{% else %}
  {% comment %}This is split into sentences to allow proper localization of plurals.{% endcomment %}
  {% blocktrans count cnt=total with count=total|intcomma %}The translation project for {{ project }} currently contains <strong>{{ count }} string</strong> for translation.{% plural %}The translation project for {{ project }} currently contains <strong>{{ count }} strings</strong> for translation.{% endblocktrans %}

  {% blocktrans count cnt=languages with count=languages|intcomma %}It is being translated into <strong>{{ count }} language</strong>.{% plural %}It is being translated into <strong>{{ count }} languages</strong>.{% endblocktrans %}

  {% blocktrans %}Overall, these translations are <strong>{{ percent }}% complete</strong>.{% endblocktrans %}
{% endif %}

{% blocktrans %}If you would like to contribute to translation of {{ project }}, you need to register on this server.{% endblocktrans %}
{% if object.access_control %}
  {% trans "This translation is open only to a limited group of translators, if you want to contribute please get in touch with the project maintainers." %}
{% endif %}
{% if not user.is_authenticated %}
  {% blocktrans %}Once you have activated your account, proceed to the translation section.{% endblocktrans %}
{% endif %}
</p>

<p class="buttons">
{% if not user.is_authenticated %}
<a href="{% url 'register' %}" class="btn btn-primary btn-lg">{% trans "Register" %}</a>
{% endif %}
<a id="engage-project" href="{{ object.get_absolute_url }}" class="btn btn-primary btn-lg">{% trans "Translate" %}</a>
<a href="{{ object.get_absolute_url }}#languages" class="btn btn-primary btn-lg">{% trans "View project languages" %}</a>
</p>

</div>
{% endblock %}
