{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block breadcrumbs_container %}
{% endblock %}

{% block content %}

<div class="row">

<div class="col-sm-3">
<img class="engage-icon" src="{% static 'weblate-128.png' %}" width="128" height="128" />
</div>

<div class="col-sm-9 engage">

<h1>{% blocktrans %}Get involved in {{ project }}!{% endblocktrans %}</h1>

<p>
{% blocktrans %}Hi, and thank you for your interest!{% endblocktrans %}
</p>
<p>
{% blocktrans %}{{ project }} is being translated using <a href="{{ weblate_url }}">Weblate</a>, a web tool designed to ease translating for both developers and translators.{% endblocktrans %}
</p>
<p>
{{ status_text }}
</p>
<p>
{% url 'register' as reg_url %}
{% blocktrans %}If you would like to contribute to translation of {{ project }}, you need to <a href="{{ reg_url }}">register on this server</a>.{% endblocktrans %}
</p>
{% if object.enable_acl %}
<p>
{% trans "This translation is open only to limited group of translators, if you want to contribute please get in touch with project maintainers." %}
</p>
{% endif %}
<p>
{% blocktrans %}Once you have activated your account just proceed to the <a href="{{ url }}">translation section</a>.{% endblocktrans %}
</p>

</div>
</div>
{% endblock %}
