{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block breadcrumbs_container %}
{% endblock %}

{% block content %}

<div class="row">

<div class="col-sm-3">
<img class="engage-icon" src="{% static 'weblate-128.png' %}" width="128" height="128" />
</div>

<div class="col-sm-9 engage">

<h1>{% blocktrans %}Get involved in {{ project }}.{% endblocktrans %}</h1>

<p>
{% blocktrans %}Hi, and thank you for your interest.{% endblocktrans %}
</p>
<p>
{% blocktrans %}{{ project }} is being translated using {{ weblate_name_link }}, a web tool designed to ease translating for both developers and translators.{% endblocktrans %}
</p>
<p>
{{ status_text }}
</p>
<p>
{% blocktrans %}If you would like to contribute to translation of {{ project }}, you need to register on this server.{% endblocktrans %}
</p>
{% if object.access_control %}
<p>
{% trans "This translation is open only to a limited group of translators, if you want to contribute please get in touch with the project maintainers." %}
</p>
{% endif %}
<p>
{% blocktrans %}Once you have activated your account, proceed to the translation section.{% endblocktrans %}
</p>

<p>
<a href="{% url 'register' %}" class="btn btn-success btn-lg">{% trans "Register" %}</a>
<a href="{{ url }}" class="btn btn-success btn-lg">{% trans "Translate" %}</a>
</p>

</div>
</div>
{% endblock %}
