{% if simple %}
<span lang="{{ language.code }}" dir="{{ language.direction }}">{{ items.0.content }}</span>
{% else %}
<div class="list-group">
  {% for item in items %}
  <div class="list-group-item">
    {% if item.title %}
    <h5 class="list-group-item-heading"><strong>{{ item.title }}</strong></h5>
    {% endif %}
    <div id="source{{ checksum }}{{ forloop.counter0 }}" class="list-group-item-text" lang="{{ language.code }}" dir="{{ language.direction }}">{{ item.content }}</div>
    {% if checksum %}
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-default btn-xs pull-right" data-clipboard-target="#source{{ checksum }}{{ forloop.counter0 }}" data-clipboard-text>Copy to clipboard</button>
      </div>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endif %}
