{% load i18n %}
{% load permissions %}
{% load translations %}

{% perm 'unit.edit' unit as user_can_translate %}
{% perm 'suggestion.add' unit.translation as user_can_suggest %}

{% for item in glossary %}
    <tr class="glossary-embed" title="{% trans "Copy word into translation" %}">
    <td>{{ item.source }}</td>
    <td class="target">{% format_translation item.target unit.translation.language unit.translation.plural simple=True %}</td>
    </tr>
{% empty %}
    <tr>
    <td colspan="2">
{% trans "No related strings found in the glossary." %}
    </td>
    </tr>
{% endfor %}
