{% load i18n %}

<!-- Modal that shows available keyboard shortcuts  -->
<div class="modal fade " id="shortcuts-modal" tabindex="-1" role="dialog" aria-labelledby="shortcutsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans " Close" %}">
          <span aria-hidden="true">&times;
        </button>
        <h4 id="shortcutsModal" class="panel-title">{% trans "Available Shortcuts" %}</h4>
      </div>
      <div class="modal-body" id="shortcuts-table-container">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col" id="t-head">{% trans "Shortcut" %}</th>
              <th scope="col" id="t-head">{% trans "Action" %}</th>
            </tr>
          </thead>
          <tbody>
            <tr id="shortcut">
              <td><kbd>?</kbd></td>
              <td>{% trans "Open available keyboard shortcuts"%}</td>
            </tr>
            <tr>
              <td><kbd>Alt</kbd> + <kbd>Home</kbd></td>
              <td>{% trans "Navigate to first translation in current search."%}</td>
            </tr>
            <tr>
              <td><kbd>Alt</kbd> + <kbd>End</kbd></td>
              <td>{% trans "Navigate to last translation in current search."%}</td>
            </tr>
            <tr>
              <td>
                <kbd>Alt</kbd> + <kbd>PageUp</kbd> {% trans "or" %} <br>
                <kbd>Ctrl</kbd> + <kbd>↑</kbd> {% trans "or" %} <br>
                <kbd>Alt</kbd> + <kbd>↑</kbd> {% trans "or" %} <br>
                <kbd>Cmd</kbd> + <kbd>↑</kbd> {% trans "or" %} <br>
              </td>
              <td>{% trans "Navigate to last translation in current search."%}</td>
            </tr>
            <tr>
              <td>
                <kbd>Alt</kbd> + <kbd>PageDown</kbd> {% trans "or" %} <br>
                <kbd>Ctrl</kbd> + <kbd>↓</kbd> {% trans "or" %} <br>
                <kbd>Alt</kbd> + <kbd>↓</kbd> {% trans "or" %} <br>
                <kbd>Cmd</kbd> + <kbd>↓</kbd> {% trans "or" %} <br>
              </td>
              <td>{% trans "Navigate to next translation in current search."%}</td>
            </tr>

            <tr>
              <td>
                <kbd>Ctrl</kbd> + <kbd>Enter</kbd> {% trans "or" %} <br>
                <kbd>Cmd</kbd> + <kbd>Enter</kbd>
              </td>
              <td>{% trans "Submit current form; this is same as pressing Save and continue while editing translation."%}</td>
            </tr>
            <tr>
              <td>
                <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>Enter</kbd> {% trans "or" %} <br>
                <kbd>Cmd</kbd> + <kbd>Shift</kbd> +<kbd>Enter</kbd>
              </td>
              <td>{% trans "Unmark translation as needing edit and submit it."%}</td>
            </tr>
            <tr>
              <td>
                <kbd>Alt</kbd> + <kbd>Enter</kbd> {% trans "or" %} <br>
                <kbd>Option</kbd> + <kbd>Enter</kbd>
              </td>
              <td>{% trans "Submit the string as a suggestion; this is same as pressing Suggest while editing translation."%}</td>
            </tr>
            <tr>
              <td>
                <kbd>Ctrl</kbd> + <kbd>E</kbd> {% trans "or" %} <br>
                <kbd>Cmd</kbd> + <kbd>E</kbd>
              </td>
              <td>{% trans "Focus translation editor."%}</td>
            </tr>
            <tr>
              <td>
                <kbd>Ctrl</kbd> + <kbd>U</kbd> {% trans "or" %} <br>
                <kbd>Cmd</kbd> + <kbd>U</kbd>
              </td>
              <td>{% trans "Focus comment editor."%}</td>
            </tr>
            <tr>
              <td>
                <kbd>Ctrl</kbd> + <kbd>M</kbd> {% trans "or" %} <br>
                <kbd>Cmd</kbd> + <kbd>M</kbd>
              </td>
              <td>{% trans "Shows Automatic suggestions tab."%}</td>
            </tr>
            <tr>
              <td>
                <kbd>Ctrl</kbd> + <kbd>1</kbd> {% trans "to" %}
                <kbd>Ctrl</kbd> + <kbd>9</kbd> {% trans "or" %} <br>
                <kbd>Cmd</kbd> + <kbd>1</kbd> {% trans "to" %}
                <kbd>Cmd</kbd> + <kbd>9</kbd>
              </td>
              <td>{% trans "Copies placeable of given number from source string."%}</td>
            </tr>
            <tr>
              <td>
                <kbd>Ctrl</kbd> + <kbd>M</kbd> {% trans "followed by" %}
                <kbd>1</kbd> {% trans "to" %} <kbd>9</kbd> {% trans "or" %} <br>
                <kbd>Cmd</kbd> + <kbd>M</kbd> {% trans "followed by" %}
                <kbd>1</kbd> {% trans "to" %}
                <kbd>9</kbd>
              </td>
              <td>{% trans "Copy the machine translation of given number to current translation."%}</td>
            </tr>
            <tr>
              <td>
                <kbd>Ctrl</kbd> + <kbd>I</kbd> {% trans "followed by" %}
                <kbd>1</kbd> {% trans "to" %}
                <kbd>9</kbd> {% trans "or" %} <br>
                <kbd>Cmd</kbd> + <kbd>I</kbd> {% trans "followed by" %}
                <kbd>1</kbd> {% trans "to" %}
                <kbd>9</kbd>
              </td>
              <td>{% trans "Ignore one item in the list of failing checks."%}</td>
            </tr>
            <tr>
              <td>
                <kbd>Ctrl</kbd> + <kbd>J</kbd> {% trans "or" %}
                <br> <kbd>Cmd</kbd> + <kbd>J</kbd>
              </td>
              <td>{% trans "Shows the Nearby strings tab."%}</td>
            </tr>
            <tr>
              <td>
                <kbd>Ctrl</kbd> + <kbd>S</kbd> {% trans "or" %}
                <br> <kbd>Cmd</kbd> + <kbd>S</kbd>
              </td>
              <td>{% trans "Focus search field."%}</td>
            </tr>
            <tr>
              <td>
                <kbd>Ctrl</kbd> + <kbd>O</kbd> {% trans "or" %} <br>
                <kbd>Cmd</kbd> + <kbd>O</kbd>
              </td>
              <td>{% trans "Copy source string."%}</td>
            </tr>
            <tr>
              <td><kbd>Ctrl</kbd> + <kbd>Y</kbd> {% trans "or" %}
                <br> <kbd>Cmd</kbd> + <kbd>Y</kbd>
              </td>
              <td>{% trans "Toggle the Needs editing checkbox."%}</td>
            </tr>
            <tr>
              <td>
                <kbd>→</kbd> and <br> <kbd>←</kbd>
              </td>
              <td>{% trans "Browse the next translation strings. <br> Browse the previous translation strings."%}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div>
  </div>
</div>
