{% extends "base.html" %}

{% load crispy_forms_tags i18n metrics permissions translations %}

{% block nav_pills %}
  {% perm 'project.edit' object.project as user_can_edit_project %}
  {% perm 'upload.perform' object as user_can_upload_translation %}

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active"
         data-bs-target="#translation"
         data-bs-toggle="tab"
         href="#">{% translate "Translation" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-target="#components" data-bs-toggle="tab" href="#">{% translate "Components" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-target="#information" data-bs-toggle="tab" href="#">{% translate "Overview" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-target="#search" data-bs-toggle="tab" href="#">{% translate "Search" %}</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">{% translate "Insights" %}</a>
      <ul class="dropdown-menu shadow">
        <li>
          <a class="dropdown-item" data-bs-target="#history" data-bs-toggle="tab" href="#">{% translate "History" %}</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'checks' path=object.get_url_path %}">{% translate "Failing checks" %}</a>
        </li>
        {% if last_announcements %}
          <li>
            <a class="dropdown-item"
               href="#announcement-history"
               data-bs-toggle="tab"
               href="#">{% translate "Announcements" %}</a>
          </li>
        {% endif %}
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">{% translate "Files" %}</a>
      <ul class="dropdown-menu shadow">
        <li>
          <a class="dropdown-item"
             href="{% url 'download' path=object.get_url_path %}?format=zip"
             title="{% translate "Download for offline translation." %}">{% blocktranslate %}Download original translation files as ZIP file{% endblocktranslate %}</a>
        </li>
        <li>
          <a class="dropdown-item"
             href="{% url 'download' path=object.get_url_path %}?format=zip:csv"
             title="{% translate "Download for offline translation." %}">{% blocktranslate %}Download translations as CSV in a ZIP file{% endblocktranslate %}</a>
        </li>
        <li>
          <a class="dropdown-item"
             href="{% url 'download' path=object.get_url_path %}?format=zip:xliff11"
             title="{% translate "Download for offline translation." %}">{% blocktranslate %}Download translations as XLIFF 1.1 in a ZIP file{% endblocktranslate %}</a>
        </li>
        <li>
          <a class="dropdown-item"
             href="{% url 'download' path=object.get_url_path %}?format=zip:xlsx"
             title="{% translate "Download for offline translation." %}">{% blocktranslate %}Download translations as XLSX in a ZIP file{% endblocktranslate %}</a>
        </li>
        {% if user_can_upload_translation %}
          <li>
            <a class="dropdown-item" data-bs-target="#upload" data-bs-toggle="tab">{% translate "Upload translation" %}</a>
          </li>
        {% endif %}
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">{% translate "Operations" %}</a>
      <ul class="dropdown-menu shadow">
        {% if replace_form %}
          <li>
            <a class="dropdown-item" data-bs-target="#replace" data-bs-toggle="tab" href="#">{% translate "Search and replace" %}</a>
          </li>
        {% endif %}
        {% if bulk_state_form %}
          <li>
            <a class="dropdown-item" data-bs-target="#bulk-edit" data-bs-toggle="tab" href="#">{% translate "Bulk edit" %}</a>
          </li>
        {% endif %}
        {% if autoform %}
          <li>
            <a class="dropdown-item" data-bs-target="#auto" data-bs-toggle="tab" href="#">{% translate "Batch automatic translation" %}</a>
          </li>
        {% endif %}
        <li>
          <hr class="dropdown-divider">
        </li>
        {% if user_can_edit_project %}
          <li>
            <a class="dropdown-item" href="{% url 'settings' path=object.get_url_path %}">{% translate "Settings" %}</a>
          </li>
        {% endif %}
        {% if announcement_form %}
          <li>
            <a class="dropdown-item"
               data-bs-target="#announcement"
               data-bs-toggle="tab"
               href="#">{% translate "Post announcement" %}</a>
          </li>
        {% endif %}
        {% if delete_form %}
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" data-bs-target="#organize" data-bs-toggle="tab" href="#">{% translate "Organize or remove" %}</a>
          </li>
        {% endif %}
      </ul>
    </li>
    {% include "snippets/share-menu.html" with object=object %}
    {% include "snippets/watch-dropdown.html" %}
  </ul>
{% endblock nav_pills %}

{% block breadcrumbs %}
  {% path_object_breadcrumbs path_object %}

  <a class="ms-auto" href="{{ object.get_widgets_url }}">
    <img src="{% url 'widget-image' path=object.get_url_path widget='svg' color='badge' extension='svg' %}?native=1" />
  </a>
{% endblock breadcrumbs %}

{% block content %}

  {% announcements language=language project=project %}
  {% perm 'project.edit' object.project as user_can_edit_project %}
  {% get_translate_url object as translate_url %}
  {% perm 'upload.perform' object as user_can_upload_translation %}

  <div class="tab-content">

    <div class="tab-pane active" id="translation">{% include "snippets/translation.html" %}</div>
    <div class="tab-pane" id="components">
      {% include "snippets/list-objects.html" with objects=translation_objects list_categories=categories name_source="component_name" label=_("Component") %}

      {% include "paginator.html" with page_obj=translations anchor="components" %}
    </div>

    <div class="tab-pane" id="information">
      {% show_info project=project language=language stats=language_stats metrics=object|metrics show_full_language=False %}
    </div>

    <div class="tab-pane" id="history">
      {% format_last_changes_content last_changes=last_changes user=user %}
      <a class="btn btn-primary" href="{% url 'changes' path=object.get_url_path %}">{% translate "Browse all changes for this language" %}</a>
    </div>

    {% if last_announcements %}
      <div class="tab-pane" id="announcement-history">
        {% format_last_changes_content last_changes=last_announcements user=user %}
        <a class="btn btn-primary"
           href="{% url 'changes' path=object.get_url_path %}?action=46">{% translate "Browse all project changes" %}</a>
      </div>
    {% endif %}

    <div class="tab-pane" id="search">

      <form action="{{ translate_url }}" method="get">
        {% include "snippets/search-form.html" %}
      </form>

    </div>

    {% if autoform %}
      <div class="tab-pane" id="auto">{% include "snippets/autoform.html" with object=object autoform=autoform %}</div>
    {% endif %}

    {% if delete_form %}
      <div class="tab-pane" id="organize">{% include "trans/delete-form.html" %}</div>
    {% endif %}

    {% if replace_form %}
      <div class="tab-pane" id="replace">
        <form action="{% url 'replace' path=object.get_url_path %}"
              method="post"
              enctype="multipart/form-data">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                {% documentation_icon 'user/translating' 'search-replace' right=True %}
                {% translate "Search and replace" %}
              </h4>
            </div>
            <div class="card-body">{% crispy replace_form %}</div>
            <div class="card-footer">
              <input type="submit" value="{% translate "Replace" %}" class="btn btn-primary" />
            </div>
          </div>
        </form>
      </div>
    {% endif %}

    {% if bulk_state_form %}
      <div class="tab-pane" id="bulk-edit">
        <form action="{% url 'bulk-edit' path=object.get_url_path %}"
              method="post"
              enctype="multipart/form-data">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                {% documentation_icon 'user/translating' 'bulk-edit' right=True %}
                {% translate "Bulk edit" %}
              </h4>
            </div>
            <div class="card-body">{% crispy bulk_state_form %}</div>
            <div class="card-footer">
              <input type="submit" value="{% translate "Apply" %}" class="btn btn-primary" />
            </div>
          </div>
        </form>
      </div>
    {% endif %}

    {% if user_can_upload_translation %}
      <div class="tab-pane" id="upload">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">
              {% documentation_icon 'user/files' 'upload' right=True %}
              {% translate "Upload" %}
            </h4>
          </div>
          <div class="card-body">
            <p>
              {% blocktranslate trimmed %}
                Project-wide uploads are currently not supported. Translation
                files need to be uploaded on the individual translations. Switch
                to the "Components" tab above, open the desired component, and
                perform the upload there.
              {% endblocktranslate %}
            </p>
          </div>
        </div>
      </div>
    {% endif %}

    {% if announcement_form %}
      <div class="tab-pane" id="announcement">
        <form action="{% url 'announcement' path=object.get_url_path %}" method="post">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                {% documentation_icon 'admin/announcements' right=True %}
                {% translate "Post announcement" %}
              </h4>
            </div>
            <div class="card-body">
              {% csrf_token %}
              {{ announcement_form|crispy }}
              <p class="help-block">
                {% translate "The message is shown for all translations within the project, until its given expiry, or permanently until it is deleted." %}
              </p>
            </div>
            <div class="card-footer">
              <input type="submit" value="{% translate "Add" %}" class="btn btn-primary" />
            </div>
          </div>
        </form>
      </div>
    {% endif %}

  </div>

{% endblock content %}
