{% extends "base.html" %}
{% load i18n %}
{% load translations %}

{% block breadcrumbs %}
<li><a href="{% url 'languages' %}">{% trans "Languages" %}</a></li>
{% endblock %}

{% block content %}

<table class="sort table">
<thead>
<tr>
<th>{% trans "Language" %}</th>
{% include "snippets/progress-total-heads.html" %}
</tr>
</thead>
<tbody>
{% for lang in languages %}
<tr>
<th><a href="{{ lang.get_absolute_url }}">{{ lang }}</a></th>
{% translation_progress_cells lang %}
{% translation_progress_cells lang global_stats %}
{% words_progress_cells lang %}
{% words_progress_cells lang global_stats %}
</tr>
{% endfor %}
</tbody>
</table>

{% include "legend.html" %}

{% endblock %}
