{% extends "base.html" %}
{% load i18n %}
{% load translations %}

{% block breadcrumbs %}
<li><a href="{% url 'languages' %}">{% trans "Languages" %}</a></li>
<li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
{% endblock %}

{% block content %}

{% whiteboard_messages language=object %}

<ul class="nav nav-pills">
  <li class="active"><a href="#overview" data-toggle="tab">{% trans "Projects" %}</a></li>
  <li><a href="#information" data-toggle="tab">{% trans "Information" %}</a></li>
  <li><a href="#history" data-toggle="tab">{% trans "History" %}</a></li>
  <li><a href="#activity" data-toggle="tab" data-load="activity" data-yearly="{% url 'yearly_activity' lang=object.code %}" data-monthly="{% url 'monthly_activity' lang=object.code %}">{% trans "Activity" %}</a></li>
  <li><a href="#dicts" data-toggle="tab">{% trans "Glossaries" %}</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {% trans "Tools" %} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'checks' %}?language={{ object.code }}">{% trans "Failing checks" %}</a></li>
      <li><a href="{% url 'checks' %}?language={{ object.code }}&amp;ignored=true">{% trans "Ignored checks" %}</a></li>
    </ul>
   </li>
</ul>

<div class="tab-content">

<div class="tab-pane active" id="overview">
<table class="sort table">
<thead>
<tr>
<th>{% trans "Project" %}</th>
<th colspan="2">{% trans "Translated" %}</th>
<th colspan="2">{% trans "Words" %}</th>
</tr>
<tbody>
{% for prj in projects %}
<tr>
<th><a href="{% url 'project-language' lang=object.code project=prj.slug %}">{{ prj }}</a></th>
<td class="progress-cell">{% translation_progress prj.language_stats %}</td>
<td class="percent">{{ prj.language_stats.translated_percent }}%</td>
<td class="progress-cell">{% words_progress prj.language_stats %}</td>
<td class="percent">{{ prj.language_stats.translated_words_percent }}%</td>
</tr>
{% endfor %}
</tbody>
</table>

</div>

<div class="tab-pane" id="information">

<table class="table">
<tr>
<th>{% trans "Language code" %}</th>
<td colspan="2">{{ object.code }}</td>
</tr>
<tr>
<th>{% trans "Text direction" %}</th>
<td colspan="2">{{ object.get_direction_display }}</td>
</tr>

{% for plural in object.plural_set.all %}
<tr class="info">
<th colspan="3">
<span class="badge pull-right flip">{{ plural.translation_set.count }}</span>
{% blocktrans with source_description=plural.get_source_display %}Plural: {{ source_description }}{% endblocktrans %}
</th>
</tr>
<tr>
<th>{% trans "Number of plurals" %}</th>
<td colspan="2">{{ plural.number }}</td>
</tr>
<tr>
<th>{% trans "Plural type" %}</th>
<td colspan="2">{{ plural.get_type_display }}</td>
</tr>
<tr>
<th rowspan="{{ plural.number }}">{% trans "Plurals" %}</th>
{% if plural.number > 1 %}
{% for item in plural.list_plurals %}
{% if item.index > 1 %}
<tr>
{% endif %}
<td>{{ item.name }}</td>
<td>{{ item.examples }}</td>
</tr>
{% endfor %}
{% endif %}
<tr>
<th>{% trans "Plural equation" %}</th>
<td colspan="2"><code>{{ plural.equation }}</code></td>
</tr>
{% endfor %}
</table>

</div>

<div class="tab-pane" id="history">
{% include "last-changes-content.html" %}
<a class="btn btn-default" href="{% url 'changes' %}?{{ last_changes_url }}">{% trans "Browse all language changes" %}</a>
</div>

{% include "activity-tab.html" %}

<div class="tab-pane" id="dicts">
{% if dicts %}
<div class="list-group">
{% for dict in dicts %}
<a class="list-group-item" href="{% url 'show_dictionary' lang=object.code project=dict.slug %}">{{ dict }}</a>
{% endfor %}
</div>
{% else %}
{% trans "There are no glossaries defined for this language." as msg %}
{% show_message "info" msg %}
{% endif %}
</div>

</div>

{% endblock %}
