{% load translations %}
{% load i18n %}
{% for source, translations in data %}
<tr {% if last %} id="last-section"{% endif %}>
<td>
<a href="{{ source.get_absolute_url }}">{% format_translation source.source source.translation.component.source_language num_plurals=source.translation.plural.number unit=source simple=True %}</a>
</td>
{% for unit in translations %}
<td>
<a href="{{ unit.get_absolute_url }}">{% format_translation unit.target unit.translation.language unit.translation.plural unit=unit simple=True %}</a>
</td>
{% endfor %}
</tr>
{% endfor %}
