{% extends "base.html" %}
{% load i18n %}
{% load permissions %}
{% load translations %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<li><a href="{{ object.project.get_absolute_url }}">{{ object.project }}</a></li>
<li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
{% endblock %}

{% block content %}

{% if namespace %}
<div class="tab-pane" id="customlang">

<form action="{% url 'new-namespaced-language' project=object.project.slug component=object.slug %}" method="post">
{% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-heading"><h4 class="panel-title">{% trans "Customize existing translation" %}</h4></div>
    <div class="panel-body">
      <p>{% trans "Please choose the language you want to customize." %}</p>
      {{ form|crispy }}
    </div>
    <div class="panel-footer">
      <input class="btn btn-primary" type="submit" value="{% trans "Customize" %}" />
    </div>
  </div>
</form>
</div>
{% endif %}

{% endblock %}
