{% load i18n %}
{% load permissions %}
{% load translations %}
<tr>
<th>{% trans "Project website" %}</th>
<td colspan="2"><a href="{{ object.web }}">{{ object.web }}</a></td>
</tr>

{% if object.mail %}
<tr>
<th>{% trans "Mailing list for translators" %}</th>
<td colspan="2"><a href="mailto:{{ object.mail }}">{{ object.mail }}</a></td>
</tr>
{% endif %}

{% if object.instructions %}
<tr>
<th>{% trans "Instructions for translators" %}</th>
<td colspan="2">{{ object.instructions|markdown }}</td>
</tr>
{% endif %}

{% perm 'billing.view' object as user_can_view_billing %}

{% if user_can_view_billing %}
{% with object.billing_set.all as billings %}
{% if billings %}
<tr>
<th>{% trans "Billing" %}</th>
<td colspan="2">
{% for billing in billings %}
  <a href="{{ billing.get_absolute_url }}">{{ billing.plan }}
    {% if billing.is_trial %}
      <span class="badge">{% trans "Trial" %}</span>
    {% endif %}
    {% if not billing.is_active %}
      <span class="badge">{% trans "Expired" %}</span>
    {% endif %}
  </a>
{% endfor %}
</td>
</tr>
{% endif %}
{% endwith %}
{% endif %}
