{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{% url 'projects' %}">{% trans "Projects" %}</a></li>
{% endblock %}

{% block content %}

{% include "list-projects.html" %}

{% if payment_enabled %}
<a href="{% url 'create-billing' %}?upgrade=1" class="btn btn-primary">{% trans "Purchase new hosting plan" %}</a>
{% elif offer_hosting %}
<p><a class="btn btn-primary" href="{% url 'hosting' %}">{% trans "Ask for project hosting" %}</a></p>
{% endif %}

{% endblock %}
