{% extends "base.html" %}

{% load crispy_forms_tags i18n permissions translations %}

{% block breadcrumbs %}
  <li>
    <a href="{{ object.get_absolute_url }}">{{ object }}</a>
  </li>
  <li>
    <a href="{% url 'labels' project=object.slug %}">{% translate "Labels" %}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}

  <form method="post">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{% translate "Edit label" %}</h4>
      </div>
      <div class="card-body">{% crispy form %}</div>
      <div class="card-footer">
        <input type="submit" class="btn btn-primary" value="{% translate "Save" %}" />
      </div>
    </div>
  </form>

{% endblock content %}
