{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<li><a href="{{ object.project.get_absolute_url }}">{{ object.project }}</a></li>
<li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
<li><a href="{% url 'settings' project=object.project.slug subproject=object.slug %}">{% trans "Settings" %}</a></li>
{% endblock %}

{% block content %}
<form action="{% url 'settings' project=object.project.slug subproject=object.slug %}" method="post" enctype="multipart/form-data">
{% csrf_token %}

<ul class="nav nav-pills">
  <li class="active"><a href="#basic" data-toggle="tab">{% trans "Basic" %}</a></li>
  <li><a href="#translation" data-toggle="tab">{% trans "Translation" %}</a></li>
  <li><a href="#vcs" data-toggle="tab">{% trans "Version control" %}</a></li>
  <li><a href="#files" data-toggle="tab">{% trans "Files" %}</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="basic">
{% crispy settings_forms.0 %}
</div>
<div class="tab-pane" id="translation">
{% crispy settings_forms.1 %}
</div>
<div class="tab-pane" id="vcs">
{% crispy settings_forms.2 %}
</div>
<div class="tab-pane" id="files">
{% crispy settings_forms.3 %}
</div>
</div>

<input type="submit" value="{% trans "Save" %}" class="btn btn-default" />

</form>

{% endblock %}
