{% load i18n %}
{% load permissions %}

{# perm 'upload.perform' object as user_can_upload_translation %}

<li><a href="{% url 'download_translation' project=project.slug lang=language.code %}" title="{% trans "Download for an offline translation." %}">{% blocktrans with object.component.file_format_name as format %}Download original translation file ({{format}}){% endblocktrans %}</a></li>
<li><a href="{% url 'download_translation_format' project=project.slug lang=language.code %}?format=xliff" title="{% trans "Download for an offline translation." %}">{% trans "Download translation as XLIFF with gettext extensions" %}</a></li>
<li><a href="{% url 'download_translation_format' project=project.slug lang=language.code %}?format=xliff11" title="{% trans "Download for an offline translation." %}">{% trans "Download translation as XLIFF 1.2" %}</a></li>
<li><a href="{% url 'download_translation_format' project=project.slug lang=language.code %}?format=po" title="{% trans "Download for an offline translation." %}">{% trans "Download translation as gettext PO" %}</a></li>
<li><a href="{% url 'download_translation_format' project=project.slug lang=language.code %}?format=mo" title="{% trans "Download for an offline translation." %}">{% trans "Download translation as gettext MO" %}</a></li>
<li><a href="{% url 'download_translation_format' project=project.slug lang=language.code %}?format=csv" title="{% trans "Download for an offline translation." %}">{% trans "Download translation as CSV" %}</a></li>
<li><a href="{% url 'download_translation_format' project=project.slug lang=language.code %}?format=tmx" title="{% trans "Download for an offline translation." %}">{% trans "Download translation as TMX" %}</a></li>
{% if object.stats.todo %}
<li role="separator" class="divider"></li>
<li><a href="{% url 'download_translation_format' project=project.slug lang=language.code %}?format=xliff&amp;type=todo" title="{% trans "Download for an offline translation." %}">{% trans "Download strings needing action as XLIFF with gettext extensions" %}</a></li>
<li><a href="{% url 'download_translation_format' project=project.slug lang=language.code %}?format=xliff11&amp;type=todo" title="{% trans "Download for an offline translation." %}">{% trans "Download strings needing action as XLIFF 1.2" %}</a></li>
<li><a href="{% url 'download_translation_format' project=project.slug lang=language.code %}?format=po&amp;type=todo" title="{% trans "Download for an offline translation." %}">{% trans "Download strings needing action as gettext PO" %}</a></li>
<li><a href="{% url 'download_translation_format' project=project.slug lang=language.code %}?format=mo&amp;type=todo" title="{% trans "Download for an offline translation." %}">{% trans "Download strings needing action as gettext MO" %}</a></li>
<li><a href="{% url 'download_translation_format' project=project.slug lang=language.code %}?format=csv&amp;type=todo" title="{% trans "Download for an offline translation." %}">{% trans "Download strings needing action as CSV" %}</a></li>
<li><a href="{% url 'download_translation_format' project=project.slug lang=language.code %}?format=tmx&amp;type=todo" title="{% trans "Download for an offline translation." %}">{% trans "Download strings needing action as TMX" %}</a></li>
{% endif %}
<li role="separator" class="divider"></li>
<li><a href="#download" data-toggle="tab">{% trans "Customize download" %}</a></li>
{% if user_can_upload_translation %}
<li role="separator" class="divider"></li>
<li><a href="#upload" data-toggle="tab">{% trans "Upload translation" %}</a></li>
{% endif %}
