{% extends "base.html" %}

{% load crispy_forms_tags humanize i18n metrics permissions translations %}

{% block breadcrumbs %}
  {% path_object_breadcrumbs path_object %}

  <a class="pull-right flip" href="{{ object.get_widgets_url }}">
    <img src="{% url 'widget-image' path=object.get_url_path widget='svg' color='badge' extension='svg' %}?native=1" />
  </a>
{% endblock breadcrumbs %}

{% block content %}

  {% announcements component=object.component language=object.language %}

  {% include "snippets/component/state.html" with object=object.component %}

  {% include "snippets/watch-dropdown.html" with project=object.component.project component=object.component %}

  {% perm 'meta:vcs.status' object as user_can_see_repository_status %}
  {% perm 'upload.overwrite' object as user_can_overwrite_translation %}
  {% perm 'upload.perform' object as user_can_upload_translation %}
  {% perm 'unit.add' object as user_can_add_unit %}

  {% get_translate_url object as translate_url %}
  {% url 'translate' path=object.get_url_path as edit_url %}
  {% url 'zen' path=object.get_url_path as zen_url %}
  {% url 'browse' path=object.get_url_path as browse_url %}

  <ul class="nav nav-pills">
    <li class="active">
      <a href="#translation" data-toggle="tab">{% translate "Translation" %}</a>
    </li>
    <li>
      <a href="#information" data-toggle="tab">{% translate "Overview" %}</a>
    </li>
    <li>
      <a href="#search" data-toggle="tab">{% translate "Search" %}</a>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        {% translate "Insights" %} <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#history" data-toggle="tab">{% translate "History" %}</a>
        </li>
        <li>
          <a href="{% url 'api:translation-statistics' component__project__slug=object.component.project.slug component__slug=object.component.api_slug language__code=object.language.code %}?format=csv">{% translate "Download statistics (CSV)" %}</a>
        </li>
        <li>
          <a href="{% url 'api:translation-statistics' component__project__slug=object.component.project.slug component__slug=object.component.api_slug language__code=object.language.code %}?format=json-flat">{% translate "Download statistics (JSON)" %}</a>
        </li>
        <li>
          <a href="{% url 'checks' path=object.get_url_path %}">{% translate "Failing checks" %}</a>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        {% translate "Files" %} <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        {% if object.filename %}
          <li>
            <a href="{% url 'download' path=object.get_url_path %}">{% translate "Download translation" %}</a>
          </li>
        {% endif %}
        <li>
          <a href="#download" data-toggle="tab">{% translate "Customize download" %}</a>
        </li>
        {% if user_can_upload_translation %}
          <li>
            <a href="#upload" data-toggle="tab">{% translate "Upload translation" %}</a>
          </li>
        {% endif %}
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        {% translate "Tools" %} <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        {% if replace_form %}
          <li>
            <a href="#replace" data-toggle="tab">{% translate "Search and replace" %}</a>
          </li>
        {% endif %}
        {% if bulk_state_form %}
          <li>
            <a href="#bulk-edit" data-toggle="tab">{% translate "Bulk edit" %}</a>
          </li>
        {% endif %}
        {% if autoform %}
          <li>
            <a href="#auto" data-toggle="tab">{% translate "Automatic translation" %}</a>
          </li>
        {% endif %}
        <li>
          <a href="{% url 'data_project' project=object.component.project.slug %}">{% translate "Data exports" %}</a>
        </li>
        {% if user_can_add_unit %}
          <li>
            <a href="#new" data-toggle="tab">{{ object.component.get_add_label }}</a>
          </li>
        {% endif %}
      </ul>
    </li>
    {% if user_can_see_repository_status or announcement_form %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          {% translate "Manage" %} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          {% if user_can_see_repository_status %}
            <li>
              <a href="#repository"
                 data-toggle="tab"
                 data-href="{% url 'git_status' path=object.get_url_path %}">{% translate "Repository maintenance" %}</a>
            </li>
          {% endif %}
          {% if announcement_form %}
            <li role="separator" class="divider"></li>
            <li>
              <a href="#announcement" data-toggle="tab">{% translate "Post announcement" %}</a>
            </li>
          {% endif %}
          {% if delete_form %}
            <li role="separator" class="divider"></li>
            <li>
              <a href="#organize" data-toggle="tab">{% translate "Organize or remove" %}</a>
            </li>
          {% endif %}
        </ul>
      </li>
    {% endif %}
    {% include "snippets/share-menu.html" with object=object %}
  </ul>


  <div class="tab-content">
    <div class="tab-pane active" id="translation">

      {% include "snippets/translation.html" %}

      {% if other_translations %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{% translate "Other components" %}</h4>
          </div>
          {% include "snippets/list-objects.html" with objects=other_translations name_source="component_name" label=_("Component") %}
          <div class="panel-footer">
            {% get_projectlanguage object.component.project object.language as project_language %}
            <a href="{{ project_language.get_absolute_url }}" class="btn btn-primary">{% translate "Browse all components" %}</a>
          </div>
        </div>
      {% endif %}

    </div>

    <div class="tab-pane" id="information">
      {% show_info project=object.component.project component=object.component translation=object language=object.language stats=object.stats metrics=object|metrics show_full_language=False %}
    </div>

    <div class="tab-pane" id="history">
      {% include "last-changes-content.html" %}
      <a class="btn btn-primary" href="{% url 'changes' path=object.get_url_path %}">{% translate "Browse all translation changes" %}</a>
    </div>

    {% if autoform %}
      <div class="tab-pane" id="auto">
        <form action="{% url 'auto_translation' path=object.get_url_path %}"
              method="post"
              enctype="multipart/form-data"
              data-persist="auto-translation">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                {% documentation_icon 'user/translating' 'auto-translation' right=True %}
                {% translate "Automatic translation" %}
              </h4>
            </div>
            <div class="panel-body">
              <p>
                {% translate "Automatic translation takes existing translations in this project and applies them to the current component. It can be used to push translations to a different branch, to fix inconsistent translations or to translate a new component using translation memory." %}
              </p>
              <p>
                {% translate "Automatic translation via machine translation uses active machine translation engines to get the best possible translations and applies them in this project." %}
              </p>
              {% crispy autoform %}
            </div>
            <div class="panel-footer">
              <input type="submit" value="{% translate "Apply" %}" class="btn btn-primary" />
            </div>
          </div>
        </form>
      </div>
    {% endif %}

    {% if replace_form %}
      <div class="tab-pane" id="replace">

        <form action="{% url 'replace' path=object.get_url_path %}"
              method="post"
              enctype="multipart/form-data">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                {% documentation_icon 'user/translating' 'search-replace' right=True %}
                {% translate "Search and replace" %}
              </h4>
            </div>
            <div class="panel-body">{% crispy replace_form %}</div>
            <div class="panel-footer">
              <input type="submit" value="{% translate "Replace" %}" class="btn btn-primary" />
            </div>
          </div>
        </form>
      </div>
    {% endif %}

    {% if bulk_state_form %}
      <div class="tab-pane" id="bulk-edit">
        <form action="{% url 'bulk-edit' path=object.get_url_path %}"
              method="post"
              enctype="multipart/form-data">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                {% documentation_icon 'user/translating' 'bulk-edit' right=True %}
                {% translate "Bulk edit" %}
              </h4>
            </div>
            <div class="panel-body">{% crispy bulk_state_form %}</div>
            <div class="panel-footer">
              <input type="submit" value="{% translate "Apply" %}" class="btn btn-primary" />
            </div>
          </div>
        </form>
      </div>
    {% endif %}

    {% if user_can_add_unit %}
      <div class="tab-pane" id="new">
        <div id="new-singular">
          <form action="{% url 'new-unit' path=object.get_url_path %}" method="post">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">{{ object.component.get_add_label }}</h4>
              </div>
              <div class="panel-body">
                {% if obj.is_source %}
                  <p>{% translate "You can add a new translation string here, it will automatically appear in all translations." %}</p>
                {% endif %}
                {% csrf_token %}
                {{ new_unit_form|crispy }}
                {% if supports_plural and object.plural.number > 1 %}
                  <label class="radio-inline">
                    <input type="radio"
                           name="new-unit-form-type"
                           id="show-singular"
                           value="singular"
                           checked>
                    {% translate "Singular" %}
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="new-unit-form-type" id="show-plural" value="plural">
                    {% translate "Plural" %}
                  </label>
                {% endif %}
              </div>
              <div class="panel-footer">
                <input type="submit" value="{% translate "Add" %}" class="btn btn-primary" />
              </div>
            </div>
          </form>
        </div>
        {% if supports_plural and object.plural.number > 1 %}
          <div id="new-plural" class="hidden">
            <form action="{% url 'new-unit' path=object.get_url_path %}" method="post">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">{{ object.component.get_add_label }}</h4>
                </div>
                <div class="panel-body">
                  {% if obj.is_source %}
                    <p>{% translate "You can add a new translation string here, it will automatically appear in all translations." %}</p>
                  {% endif %}
                  {% csrf_token %}
                  {{ new_unit_plural_form|crispy }}
                  <label class="radio-inline">
                    <input type="radio" name="new-unit-form-type" id="show-singular" value="singular">
                    {% translate "Singular" %}
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="new-unit-form-type" id="show-plural" value="plural">
                    {% translate "Plural" %}
                  </label>
                </div>
                <div class="panel-footer">
                  <input type="submit" value="{% translate "Add" %}" class="btn btn-primary" />
                </div>
              </div>
            </form>
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="tab-pane" id="download">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            {% documentation_icon 'user/files' 'download' right=True %}
            {% translate "Quick downloads" %}
          </h4>
        </div>
        <table class="table table-listing table-striped">
          {% if object.filename %}
            <tr>
              <th class="number">{{ object.stats.all|intcomma }}</th>
              <td>{% translate "File in original format as translated in the repository" %}</td>
              <td class="number" colspan="{{ exporters|length }}">
                <a class="btn-inline" href="{% url 'download' path=object.get_url_path %}">{{ object.component.file_format_name }}</a>
              </td>
            </tr>
          {% endif %}
          <tr>
            <th class="number">{{ object.stats.all|intcomma }}</th>
            <td>{% translate "All strings, converted files enriched with comments; suitable for offline translation" %}</td>
            {% for exporter in exporters %}
              <td class="formats">
                <a class="btn-inline"
                   href="{% url 'download' path=object.get_url_path %}?format={{ exporter.name }}">{{ exporter.verbose }}</a>
              </td>
            {% endfor %}
          </tr>
          {% if object.stats.todo %}
            <tr>
              <th class="number">{{ object.stats.todo|intcomma }}</th>
              <td>{% translate "Unfinished strings, converted files enriched with comments; suitable for offline translation" %}</td>
              {% for exporter in exporters %}
                <td class="formats">
                  <a class="btn-inline"
                     href="{% url 'download' path=object.get_url_path %}?format={{ exporter.name }}&amp;q=state:&lt;translated">{{ exporter.verbose }}</a>
                </td>
              {% endfor %}
            </tr>
          {% endif %}
        </table>
      </div>

      <form class="double-submission"
            action="{% url 'download' path=object.get_url_path %}"
            method="get"
            data-persist="download-translation">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              {% documentation_icon 'user/files' 'download' right=True %}
              {% translate "Customize download" %}
            </h4>
          </div>
          <div class="panel-body">{% crispy download_form %}</div>
          <div class="panel-footer">
            <input type="submit" value="{% translate "Download" %}" class="btn btn-primary" />
          </div>
        </div>
      </form>
    </div>

    {% if user_can_upload_translation %}
      <div class="tab-pane" id="upload">
        <form action="{% url 'upload' path=object.get_url_path %}"
              method="post"
              enctype="multipart/form-data"
              data-persist="upload-translation">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                {% documentation_icon 'user/files' 'upload' right=True %}
                {% translate "Upload" %}
              </h4>
            </div>
            <div class="panel-body">
              <p>
                {% translate "The uploaded file will be merged with the current translation." %}
                {% if user_can_overwrite_translation %}
                  {% translate "Select it from the dropdown menu if you want to overwrite already translated strings." %}
                {% endif %}
              </p>
              {% csrf_token %}
              {% crispy form %}
            </div>
            <div class="panel-footer">
              <input type="submit" value="{% translate "Upload" %}" class="btn btn-primary" />
            </div>
          </div>
        </form>
      </div>
    {% endif %}

    {% if announcement_form %}
      <div class="tab-pane" id="announcement">
        <form action="{% url 'announcement' path=object.get_url_path %}" method="post">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                {% documentation_icon 'admin/announcements' right=True %}
                {% translate "Post announcement" %}
              </h4>
            </div>
            <div class="panel-body">
              {% csrf_token %}
              {{ announcement_form|crispy }}
              <p class="help-block">
                {% translate "The message is shown on the translation page, until its given expiry, or deletion." %}
              </p>
            </div>
            <div class="panel-footer">
              <input type="submit" value="{% translate "Add" %}" class="btn btn-primary" />
            </div>
          </div>
        </form>
      </div>
    {% endif %}

    {% if delete_form %}
      <div class="tab-pane" id="organize">{% include "trans/delete-form.html" %}</div>
    {% endif %}

    {% if user_can_see_repository_status %}
      <div class="tab-pane" id="repository">
        <p>{% translate "Loading…" %}</p>
      </div>
    {% endif %}

    <div class="tab-pane" id="search">

      <form action="{{ translate_url }}" method="get" data-persist="search-translation">
        {% include "snippets/search-form.html" %}
      </form>

    </div>

  </div>

{% endblock content %}
