{% load i18n %}
{% load permissions %}

{% if subject == 'translation'  %}
    {% perm 'upload.perform' object as user_can_upload_translation %}
{% endif %}

{% include "translation-download-link.html" %}

<li role="separator" class="divider"></li>

{% for exporter in exporters %}
    {% include "translation-download-link.html" %}
{% endfor %}

{% if stats.todo %}
    <li role="separator" class="divider"></li>

    {% for exporter in exporters %}
        {% include "translation-download-link.html" with todo=True %}
    {% endfor %}
{% endif %}

<li role="separator" class="divider"></li>

<li><a href="#download" data-toggle="tab">{% trans "Customize download" %}</a></li>
{% if user_can_upload_translation %}

<li role="separator" class="divider"></li>

<li><a href="#upload" data-toggle="tab">{% trans "Upload translation" %}</a></li>
{% endif %}
