{% load i18n %}
{% load translations %}
{% if unit.location %}
<tr>
<th>{% trans "Source string location" %}</th>
</tr>
<tr>
<td>{% get_location_links unit %}</td>
</tr>
{% endif %}
{% if unit.comment %}
<tr>
<th>{% trans "Comments" %}</th>
</tr>
<tr>
<td>{{ unit.comment }}</td>
</tr>
{% endif %}
<tr>
<th>{% trans "Source string age" %}</th>
</tr>
<tr>
<td>{{ unit.source_info.timestamp|naturaltime }}</td>
</tr>
<tr>
<th>{% trans "Translation file" %}</th>
</tr>
<tr>
<td>
{% blocktrans with unit.translation.filename as filename and unit.position as position %}{{ filename }}, translation unit {{ position }}{% endblocktrans %}
</td>
</tr>
