{% extends "base.html" %}

{% load i18n icons %}

{% block nav_pills %}
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active"
         data-bs-target="#projects"
         data-bs-toggle="tab"
         href="#">{% translate "Projects" %}</a>
    </li>
    {% if billing %}
      <li class="nav-item">
        <a class="nav-link" data-bs-target="#billing" data-bs-toggle="tab" href="#">{% translate "Billing" %}</a>
      </li>
    {% endif %}
    {% if can_manage_access %}
      <li class="nav-item">
        <a class="nav-link" data-bs-target="#access" data-bs-toggle="tab" href="#">{% translate "Access control" %}</a>
      </li>
    {% endif %}
  </ul>
{% endblock nav_pills %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{{ object.get_absolute_url }}">{{ object }}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}

  <div class="tab-content">
    <div class="tab-pane active" id="projects">
      {% include "list-projects.html" %}

      {% if not projects and create_project_url %}
        <p>
          <a class="btn btn-primary" href="{{ create_project_url }}">{% translate "Add new translation project" %}</a>
        </p>
      {% endif %}

      {% include "paginator.html" with page_obj=projects anchor="projects" %}
    </div>

    {% if billing %}
      <div class="tab-pane" id="billing">{% include "billing/detail-content.html" %}</div>
    {% endif %}

    {% if can_manage_access %}
      <div class="tab-pane" id="access">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{% translate "Teams" %}</h4>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{% translate "Name" %}</th>
                <th>{% translate "Roles" %}</th>
                <th>{% translate "Members" %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for group in workspace_teams %}
                <tr>
                  <td>{% include "auth/teams-name.html" %}</td>
                  <td>{% include "auth/teams-roles.html" %}</td>
                  <td class="number">{% include "auth/teams-count.html" %}</td>
                  <td>
                    <a href="{{ group.get_absolute_url }}"
                       class="btn btn-link btn-xs"
                       title="{% translate "Edit" %}">{% icon 'pencil.svg' %}</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}
  </div>

{% endblock content %}
