{% load i18n translations %}

<h4>
  {% if service.is_configured %}
    {% if service.sitewide %}
      <span class="badge float-end text-bg-secondary"
            title="{% translate "This service is installed site wide." %}">{% translate "site wide" %}</span>
    {% endif %}
    {% if not service.is_enabled %}
      <span class="badge float-end text-bg-secondary"
            title="{% translate "This service is installed site wide, but disabled." %}">{% translate "disabled" %}</span>
    {% endif %}
  {% endif %}
  {{ service.name }}
  {% if service.is_available %}
    {% documentation_icon "admin/machine" service.doc_anchor %}
  {% else %}
    <span class="badge badge-danger">{% translate "Service is no longer available" %}</span>
  {% endif %}
</h4>
