{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% trans "Status of repositories" %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="../">
{% trans "Home" %}</a> &rsaquo; {% trans "Status" %}
</div>{% endblock %}

{% block content %}
<div id="content-main">
  <h1>{% trans "Status of repositories" %}</h1>
  {% for sp in components %}
    <h3 id="component-{{ sp.pk }}"><a href="{{ sp.get_absolute_url }}">{{ sp }}</a></h3>
{% if sp.is_repo_link %}
<p>
{% trans "This repository is linked to:" %} <a href="#component-{{ sp.linked_component.pk }}">{{ sp.repo }}</a>
</p>
{% else %}
    <pre>
{{ sp.repository.status }}
    </pre>
{% endif %}
  {% endfor %}
</div>
{% endblock %}
