{% load i18n %}

{% include "accounts/snippets/login-about.html" %}

{% if has_legal %}
  {# Translators: This is followed by list of legal documents such as Privacy Policy or General Terms and Conditions #}
  <p>{% translate "By registering and signing in to this service you accept our:" %}</p>
  <ul>
    <li>
      <a href="{% url 'legal:terms' %}">{% blocktranslate %}General Terms and Conditions{% endblocktranslate %}</a>
    </li>
    <li>
      <a href="{% url 'legal:privacy' %}">{% blocktranslate %}Privacy Policy{% endblocktranslate %}</a>
    </li>
  </ul>

  <p>
    {% blocktranslate %}Quick overview of the General Terms and Conditions and the Privacy Policy, but you should still read the original documents to fully understand them:{% endblocktranslate %}
  </p>

  {% include 'legal/documents/summary.html' %}

{% elif private_commit_email_opt_in %}
  <p>
    {% translate "By registering you agree to use your name and e-mail in version control system commits and provide your contribution under license defined by each translated project." %}
  </p>
{% else %}
  <p>
    {% translate "By registering you agree to use your name in version control system commits and provide your contribution under license defined by each translated project." %}
  </p>
{% endif %}
