{% load i18n %}

{% include "accounts/snippets/login-about.html" %}

{% if has_legal %}
  {# Translators: This is followed by list of legal documents such as Privacy Policy or General Terms and Conditions #}
  <p>{% translate "By registering and signing in to this service you accept our:" %}</p>
  <ul>
    <li>
      <a href="{% url 'legal:terms' %}">{% blocktranslate %}General Terms and Conditions{% endblocktranslate %}</a>
    </li>
    <li>
      <a href="{% url 'legal:privacy' %}">{% blocktranslate %}Privacy Policy{% endblocktranslate %}</a>
    </li>
  </ul>

  <p>
    {% blocktranslate %}Quick overview of the General Terms and Conditions and the Privacy Policy, but you should still read the original documents to fully understand them:{% endblocktranslate %}
  </p>

  {% include 'legal/documents/summary.html' %}

{% else %}
  <p>
    {% translate "By registering, you agree that your name and username will be visible publicly as long as your account exists." %}
    {% if private_commit_email_opt_in %}
      {% translate "Additionally, your name and e-mail can be used in version control system commits to author the changes you made; it can be stored there indefinitely." %}
      {% translate "You can enable using a private commit e-mail in your profile." %}
    {% else %}
      {% translate "Additionally, your name can be used in version control system commits to author the changes you made; it can be stored there indefinitely." %}
    {% endif %}
    {% translate "Your contribution will be published under the license defined by each project you contributed to." %}
  </p>
{% endif %}
