body {
    font-family: sans-serif;
    color:black;
    background:white;
    padding:0;
    margin:0;
}
a {
    color: #004276;
}
div.content {
    margin: 0.5em;
}
ul.footer{
    padding:0;
    margin:1em;
    max-width:none;
    clear:both;
}
ul.footer li{
    font-size:smaller;
    list-style:none;
    float:left;
    padding:1em;
    color:gray;
    border:none;
}
ul.footer a{
    color:#333;
}
h1 {
    padding: 0.5em;
    margin: 0;
}
ul.menu {
    float: right;
    padding: 1em;
    margin: 0;
    font-size: smaller;
    list-style: none;
}
ul.menu li {
    display: inline-block;
}
ul.breadcums {
    list-style: none;
    padding: 1em;
    margin: 0;
    font-size: smaller;
}
ul.breadcums li {
    display: inline-block;
}
.translatetext {
    background-color: #eee;
}
.hlspace {
    border-bottom: 1px dotted red;
    color: gray;
    white-space: pre;
    display: inline-block;
}
.suggestionactions {
    float: right;
}
.suggestionactions a {
    width: 20px;
    height: 20px;
}
td.translator {
    width: 60em;
    max-width: 50%;
}
textarea.translation {
    width: 100%;
    height: 3em;
}
td.suggestions table {
    width: 100%
}
.button-prev, .button-next, .button-first, .button-end, .ignorecheck {
    width: 20px;
    height: 20px;
}
td.toolbar a {
    height: 20px;
    font-size: 10px;
    font-weight: normal;
}
.helptext {
    font-size: smaller;
}
.percent, .number {
    text-align: right;
}
div.progress {
    width: 20em;
    height: 1em;
    background: #ddd;
    border: 1px solid #aaa;
}
span.plural {
    font-size: smaller;
}
span.pluraltxt,label.plural {
    font-size: smaller;
    font-style: italic;
}
div.floatbox {
    float: left;
    margin-right: 1em;
}
div.clearer {
    clear: both;
}
span.sort {
    display: inline-block;
}
th.sort {
    cursor: pointer;
}
td.translatetext a {
    text-decoration: none;
}
ins {
    background-color: lightgreen;
}
del {
    background-color: #fc7979;
}
ul.pages {
    display: block;
    list-style: none;
    margin: 0.5em;
    padding: 1em;
}
ul.pages li {
    display: inline-block;
}
ul.pages li a {
    padding: 0.2em;
}
ul.pages li.active a {
    font-weight: bolder;
}
ul.pages li.disabled span {
    padding: 0.2em;
}
ul.buttons {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.buttons li {
    display: inline-block;
}
span#navi-toolbar {
    padding: 4px;
    margin: 0.5em;
    display: block;
    font-weight: normal;
}
span.navi a {
    vertical-align: bottom;
}
span.navi a.button-pos {
    font-size: 10px;
    height: 20px;
    vertical-align: bottom;
    margin-right: -5px;
}
