body {
    font-family: sans-serif;
    color:black;
    background:white;
    padding:0;
    margin:0;
}
a {
    color: #004276;
}
div.content {
    margin: 0.5em;
}
ul.footer{
    padding:0;
    margin:1em;
    max-width:none;
    clear:both;
}
ul.footer li{
    font-size:smaller;
    list-style:none;
    float:left;
    padding:1em;
    color:gray;
    border:none;
}
body.dir-rtl ul.footer li {
    float: right;
}
ul.footer a{
    color:#333;
}
h1 {
    padding: 0.5em;
    margin: 0;
}
ul.menu {
    float: right;
    padding: 1em;
    margin: 0;
    font-size: smaller;
    list-style: none;
}
body.dir-rtl ul.menu {
    float: left;
}
ul.menu li {
    display: inline-block;
}
ul.breadcrumbs {
    list-style: none;
    padding: 1em;
    margin: 0;
    font-size: smaller;
}
ul.breadcrumbs li {
    display: inline-block;
}
.translatetext {
    background-color: #eee;
}
.current_translation {
    background-color: #ddd;
}
.translation_comment {
	white-space: pre-line;
}

.hlspace {
    border-bottom: 1px dotted red;
    color: gray;
    white-space: pre;
    display: inline-block;
}
.space-tab {
    width: 4em;
    text-align: center;
}
.suggestionactions {
    float: right;
}
body.dir-rtl .suggestionactions {
    float: left;
}
.suggestionactions a {
    width: 20px;
    height: 20px;
}
td.translator {
    width: 60em;
    max-width: 50%;
}
textarea.translation {
    width: 100%;
    height: 3em;
}
td.suggestions table {
    width: 100%
}
.button-prev, .button-next, .button-first, .button-end, .ignorecheck {
    width: 20px;
    height: 20px;
}
.toolbar a {
    height: 20px;
    font-size: 10px;
    font-weight: normal;
    vertical-align: top;
}
.specialchars a {
    height: 20px;
    font-size: 12px;
    font-weight: normal;
    vertical-align: top;
}
.specialchars a span {
    padding: 2px 4px !important;
}
.specialchars {
    margin-left: 5em;
}
body.dir-rtl .specialchars {
    margin-left: 0;
    margin-left: 5em;
}
.helptext {
    font-size: smaller;
}
.percent, .number {
    text-align: right;
}
body.dir-rtl .parent, body.dir-rtl .number {
    text-align: left;
}
div.progress {
    width: 20em;
    height: 1em;
    background: #ddd;
    border: 1px solid #aaa;
}
span.plural {
    font-size: smaller;
}
span.pluraltxt,label.plural {
    font-size: smaller;
    font-style: italic;
}
span.sort {
    display: inline-block;
}
th.sort {
    cursor: pointer;
}
td.translatetext a {
    text-decoration: none;
}
ins {
    background-color: lightgreen;
}
del {
    background-color: #fc7979;
}
ul.buttons {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.buttons li {
    display: inline-block;
}
span#navi-toolbar {
    padding: 4px;
    margin: 0.5em;
    display: block;
    font-weight: normal;
}
span.navi a {
    vertical-align: bottom;
}
span.navi a.button-pos {
    font-size: 10px;
    height: 20px;
    vertical-align: bottom;
    margin-right: -5px;
}
body.dir-rtl span.navi a.button-pos {
    margin-right: 0;
    margin-left: -5px;
}
form.letter, form.letter p {
    display: inline;
}
form.letter select, form.letter p {
    font-size: 10px;
    font-weight: bolder;
}

div.engage {
    margin-left: 150px;
    max-width: 40em;
    font-size: large;
    padding: 1em;
}

img.engage-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}
body.dir-rtl img.engage-icon {
    left: 0;
    right: 10px;
}

pre.code {
    max-width: 80em;
    overflow: auto;
}
div#subscriptions ul {
    list-style: none;
    padding: 0;
}
.hidden {
    display: none;
}
.expander {
    cursor: pointer;
}
span.check {
    white-space: nowrap;
}
a.rss {
    float: right;
    display: block;
}
body.dir-rtl a.rss {
    float: right;
}
