body {
    font-family: sans-serif;
    color:black;
    background:white;
    padding:0;
    margin:0;
}
a {
    color: #004276;
}
.content {
    margin: 0.5em;
}
footer ul {
    padding:0;
    margin:1em;
    max-width:none;
    clear:both;
}
footer li{
    font-size:smaller;
    list-style:none;
    float:left;
    padding:1em;
    color:gray;
    border:none;
}
.dir-rtl footer > li {
    float: right;
}
footer a{
    color:#333;
}
h1 {
    padding: 0.5em;
    margin: 0;
}
nav ul {
    padding: 1em;
    margin: 0;
    font-size: smaller;
    list-style: none;
}
.menu-float {
    float: right;
}
.dir-rtl .menu-float {
    float: left;
}
nav li {
    display: inline-block;
}
.translatetext {
    background-color: #eee;
}
.translatetext a, .translatetext a .direction {
    display: block;
}
.current_translation .translatetext {
    background-color: #ddd;
}
.translation_comment {
    white-space: pre-line;
}
.hlmatch {
    background-color: #eb3;
}
.hlspace {
    border-bottom: 1px dotted red;
    color: gray;
    white-space: pre;
    display: inline-block;
}
.space-tab {
    width: 4em;
    text-align: center;
}
.action-buttons button {
    width: 20px;
    height: 20px;
}
.translator {
    width: 60em;
    max-width: 50%;
}
.translation-editor {
    font-size: larger;
    width: 100%;
    height: 3em;
}
.suggestions {
    width: 100%
}
.ignorecheck {
    height: 1em;
    width: 1em;
}
.navi-toolbar .ui-buttonset, .toolbar a, .small-button {
    font-size: 10px !important;
    vertical-align: bottom;
}
.toolbar a, .small-button {
    font-weight: normal !important;
    vertical-align: top;
    white-space: nowrap;
}
.specialchar {
    font-size: 0.7em;
    font-weight: normal;
    vertical-align: top;
}
.specialchar .ui-button-text {
    padding: 2px 4px;
}
.specialchars {
    margin-left: 5em;
}
.dir-rtl .specialchars {
    margin-left: 0;
    margin-left: 5em;
}
.helptext {
    font-size: smaller;
}
.percent, .number {
    text-align: right;
}
.dir-rtl .parent, .dir-rtl .number {
    text-align: left;
}
.progress {
    width: 20em;
    height: 1em;
    background: #ddd;
    border: 1px solid #aaa;
    vertical-align: bottom;
    display: inline-block;
}
.legend .progress {
    width: 1em;
    display: inline-block;
    vertical-align: bottom;
}
.legend {
    font-size: smaller;
    color: gray;
    margin: 0.5em;
}
.progress .fuzzy {
    background: #cc0000;
}
.progress .checks {
    background: url("./progress-diagonals.png") repeat scroll 50% 50% #004276;
}
.plurallabel {
    font-size: smaller;
}
.pluraltxt,.pluralequation {
    font-size: smaller;
    font-style: italic;
}
span.sort {
    display: inline-block;
}
th.sort {
    cursor: pointer;
}
td.translatetext a {
    text-decoration: none;
}
ins {
    background-color: lightgreen;
}
del {
    background-color: #fc7979;
}
ul.buttons {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.buttons li {
    display: inline-block;
}
.navi-toolbar {
    padding: 4px;
    margin: 0.5em;
    display: block;
    font-weight: normal;
}
.textbutton.ui-button {
    font-size: 10px;
    vertical-align: bottom;
    margin-right: -5px;
}
.dir-rtl .textbutton.ui-button {
    margin-right: 0;
    margin-left: -5px;
}
.navi-toolbar form, .navi-toolbar p {
    display: inline;
}
.navi-toolbar select, .navi-toolbar p {
    font-size: 10px;
    font-weight: bolder;
}

.engage {
    margin-left: 150px;
    max-width: 40em;
    font-size: large;
    padding: 1em;
}

img.engage-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}
.dir-rtl img.engage-icon {
    left: 0;
    right: 10px;
}
.flag-icon {
    display: inline-block;
}

.preferences ul {
    list-style: none;
    padding: 0;
}
.hidden {
    display: none;
}
.expander {
    cursor: pointer;
}
.check {
    white-space: nowrap;
}
.rss {
    display: block;
}
.code-example {
    display: block;
    width: 100%;
    font-family: monospace;
    height: 4em;
    overflow: hidden;
    white-space: nowrap;
}
.contact-table input, .contact-table textarea {
    width: 30em;
    font-size: 1em;
    font-family: sans-serif;
}
.commit_message {
    width: 25em;
}
/*
 * jQuery UI Multi-Progress Bar 1.0
 * http://github.com/j-ulrich/jquery-ui-multiprogressbar
 *
 * Copyright (c) 2012 Jochen Ulrich <jochenulrich@t-online.de>
 * Licensed under the MIT license (MIT-LICENSE.txt).
 */

.ui-multiprogressbar .ui-progressbar-value {
    float: left;
}

.ui-multiprogressbar .ui-multiprogressbar-valuetext {
    margin-top: 0.3em;
    text-align: center;
}
.avatar {
    width: 1em;
    height: 1em;
}
.tooltip-content {
    display: none;
}
.ui-tooltip {
    max-width: 30em;
}
.border img {
    padding: 5px;
    border: 1px solid gray;
}
.git-commit, .git-repo {
    font-family: monospace;
    border: 1px solid gray;
    background-color: #eee;
    padding: 0.2em;
}
.errorlist {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #cc0000;
    font-size: smaller;
}
.error input {
    background-color: #F3D8D8;
}
.tablenotice {
    text-align: center;
    padding: 0.5em;
    font-style: italic;
}
.labelscolumn {
    width: 1px;
    white-space: nowrap;
}
.loading-icon {
    text-align: center;
}
.translation-modified textarea {
    border: 1px solid yellow;
}
.inline-message p {
    margin: 0.1em;
}
.inline-message .ui-widget {
    float: left;
}
