{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'create-component' %}">{% trans "Create component" %}</a></li>
{% endblock %}

{% block content %}

{% if not projects and not form.fields.component.queryset and not branch_form.fields.component.queryset %}

{% trans "You do not have permission to create components in any projects." as msg %}
{% show_message "warning" msg %}

{% if has_billing %}
{% include "billing-failure.html" %}
{% endif %}

{% endif %}

<ul class="nav nav-pills">
{% if projects %}
  <li role="presentation" class="active"><a href="#vcs" data-toggle="tab">{% trans "From version control" %}</a></li>
{% endif %}
{% if form.fields.component.queryset %}
  <li role="presentation"><a href="#existing" data-toggle="tab">{% trans "From existing component" %}</a></li>
{% endif %}
{% if branch_form.fields.component.queryset %}
  <li role="presentation"><a href="#branch" data-toggle="tab">{% trans "Additional branch" %}</a></li>
{% endif %}
</ul>

<div class="tab-content">

{% if projects %}
<div class="tab-pane active" id="vcs">
<form action="{% url 'create-component-vcs' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<input type="hidden" name="project" value="{{ selected_project }}" />
<p>{% trans "Create new translation component from remote version control system repository." %}</p>
{{ full_form | crispy }}
<input type="submit" value="{% trans "Continue" %}" class="btn btn-primary" id="create-vcs">
</form>
</div>
{% endif %}

{% if form.fields.component.queryset %}
<div class="tab-pane" id="existing">
<form method="post">
{% csrf_token %}
<input type="hidden" name="origin" value="existing" />
<input type="hidden" name="project" value="{{ selected_project }}" />
<p>{% trans "Create new translation component from repository already cloned in Weblate." %}</p>
{{ existing_form | crispy }}
<input type="submit" value="{% trans "Continue" %}" class="btn btn-primary" id="create-existing">
</form>
</div>
{% endif %}

{% if branch_form.fields.component.queryset %}
<div class="tab-pane" id="branch">
<form method="post" class="branch-loader" data-branches="{{ branch_data }}">
{% csrf_token %}
<input type="hidden" name="origin" value="branch" />
<input type="hidden" name="project" value="{{ selected_project }}" />
<p>{% trans "Create new translation component for additional branch of existing translation component." %}</p>
{{ branch_form | crispy }}
<p class="help-block">{% trans "The new component will be created for selected branch with exactly same configuration as existing one." %}</p>
<input type="submit" value="{% trans "Continue" %}" class="btn btn-primary" id="create-branch">
</form>
</div>
{% endif %}

</div>

{% endblock %}
