{% load crispy_forms_tags i18n %}

<form method="post" action="{% url "remove" path=object.get_url_path %}">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h4 class="panel-title">{% translate "Are you absolutely sure?" %}</h4>
    </div>
    <div class="panel-body">{% crispy delete_form %}</div>
    <div class="panel-footer">
      <input type="submit"
             class="btn btn-danger"
             value="{% translate "I understand the consequences, delete this translation" %}">
    </div>
  </div>
</form>
