{% load i18n %}
{% load crispy_forms_tags %}
<div class="tab-pane" id="delete">

<form method="post" action="{{ object.get_remove_url }}">
<div class="panel panel-danger">
<div class="panel-heading"><h4 class="panel-title">{% trans "Are you absolutely sure?" %}</h4></div>
<div class="panel-body">
{% with components=object.component_set.order %}
{% if components %}
<div class="form-group">
<p>{% trans "The following translation components will be also removed:" %}</p>
<ul>
{% for component in components %}
<li><a href="{{ component.get_absolute_url }}">{{ component }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endwith %}
{% crispy delete_form %}
</div>
<div class="panel-footer">
<input type="submit" class="btn btn-danger" value="{% trans "I understand the consequences, delete this translation" %}">
</div>
</div>
</form>

</div>
