{% load i18n %}
{% load icons %}

{% for icon, text, url in icons %}
{% spaceless %}
{% if url %}<a href="{{ url }}">{% endif %}
<span class="state-icon {% if icon == "state/ghost.svg"%} grey{% endif %}{% if icon == "state/alert.svg"%} red{% endif %}" title="{{ text }}" alt="{{ text }}">
  {% icon icon %}
</span>
{% if url %}</a>{% endif %}
{% endspaceless %}
{% endfor %}

{% if component.license and component.license != "proprietary" %}
<span title="{{ component.get_license_display }}" class="license badge">{{ component.license_badge }}</span>
{% endif %}
