{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'create-project' %}">{% trans "Create project" %}</a></li>
{% endblock %}

{% block content %}
{% if not can_create %}
{% trans "You currently do not have permission to create projects." as msg %}
{% show_message "warning" msg %}

{% if has_billing %}
{% include "snippets/billing-failure.html" %}
{% endif %}

{% else %}
<form action="{% url 'create-project' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
{% documentation_icon 'admin/projects' 'project' right=True %}
{% trans "Add new translation project" %}
</h4>
</div>
<div class="panel-body">
{% crispy form %}
</div>
<div class="panel-footer">
<input type="submit" value="{% trans "Save" %}" class="btn btn-primary" />
</div>
</div>
</form>
{% endif %}
{% endblock %}
