{% load i18n translations %}

<div class="form-group">
  <div id="vcs-push-help-data" data-categories='{{ vcs_push_categories }}' hidden></div>
  <p id="vcs-push-help" class="help-block">
    <span class="vcs-push-help-text"></span>
    <span class="vcs-push-help-warning text-danger"></span>
    <a href="{% documentation 'admin/code-hosting' 'code-hosting-push-options' %}"
       target="_blank"
       rel="noopener">{% translate "Learn more about pushing changes from Weblate." %}</a>
  </p>
</div>
