{% extends "base.html" %}

{% load i18n %}
{% load translations %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'profile' %}">{% trans "Your profile" %}</a>
  </li>
{% endblock %}


{% block content %}

  <form method="post" action="{% url 'confirm' %}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">{% trans "Confirm adding user identity" %}</h4>
      </div>
      <div class="panel-body">
        <p>
          {% comment %}Translators: backend_verbose is name of authentication backend, for example GitHub or Facebook, uid is user identifier, it can be username, email, number or URL{% endcomment %}
          {% blocktrans %}After confirming this, you will be able to authenticate to Weblate using {{ backend_verbose }} ({{ uid }}).{% endblocktrans %}
        </p>
        {{ confirm_form|crispy }}
        {% csrf_token %}
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-primary">{% trans "Confirm" %}</button>
      </div>
    </div>
  </form>

{% endblock %}
