{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
{% endblock %}

{% block content %}

<div class="container">

<div class="alert alert-info">
  <ul>
    <li>{% blocktrans %}For questions about a specific translation project, contact its maintainers directly, not by this form.{% endblocktrans %}</li>
    <li>
      {% if site_title != "Weblate" %}
        {% blocktrans %}You can only contact administrators of {{ site_title }} here.{% endblocktrans %}
      {% else %}
        {% blocktrans %}You can only contact administrators of the whole server here.{% endblocktrans %}
      {% endif %}
    <li>{% blocktrans %}If you seek support for another Weblate deployment or want to file a bug report, check its website at {{ weblate_link }}.{% endblocktrans %}</li>
  </ul>
</div>

<form method="post" action="{% url 'contact' %}">
<div class="panel panel-default">
  <div class="panel-heading"><h4 class="panel-title">{% trans "Contact server administrators" %}</h4></div>
  <div class="panel-body">
{% csrf_token %}
{{ form|crispy }}
{% if captcha_form %}
{{ captcha_form|crispy }}
{% endif %}
</div>
<div class="panel-footer">
<input type="submit" value="{% trans "Send" %}" class="btn btn-primary" />
</div>
</div>
</form>

</div>

{% endblock %}
