{% extends "base.html" %}

{% load authnames crispy_forms_tags i18n translations %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'login' %}">{% translate "Sign in" %}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}

  <div class="container">

    {% if form.errors %}
      {% translate "This username/password combination was not found. Please try again." as msg %}
      {% show_message "error" msg %}
    {% endif %}

    <h2>{% include "accounts/snippets/login-title.html" %}</h2>
    <div class="row">


      <div class="col-sm-6 col-sm-push-6">

        <h4>
          {% format_site_title as formatted_site_title %}
          {% blocktranslate %}Sign in to {{ formatted_site_title }}{% endblocktranslate %}
        </h4>
        <div class="panel panel-default">
          <div class="panel-body">
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              {{ form|crispy }}

              <input type="hidden" name="next" value="{{ next }}" />

              <input type="submit"
                     value="{% translate "Sign in" %}"
                     class="btn btn-primary btn-full" />
            </form>

            {% if login_backends %}

              <h5 class="login-label">{% translate "Sign in with:" %}</h5>

              {% for name in login_backends %}
                <div class="col-md-6 col-xs-12 btn-auth">
                  <a href=""
                     class="btn btn-default link-post"
                     data-href="{% url 'social:begin' name %}"
                     {% if next %}data-params='{"next": "{{ next|escapejs }}"}'{% endif %}>{% auth_name name " " %}</a>
                </div>
              {% endfor %}

            {% endif %}

            {% if can_reset or registration_open %}
              <div class="clearfix"></div>
              <ul class="login-links">
                {% if can_reset %}
                  <li>
                    <a href="{% url 'password_reset' %}">{% translate "Forgot your password?" %}</a>
                  </li>
                {% endif %}

                {% if registration_open %}
                  <li>
                    <a href="{% url 'register' %}">{% translate "Register new account" %}</a>
                  </li>
                {% endif %}
              </ul>
            {% endif %}



          </div>
        </div>

      </div>

      <div class="col-sm-6 col-sm-pull-6">{% include "accounts/snippets/login-info.html" %}</div>

    </div>
  </div>

{% endblock content %}
