{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'profile' %}">{% trans "Your profile" %}</a></li>
{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %}
<div class="panel panel-default">
  <div class="panel-heading"><h4 class="panel-title">{% trans "Change password" %}</h4></div>
  <div class="panel-body">

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

{{ change_form|crispy }}

{{ form|crispy }}
</div>
<div class="panel-footer">
<input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary" />
</div>
</div>
</form>

{% endblock %}
