{% extends "base.html" %}

{% load crispy_forms_tags i18n %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'profile' %}">{% translate "Your profile" %}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}

  <form action="" method="post">
    {% csrf_token %}
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{% translate "Change password" %}</h4>
      </div>
      <div class="card-body">

        <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        {{ change_form|crispy }}

        {{ form|crispy }}
      </div>
      <div class="card-footer">
        <input type="submit"
               value="{% translate 'Change my password' %}"
               class="btn btn-primary" />
      </div>
    </div>
  </form>

{% endblock content %}
