{% extends "base.html" %}

{% load i18n %}
{% load translations %}
{% load authnames %}
{% load crispy_forms_tags %}
{% load icons %}
{% load otp_webauthn %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'profile' %}">{% trans "Your profile" %}</a>
  </li>
  <li>
    <a href="{% url 'recovery-codes' %}">{% trans "Recovery codes" %}</a>
  </li>
{% endblock %}


{% block content %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        {% documentation_icon 'admin/auth' '2fa' right=True %}
        {% trans "Two-factor recovery codes" %}
      </h4>
    </div>
    <div class="panel-body second-factor">
      <p class="help-block">
        {% trans "Recovery codes can be used to access your account if you lose access to your device and cannot receive two-factor authentication codes." %}
      </p>

      <div class="alert alert-info">
        {% trans "Keep your recovery codes in a safe spot, like in a password manager. These codes are the last resort for accessing your account in case you lose your password and other second factors. If you cannot find these codes when needed, you will lose access to your account." %}
      </div>

      {% if recovery_codes %}
        <h5>{% trans "Recovery codes" %}</h5>
        <ul class="recovery-codes">
          {% for code in recovery_codes %}<li>{{ code }}</li>{% endfor %}
        </ul>
        <button type="button"
                class="btn btn-primary"
                data-clipboard-value="{{ recovery_codes_str }}"
                data-clipboard-message="{% trans "Recovery codes copied to clipboard." %}">
          {% icon "copy.svg" %} {% trans "Copy to clipboard" %}
        </button>
      {% else %}
        <p>
          <em>{% trans "There are currently no recovery codes generated." %}</em>
        </p>
      {% endif %}

      <h5>{% trans "Generate new recovery codes" %}</h5>

      <p class="help-block">
        {% trans "When you generate new recovery codes, you must download or print the new codes." %}
        <strong>{% trans "Your old codes will become invalid and won't work anymore." %}</strong>
      </p>
      <p>
        <a href="" data-href="{% url "recovery-codes" %}" class="btn btn-danger link-post">{% trans "Generate new recovery codes" %}</a>
      </p>

      <p>
        <a class="btn btn-link" href="{% url "profile" %}#account">{% trans "Back to account settings" %}</a>
      </p>

    </div>
  </div>

{% endblock %}
