{% extends "base.html" %}

{% load authnames crispy_forms_tags i18n translations %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'register' %}">{% translate "Registration" %}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}

  {% if registration_email or registration_backends %}

    <div class="container">

      {% if invitation %}
        <div class="alert alert-info">
          {% include "snippets/invite-info.html" %}
          {% translate "Please complete the registration to accept the invitation." %}
        </div>
      {% endif %}

      {% if form.errors %}
        {% translate "Please fix errors in the registration form." as msg %}
        {% show_message "error" msg %}
      {% endif %}

      <h2>{% include "accounts/snippets/login-title.html" %}</h2>
      <div class="row">

        <div class="col-sm-6 col-sm-push-6">

          <h4>
            {% format_site_title as formatted_site_title %}
            {% blocktranslate %}Register in {{ formatted_site_title }}{% endblocktranslate %}
          </h4>

          <div class="panel panel-default">
            <div class="panel-body">

              {% if registration_email %}

                <form action="{% url 'register' %}" method="post" accept-charset="utf-8">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <input type="submit"
                         value="{% translate 'Register' %}"
                         class="btn btn-primary btn-full" />
                </form>

              {% endif %}

              {% if registration_backends %}

                <h5 class="login-label">{% translate "Create an account using:" %}</h5>

                {% for name in registration_backends %}
                  <div class="col-sm-6 col-xs-12 btn-auth">
                    <a href=""
                       class="btn btn-default link-post"
                       data-href="{% url 'social:begin' name %}"
                       {% if next %}data-params='{"next": "{{ next|escapejs }}"}'{% endif %}>{% auth_name name " " %}</a>
                  </div>
                {% endfor %}

              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-sm-pull-6">{% include "accounts/snippets/login-info.html" %}</div>

      </div>

    </div>
  {% else %}

    <p>
      {% url 'contact' as contact_url %}
      {% translate "Sorry, new registrations are turned off on this site." %}
      <a href="{{ contact_url }}">{% translate "You can contact us for more details." %}</a>
    </p>

  {% endif %}
{% endblock content %}
