{% extends "base.html" %}

{% load crispy_forms_tags i18n translations %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'profile' %}">{% translate "Your profile" %}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}

  <form method="post" action="{% url 'remove' %}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">{% translate "Account removal" %}</h4>
      </div>
      <div class="panel-body">
        {{ confirm_form|crispy }}
        <p>{% translate "Account removal deletes all your private data." %}</p>
        {% if is_confirmation %}
          <p>
            {% blocktranslate %}By pressing following button, your will no longer be able to use this account.{% endblocktranslate %}
          </p>
        {% else %}
          <p>
            {% blocktranslate %}You will have to confirm account removal by clicking link in e-mail you will receive.{% endblocktranslate %}
          </p>
        {% endif %}
        {% csrf_token %}
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-danger">{% translate "Delete this account" %}</button>
      </div>
    </div>
  </form>

{% endblock content %}
