{% extends "base.html" %}

{% load i18n %}
{% load translations %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'profile' %}">{% trans "Your profile" %}</a>
  </li>
{% endblock %}


{% block content %}

  <form method="post" action="{% url 'remove' %}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">{% trans "Account removal" %}</h4>
      </div>
      <div class="panel-body">
        {{ confirm_form|crispy }}
        <p>{% trans "Account removal deletes all your private data." %}</p>
        {% if is_confirmation %}
          <p>
            {% blocktrans %}By pressing following button, your will no longer be able to use this account.{% endblocktrans %}
          </p>
        {% else %}
          <p>
            {% blocktrans %}You will have to confirm account removal by clicking link in e-mail you will receive.{% endblocktrans %}
          </p>
        {% endif %}
        {% csrf_token %}
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-danger">{% trans "Delete this account" %}</button>
      </div>
    </div>
  </form>

{% endblock %}
