{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'trial' %}">{% trans "Gratis trial" %}</a></li>
{% endblock %}

{% block content %}

<div class="container">

  {% trans "Thank you for your interest in trying Weblate!" as msg %}
  {% show_message 'info' msg %}

  <form method="post" action="{% url 'trial' %}">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title">{% trans "Your trial offer" %}</h4></div>
      <div class="panel-body">
        <p><strong>{% trans "Your trial will" %}</strong></p>
        <ul>
          {% comment %}Translators: list item under "Your trial will"{% endcomment %}
          <li>{% trans "last for 14 days." %}</li>
          {% comment %}Translators: list item under "Your trial will"{% endcomment %}
          <li>{% trans "run the Enterprise plan." %}</li>
          {% comment %}Translators: list item under "Your trial will"{% endcomment %}
          <li>{% trans "need no credit card, but you can set the payment method anytime." %}</li>
          {% comment %}Translators: list item under "Your trial will"{% endcomment %}
          <li>{% trans "keep the configuration once you start paying." %}</li>
        </ul>
      </div>
      <div class="panel-footer">
        <input type="submit" value="{% trans "Start the trial!" %}" class="btn btn-primary" />
      </div>
    </div>
  </form>

</div>
{% endblock %}
