{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'about' %}">{% translate "About Weblate" %}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{% translate "About Weblate" %}</h4>
    </div>
    <div class="panel-body">{% include "snippets/about.html" %}</div>
    <div class="panel-footer">
      <a class="btn btn-primary" href="https://weblate.org/donate/">{% translate "Give to Weblate" %}</a>
    </div>
  </div>


  {% if offer_hosting %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">{% translate "Hosting translations" %}</h4>
      </div>
      <div class="panel-body">
        <p>
          {% translate "This Weblate instance hosts translations for various libre software projects." %}
          {% blocktranslate %}Weblate can host your project as well, please get in touch.{% endblocktranslate %}
        </p>
        <p>
          {% translate "Start your gratis trial today and explore our competitively priced commercial hosting solutions." %}
        </p>
      </div>
      <div class="panel-footer">
        <a class="btn btn-primary" href="{% url 'hosting' %}">{% translate "Ask for Libre hosting" %}</a>
        <a class="btn btn-primary btn-spaced" href="https://weblate.org/hosting/">{% translate "View hosting plans" %}</a>
        {% if payment_enabled %}
          <a class="btn btn-primary btn-spaced" href="{% url 'trial' %}">{% translate "Gratis trial for commercial hosting" %}</a>
        {% else %}
          <a class="btn btn-primary btn-spaced" href="{% url 'contact' %}?t=hosting">{% translate "Contact us for commercial hosting" %}</a>
        {% endif %}
      </div>
    </div>
  {% endif %}


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{% translate "Weblate is built on libre software" %}</h4>
    </div>
    <div class="panel-body formats">
      {% for ver in versions %}
        <a class="format-item" href="{{ ver.1 }}">{{ ver.0 }}
          {% if not hide_version or user.is_superuser %}<span>{{ ver.2 }}</span>{% endif %}
        </a>
      {% endfor %}
    </div>
  </div>

{% endblock content %}
