{% extends "base.html" %}
{% load i18n %}
{% load translations %}

{% block breadcrumbs %}
<li><a href="{% url 'about' %}">{% trans "About Weblate" %}</a></li>
<li><a href="{% url 'about' %}">{% trans "Weblate keys" %}</a></li>
{% endblock %}

{% block content %}

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
{% documentation_icon 'vcs' right=True %}
{% trans "SSH key" %}
</h4>
</div>

  <div class="panel-body">
    {% include "snippets/ssh-key.html" %}
  </div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
{% documentation_icon 'admin/optionals' 'gpg-sign' right=True %}
{% trans "Commit signing" %}
</h4>
</div>

  <div class="panel-body">
{% if gpg_key %}
  <p>{% blocktrans %}All commits made with Weblate are signed with the GPG key {{ gpg_key_id }}, for which the corresponding public key is found below.{% endblocktrans %}</p>
  <div class="list-group-item pre-scrollable">
  {{ gpg_key|linebreaks }}
  </div>
{% else %}
  <p>{% trans "Commit signing is not configured." %}</p>
{% endif %}
  </div>
</div>

{% endblock %}
