{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block breadcrumbs %}
<li><a href="{% url 'about' %}">{% trans "About Weblate" %}</a></li>
<li><a href="{% url 'stats' %}">{% trans "Statistics" %}</a></li>
{% endblock %}

{% block content %}

<div class="row">
<div class="col-lg-6">
<div class="panel panel-default">
<div class="panel-heading"><h4 class="panel-title">{% trans "Most active translators" %}</h4></div>
<table class="table">
<tbody>
{% for u in top_translations %}
<tr>
<td>{{ u.get_user_display_link }}</td>
<td class="number">{{ u.translated|intcomma }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>


<div class="col-lg-6">
<div class="panel panel-default">
<div class="panel-heading"><h4 class="panel-title">{% trans "Most active suggesters" %}</h4></div>
<table class="table">
<tbody>
{% for u in top_suggestions %}
<tr>
<td>{{ u.get_user_display_link }}</td>
<td class="number">{{ u.suggested|intcomma }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>

<div class="col-lg-6">
<div class="panel panel-default">
<div class="panel-heading"><h4 class="panel-title">{% trans "Most active screenshot uploaders" %}</h4></div>
<table class="table">
<tbody>
{% for u in top_uploads %}
<tr>
<td>{{ u.get_user_display_link }}</td>
<td class="number">{{ u.uploaded|intcomma }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>

<div class="col-lg-6">
<div class="panel panel-default">
<div class="panel-heading"><h4 class="panel-title">{% trans "Most active commenters" %}</h4></div>
<table class="table">
<tbody>
{% for u in top_comments %}
<tr>
<td>{{ u.get_user_display_link }}</td>
<td class="number">{{ u.commented|intcomma }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>

<div class="col-lg-6">
<div class="panel panel-default">
<div class="panel-heading"><h4 class="panel-title">{% trans "Statistics" %}</h4></div>

<table class="table">
<tr>
<th>{% trans "Projects" context "Number of projects" %}</th>
<td class="number">{{ total_projects|intcomma }}</td>
</tr>
<tr>
<th>{% trans "Components" context "Number of components" %}</th>
<td class="number">{{ total_components|intcomma }}</td>
</tr>
{% include "snippets/stats.html" %}
<tr>
<th>{% trans "Registered users" %}</th>
<td class="number">{{ total_users|intcomma }}</td>
</tr>
<tr>
<th>{% trans "Suggestions made" %}</th>
<td class="number">{{ total_suggestions|intcomma }}</td>
</tr>
<tr>
<th>{% trans "Translations made" %}</th>
<td class="number">{{ total_translations|intcomma }}</td>
</tr>
<tr>
<th>{% trans "Failing checks found" %}</th>
<td class="number">{{ total_checks|intcomma }}</td>
</tr>
<tr>
<th>{% trans "Dismissed checks" %}</th>
<td class="number">{{ dismissed_checks|intcomma }}</td>
</tr>
</table>
</div>
</div>

</div>

{% endblock %}
