{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'legal:index' %}">{% trans "Legal" %}</a></li>
{% endblock %}

{% block content %}

<form method="post" action="{% url 'legal:confirm' %}">
<div class="panel panel-primary">
  <div class="panel-heading"><h4 class="panel-title">{% trans "You have to agree to the Terms of Service" %}</h4></div>
  <div class="panel-body">
  <p>{% trans "Please read following Terms of Service document:" %}</p>
  <div class="list-group-item pre-scrollable tos">
  {% include "legal/documents/tos.html" %}
  </div>
{{ form|crispy }}
{% csrf_token %}
</div>
<div class="panel-footer">
<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
</div>
</div>
</form>

{% endblock %}
