{% extends "base.html" %}

{% load crispy_forms_tags i18n %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'legal:index' %}">{% translate "Legal" %}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}

  <form method="post" action="{% url 'legal:confirm' %}">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{% translate "You have to agree to the General Terms and Conditions" %}</h4>
      </div>
      <div class="card-body">
        {% if terms_document_hidden and terms_url %}
          <p>{% translate "Please read the following legal documents:" %}</p>
          <ul>
            <li>
              <a href="{{ terms_url }}">{% translate "General Terms and Conditions" %}</a>
            </li>
            {% if privacy_url %}
              <li>
                <a href="{{ privacy_url }}">{% translate "Privacy Policy" %}</a>
              </li>
            {% endif %}
          </ul>
        {% else %}
          <p>{% translate "Please read the following General Terms and Conditions document:" %}</p>
          <div class="list-group-item pre-scrollable{% if legal_document_css_class %} {{ legal_document_css_class }}{% endif %}">
            {% include "legal/documents/tos.html" %}
          </div>
        {% endif %}
        {{ form|crispy }}
        {% csrf_token %}
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">{% translate "Submit" %}</button>
      </div>
    </div>
  </form>

{% endblock content %}
