{% extends "base.html" %}

{% load crispy_forms_tags i18n %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'legal:index' %}">{% translate "Legal" %}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}

  <form method="post" action="{% url 'legal:confirm' %}">
    <div class="panel panel-primary">
      <div class="card-header">
        <h4 class="card-title">{% translate "You have to agree to the General Terms and Conditions" %}</h4>
      </div>
      <div class="card-body">
        <p>{% translate "Please read following General Terms and Conditions document:" %}</p>
        <div class="list-group-item pre-scrollable tos">{% include "legal/documents/tos.html" %}</div>
        {{ form|crispy }}
        {% csrf_token %}
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">{% translate "Submit" %}</button>
      </div>
    </div>
  </form>

{% endblock content %}
