{% extends "base.html" %}

{% load i18n translations %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'legal:index' %}">{% translate "Legal" %}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'legal:contracts' %}">{% translate "Privacy" %}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}

  {% include 'legal/menu.html' %}

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">{% translate "Subcontractors" %}</h4>
    </div>
    <div class="card-body tos">{% include "legal/documents/contracts.html" %}</div>
  </div>

{% endblock content %}
