{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'legal:index' %}">{% translate "Legal" %}</a>
  </li>
  <li>
    <a href="{% url 'legal:cookies' %}">{% translate "Cookies" %}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}

  {% include 'legal/menu.html' %}

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">{% translate "Cookies Policy" %}</h4>
    </div>
    <div class="card-body">

      <p>
        {% blocktranslate %}This page is based on the General Terms and Conditions and the Privacy Policy, you should still read the original documents to fully understand them:{% endblocktranslate %}
      </p>

      <ul>
        <li>
          <a href="{% url 'legal:terms' %}">{% translate "General Terms and Conditions" %}</a>
        </li>
        <li>
          <a href="{% url 'legal:privacy' %}">{% translate "Privacy Policy" %}</a>
        </li>
      </ul>

      <p>
        {% blocktranslate %}Cookies are used on this site for the following:{% endblocktranslate %}
      </p>

      <ul>
        <li>{% translate "Authentication cookies which are required for recognizing authenticated users." %}</li>
        <li>{% translate "Preferences cookie to store user preferences in certain situations." %}</li>
        {% if matomo_site_id and matomo_url %}
          <li>
            {% blocktranslate %}This site uses Matomo to analyze website traffic. It honours "Do Not Track" settings in your browser.{% endblocktranslate %}
          </li>
        {% endif %}
        {% if google_analytics_id %}
          <li>{% translate "This site uses Google Analytics to analyze website traffic." %}</li>
        {% endif %}
      </ul>

    </div>
  </div>

{% endblock content %}
