{% extends "base.html" %}

{% load i18n %}
{% load translations %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'legal:index' %}">{% trans "Legal" %}</a>
  </li>
  <li>
    <a href="{% url 'legal:privacy' %}">{% trans "Privacy" %}</a>
  </li>
{% endblock %}


{% block content %}

  {% include 'legal/menu.html' %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{% trans "Privacy Policy" %}</h4>
    </div>
    <div class="panel-body tos">{% include "legal/documents/privacy.html" %}</div>
  </div>

{% endblock %}
