{% extends "base.html" %}
{% load i18n %}
{% load translations %}

{% block breadcrumbs %}
<li><a href="{% url 'legal:index' %}">{% trans "Legal" %}</a></li>
<li><a href="{% url 'legal:security' %}">{% trans "Security" %}</a></li>
{% endblock %}

{% block content %}

{% include 'legal/menu.html' %}

{% documentation 'contributing' 'security' as security_url %}

<div class="panel panel-default">
<div class="panel-heading"><h4 class="panel-title">{% trans "Security Policy" %}</h4></div>
<div class="panel-body">

<p>
{% trans "At Weblate, security maintains an environment that values the privacy of our users." %}
</p>

<p>
<a href="https://bestpractices.coreinfrastructure.org/projects/552">
{% comment %}Translators: See https://bestpractices.coreinfrastructure.org/ for more information on this{% endcomment %}
{% trans "Weblate development follows the Best Practices of the Linux Foundation's Core Infrastructure Initiative." %}
</a>
</p>


</div>
</div>


<div class="panel panel-default">
<div class="panel-heading"><h4 class="panel-title">{% trans "Security FAQ" %}</h4></div>
<div class="panel-body">

<h4>{% trans "How are user passwords stored?" %}</h4>

<p>{% trans "Hashed, currently using PBKDF2, HMAC and SHA-256 with 150000 iterations." %}</p>

<h4>{% trans "How to report a security issue?" %}</h4>

<p>
<a href="{{ security_url }}">{% blocktrans %}The documentation has instructions on safe reporting.{% endblocktrans %}</a>
</p>

</div>
</div>

</div>

{% endblock %}
