{% extends "base.html" %}
{% load i18n %}
{% load translations %}

{% block breadcrumbs %}
<li><a href="{% url 'legal:index' %}">{% trans "Legal" %}</a></li>
<li><a href="{% url 'legal:security' %}">{% trans "Security" %}</a></li>
{% endblock %}

{% block content %}

{% include 'legal/menu.html' %}

<div class="container-fluid">

{% documentation 'contributing' 'security' as security_url %}

<div class="panel panel-primary">
<div class="panel-heading"><h4 class="panel-title">{% trans "Security Policy" %}</h4></div>
<div class="panel-body">

<p>
{% trans "At Weblate, security is seriously to maintain an environment that values the privacy of our users." %}
</p>

<p>
<a href="https://bestpractices.coreinfrastructure.org/projects/552">
{% trans "Weblate development follows The Linux Foundation Core Infrastructure Initiative Best Practices." %}
</a>
</p>


</div>
</div>


<div class="panel panel-primary">
<div class="panel-heading"><h4 class="panel-title">{% trans "Security FAQ" %}</h4></div>
<div class="panel-body">

<h4>{% trans "How do you store user passwords?" %}</h4>

<p>{% trans "Weblate stores all user passwords hashed, currently using PBKDF2, HMAC and SHA-256 with 150000 iterations." %}</p>

<h4>{% trans "How to report a security issue?" %}</h4>

<p>
<a href="{{ security_url }}">{% blocktrans %}Please see our documentation for instructions how to report security weaknesses in our platform.{% endblocktrans %}</a>
</p>

</div>
</div>

</div>


</div>

{% endblock %}
