{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{% url 'legal:index' %}">{% trans "Legal" %}</a></li>
<li><a href="{% url 'legal:terms' %}">{% trans "Terms" %}</a></li>
{% endblock %}

{% block content %}

{% include 'legal/menu.html' %}

<div class="container-fluid">

<div class="panel panel-primary">
<div class="panel-heading"><h4 class="panel-title">{% trans "Terms of Service" %}</h4></div>
<div class="panel-body tos">

<div class="alert alert-info" role="alert">{% trans "The Terms of Service document is currently available only in English." %}</div>

<div class="alert alert-info" role="alert">This is draft of Terms of Service, which will probably take effect during July 2017. You are welcome to provide feedback.</div>

<p>
The rights and obligations of the User and the Provider resulting from the use
of the Service are governed by these Terms of Service.
</p>

<h2>Definitions</h2>

<p class="item">In these Terms of Service:</p>

<dl>

<dt>Agreement</dt>
<dd>means License Agreement within the meaning of Section 2358 et seq. of the Civil Code concluded by and between the User and the Provider upon the Consent</dd>

<dt>Civil Code</dt>
<dd>means Act No. 89/2012 Coll., the Civil Code, as amended</dd>

<dt>Consent</dt>
<dd>means the User’s consent with these Terms of Service and other legal documents expressed by checking the checkbox during the registration</dd>

<dt>Cookies</dt>
<dd>mean any data file sent by the Service web server to the User’s computer of other device connected to the Internet, which enable obtaining of unique identification of the User’s web browser</dd>

<dt>License</dt>
<dd>means non-exclusive license granted by the Provider to the User for use of the Service</dd>

<dt>Provider</dt>
<dd>means Ing. Michal Čihař, Zdiměřická 1439/8, 149 00 Praha, Czechia, Reg. No. 04705904</dd>

<dt>Personal Data</dt>
<dd>means personal data within the meaning of Act No. 101/2000 Coll., on personal data protection, as amended, inserted by the User into the Service and/or Cookies</dd>

<dt>Owner</dt>
<dd>means the User who can manage Project</dd>

<dt>Project</dt>
<dd>means translation project operated on the Service</dd>

<dt>Service</dt>
<dd>means the website and services based on Weblate operated by the Provider</dd>

<dt>User</dt>
<dd>means any legal entity or an individual other than the Provider, who is using the Service</dd>

<dt>VCS</dt>
<dd>means distributed version control system such as Git or Mercurial</dd>

</dl>

<h2>License Agreement Conclusion</h2>

<p class="item">The License Agreement is concluded upon the User’s Acceptance of the Provider’s Offer.</p>


<h2>License Agreement</h2>

<p class="item">By concluding Agreement under Article 2.1 of this Agreement, the following provisions of this Article 3 of the Terms of Service come into force.</p>

<p class="item">The Provider grants the User with an Agreement License and the User accepts the License, all this under the terms and conditions stated in these Terms of Service.</p>

<p class="item">The Provider shall have the right to shut down, adjust, modify or make the Service unavailable on the web address at any time.</p>

<p class="item">The User agrees to use the Service only in a manner not jeopardizing technical software and/or hardware means of the Provider and/or such means in the Provider’s use.</p>

<p class="item">The User agrees to refrain from use of the Service in bad faith and/or deliberately causing any damage to the Service.</p>

<p class="item">The User agrees to refrain from bypassing the Service’s software and/or technical hardware means, in particular the security systems.</p>


<h2>Liability for Damage</h2>

<p class="item">The User hereby renders it undisputed that the Provider shall not be liable for any damage caused to the User resulting from the use of the Service.</p>

<p class="item">If the User is an entrepreneur, he hereby expressly waives his right to compensation from the Provider for damage unintentionally caused by the Provider to the User through a breach of any obligation contained in these Terms of Service and/or resulting from the use of the Service.</p>

<p class="item">The User declares that he is aware of Section 1747 of the Civil Code and with respect of this fact he hereby renders it undisputed that no provision of this Article 4 of these Terms of Service is surprising for him.</p>


<h2>Personal Data</h2>

<p class="item">Within the meaning of Section 5 (2) of Act No. 101/2000 Coll., on personal data protection, as amended, the User hereby gives his consent with the collecting, storage and processing of the Personal Data provided by the User to the administrator, who is the Provider, through the use of the Service; the User gives his consent with the processing and use of his Personal Data by the Provider, his employees and/or his authorised business partners. This consent is given as long as User does not remove his account from the Service.</p>

<p class="item">The purpose of the processing of Personal Data as determined by the Provider is the use of Personal Data for sending of commercial communications to the subject of the data (the User) through electronic means under Act No. 480/2004 Coll., on certain services of the information society, as amended, and further for marketing and business needs of the Provider’s contractual partners and for statistical and/or marketing purposes of the Provider.</p>

<p class="item">If the User directly and effectively informs the Provider that he no longer wishes to receive business information from the Provider, the Provider shall refrain from sending further unsolicited business communications.</p>

<p class="item">The User declares that he/she is aware of his/her rights under Section 12 and Section 21 of the Personal Data Protection Act and declares that all the Personal Data are accurate and true and have been provided voluntarily.</p>

<p class="item">The Provider declares that he will collect Personal Data only in the extent necessary for meeting the above-specified purpose and process the Personal Data in accordance with the purpose for which they were collected. The Provider’s employees and other individuals who process the Personal Data on the basis of a contract with the Provider shall maintain confidentiality of the Personal Data, even after the termination of their employment or business relationship with the Provider.</p>

<p class="item">The Provider declares that he will process the Personal Data by electronic means (automatically) via computer programs for which the Provider has secured the right of use, in particular the Service.</p>

<p class="item">The User’s consent under this Article 5 of the Terms of Service constitutes free and informed juridical act which concerns the consent of the subject of the data (the User) with processing of the Personal Data.</p>


<h2>Translations</h2>

<p class="item">The Owner is responsible for specifying accurately Project license.</p>

<p class="item">Not specifying translation license means that the translations are available under same license as project itself.</p>

<p class="item">The User agrees to the license Project has specified upon contributing to the Project.</p>

<p class="item">The User agrees to use his name and email as authorship in the VCS commits. The User understands that this grant is non revocable due to nature of the VCS.</p>


<h2>Cookies</h2>

<p class="item">Within the meaning of Section 89 Act No. 480/2004 Coll., on electronic communication, as ammended, the User is informed that the Service use cookies.</p>

<p class="item">The Service uses cookies to personalise content and to analyse our traffic.</p>


<h2>Governing Law</h2>

<p class="item">These Terms of Service shall be governed by the laws of the Czech Republic with exclusion of conflict rules.</p>

<p class="item">Any disputes arising on the basis of the Agreement and/or these Terms of Service shall be resolved by the court of the Czech republic having substantive and local jurisdiction.</p>


<h2>Effect</h2>

<p class="item">These Terms of Service shall come into force and effect on 15th July 2017.</p>

</div>
</div>
</div>
</div>

{% endblock %}
