{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{% url 'legal:index' %}">{% trans "Legal" %}</a></li>
<li><a href="{% url 'legal:terms' %}">{% trans "Terms" %}</a></li>
{% endblock %}

{% block content %}

{% include 'legal/menu.html' %}

<div class="container-fluid">

<div class="panel panel-primary">
<div class="panel-heading"><h4 class="panel-title">{% trans "Terms of Service" %}</h4></div>
<div class="panel-body tos">

<div class="alert alert-info" role="alert">{% trans "The Terms of Service document is currently available only in English." %}</div>

<div class="alert alert-info" role="alert">This is draft of Terms of Service, which will probably take effect during September 2017. You are welcome to provide feedback.</div>

{% include "legal/tos.html" %}

</div>
</div>
</div>
</div>

{% endblock %}
