{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load crispy_forms_tags %}

{% block content %}

<p class="alert alert-info">
{% blocktrans %}This site runs {{ weblate_name_link }} for translating the software projects listed below.{% endblocktrans %}
{% trans "You need to be signed in to translate, otherwise you can only make suggestions." %}
</p>

{% announcements %}

{% include "list-projects.html" with projects=top_projects %}

<p><a class="btn btn-primary" id="browse-projects" href="{% url 'projects' %}">{% blocktrans count count=all_projects %}Browse {{ count }} project{% plural %}Browse all {{ count }} projects{% endblocktrans %}</a></p>

{% endblock %}
