{% extends "mail/base.html" %}

{% load i18n %}{% load translations %}

{% block content %}
<p>
{% trans "Hi,"%}
</p>

<p>
{% blocktrans %}there has been a merge failure on {{ subproject }} at {{ site_title }}.{% endblocktrans %}
<p>


<h2>{% trans "Error message" %}</h2>

<p>
{{ error }}
</p>

<h2>{% trans "Repository status" %}</h2>

<pre>
{{ status }}
</pre>

{% with subproject.get_export_url as export_url %}
{% if export_url %}
<p>
{% trans "Repository with Weblate translations:" %}
<code class="git-repo">{{ export_url }}</code>
</p>
{% endif %}
{% endwith %}

<p><a href="{% documentation "faq" "merge" %}">{% trans "Check our FAQ for information how to resolve this." %}</a></p>


{% endblock %}
