{% extends "mail/base.html" %}

{% load i18n %}{% load translations %}

{% block content %}
<p>
{% trans "Hi,"%}
</p>

<p>
{% blocktrans %}there is a new suggestion to evaluate on {{ translation }} at {{ site_title }}.{% endblocktrans %}
<p>

<table>
<tr>

<th>
{% trans "Source string:" %}
</th>

<td>
{% format_translation unit.source %}
</td>
</tr>

<tr>
<th>
{% trans "Suggestion:" %}
</th>

<td>
{% format_translation suggestion.target unit.translation.language %}
</td>
</tr>

{% if unit.translated %}
<tr>
<th>
{% trans "Translation change:" %}
</th>

<td>
{% format_translation suggestion.target unit.translation.language unit.target %}
</td>
</tr>
{% endif %}
</table>

<p>
{% trans "You can review it at:" %}
</p>

<p>
<a href="{{ current_site_url }}{{ unit.get_absolute_url }}">{{ current_site_url }}{{ unit.get_absolute_url }}</a>
</p>

{% include "mail/footer.html" %}
{% endblock %}
