{% extends "mail/base.html" %}

{% load i18n %}{% load translations %}

{% block content %}
<p>
{% trans "Hi,"%}
</p>

<p>
{% blocktrans %}there has been a request for new language on {{ translation }} at {{ site_title }}.{% endblocktrans %}
</p>

<table>
<tr>

<th>
{% trans "Requested language:" %}

</th>

<td>
{{ language.name }} ({{ language.code }})
</td>
</tr>
<tr>

<th>
{% trans "Requesting user:" %}

</th>

<td>
<a href="mailto:{{ user.email }}">{{ user.first_name }}</a>
</td>
</tr>

</table>

{% endblock %}
