{% load url from future %}
{% load translations %}
{% load i18n %}

<div class="row">
<div class="col-md-6">
<table class="table table-condensed table-striped">
<thead>
<tr>
<th>{% trans "Language" %}</th>
<th>{% trans "Status" %}</th>
<th>{% trans "Checks" %}</th>
<th>{% trans "Edit" %}</th>
</tr>
</thead>
<tbody>
{% for unit in units %}
<tr>
<th>{{ unit.translation.language }}</th>
<td>{{ unit.get_state_flags }}</td>
<td>{% show_checks unit.checks user %}</td>
<td><a href="{{ unit.get_absolute_url }}" class="button small-button">{% trans "Edit" %}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<div class="col-md-6">
<table class="table table-condensed">
{% with units.0 as unit %}
{% include "unit-details.html" %}
{% with unit.get_source_comments as comments %}
{% if comments %}
<tr><th colspan="2">{% trans "User comments" %}</th></tr>
{% include "list-comments.html" %}
{% endif %}
{% endwith %}
{% endwith %}
</table>
</div>

</div>
