{% load i18n %}
{% load url from future %}

{% with object.git_needs_commit as needs_commit %}
{% if perms.trans.commit_translation or perms.trans.update_translation %}

<div class="btn-group">
<a href="{{ object.get_commit_url }}" title="{% trans "Commit pending changes" %}" class="btn btn-default{% if not needs_commit %} disabled{% endif %}">{% trans "Commit" %}</a>
<a href="{{ object.get_update_url }}" title="{% trans "Pull changes from remote repository" %}" class="btn btn-default{% if not perms.trans.update_translation %} disabled{% endif %}">{% trans "Pull" %}</a>
<a href="{{ object.get_push_url }}" title="{% trans "Push changes to remote repository" %}" class="btn btn-default{% if not perms.trans.push_translation or not object.can_push %} disabled{% endif %}">{% trans "Push" %}</a>
{% if perms.trans.reset_translation %}
<a href="{{ object.get_reset_url }}" title="{% trans "Reset all changes in local repository" %}" class="btn btn-default confirm-reset">{% trans "Reset" %}</a>
{% endif %}
{% if perms.trans.lock_subproject and object.is_git_lockable %}
{% if object.is_git_locked %}
<a href="{{ object.get_unlock_url }}" title="{% trans "Allow changes in the repository" %}" class="btn btn-default">{% trans "Unlock" %}</a>
{% else %}
<a href="{{ object.get_lock_url }}" title="{% trans "Prevent any changes in the repository" %}" class="btn btn-default">{% trans "Lock" %}</a>
{% endif %}
{% endif %}
</div>

{% if needs_commit %}
<p>{% trans "There are some not committed changes!" %}</p>
{% endif %}
{% if object.git_needs_merge %}
<p>{% trans "Remote Git repository needs to be merged!" %}</p>
{% endif %}
{% if object.git_needs_push %}
<p>{% trans "There are some new commits in local Git repository!" %}</p>
{% endif %}


{% if object.subproject_set %}
{% else %}
{% with object.get_last_remote_commit as commit %}
<p>
{% trans "Last remote commit:" %}
{% include "git-commit-info.html" %}
</p>
{% endwith %}
{% with object.get_export_url as export_url %}
{% if export_url %}
<p>
{% trans "Git repository with Weblate translations:" %}
<code class="git-repo ui-corner-all">{{ export_url }}</code>
</p>
{% endif %}
{% endwith %}
{% endif %}

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#git-details">
          {% trans "Details" %}
        </a>
      </h4>
    </div>
    <div id="git-details" class="panel-collapse collapse">
      <div class="panel-body">
        {% if object.subproject_set %}
        {% for sp in object.subproject_set.all %}
        <h4>{{ sp }}</h3>
        <pre>
{{ sp.repository.status }}
        </pre>
        {% endfor %}
        {% else %}
        <pre>
{{ object.repository.status }}
        </pre>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endwith %}
