{% extends "admin/change_form.html" %}
{% load i18n %}
{% load translations %}

{% block form_top %}
{% if opts.model_name == 'project' or opts.model_name == 'subproject' or opts.model_name == 'advertisement' or opts.model_name == 'whiteboardmessage' or opts.model_name == 'groupacl' or opts.model_name == 'componentlist' %}
{% if opts.model_name == 'advertisement' %}
{% doc_url 'admin/advertisement' as url %}
{% else %}
{% if opts.model_name == 'whiteboardmessage' %}
{% doc_url 'admin/whiteboard' as url %}
{% else %}
{% doc_url 'admin/projects' opts.model_name as url %}
{% endif %}
{% endif %}
<p>{% blocktrans %}Required fields are marked as bold, you can find more information in the <a href="{{ url }}">documentation</a>.{% endblocktrans %}</p>
{% else %}
<p class="errornote">{% blocktrans %}Do not change this object here, please use Weblate interface instead.{% endblocktrans %}</p>
{% endif %}
{% if add and opts.model_name == 'subproject' %}
{% doc_url 'admin/projects' 'import-speed' as url %}
<p>{% blocktrans %}Importing a new translation can take some time, please check <a href="{{ url }}">our documentation</a> for information on how to improve this.{% endblocktrans %}</p>
{% endif %}
{% endblock %}
