{% extends "base.html" %}

{% load crispy_forms_tags i18n translations %}

{% block breadcrumbs %}
  <li>
    <a href="{% url 'manage' %}">{% translate "Manage" %}</a>
  </li>
  <li>
    <a href="{% url 'manage-backups' %}">{% translate "Backups" %}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}

  {% for service in services %}
    <form method="post">
      {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            {% documentation_icon 'admin/backup' right=True %}
            {% blocktranslate with url=service.repository %}Backup service: {{ url }}{% endblocktranslate %}
            {% if service.has_errors %}
              <span class="label label-danger">{% translate "Failed with an error" %}</span>
            {% endif %}
            {% if not service.enabled %}
              <span class="label label-warning">{% translate "Turned off" %}</span>
            {% endif %}
          </h4>
        </div>
        <div class="panel-body">

          {% if service.has_errors and support_status.has_expired_support and service.repository == support_status.backup_repository %}
            <div class="panel-group"
                 id="accordion-{{ service.pk }}"
                 role="tablist"
                 aria-multiselectable="true">
              <div class="panel panel-danger">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed createdbackup"
                       role="button"
                       data-toggle="collapse"
                       data-parent="#accordion-{{ service.pk }}"
                       href="#error-{{ service.pk }}"
                       aria-expanded="true"
                       aria-controls="collapse-{{ service.pk }}">{% translate "Unpaid service subscription" %}</a>
                  </h4>
                </div>
                <div id="error-{{ service.pk }}" class="panel-collapse collapse in" role="tabpanel">
                  <div class="panel-body">
                    {% translate "The backup service was temporarily disabled due to an unpaid subscription. Enable backups by renewing your subscription." %}

                  </div>
                  <div class="panel-footer">
                    <a class="btn btn-primary" href="https://weblate.org/user/">{% translate "Manage your subscription" %}</a>
                  </div>
                </div>
              </div>
            {% endif %}
            <div class="panel panel-default">
              <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                  <a class="collapsed createdbackup"
                     role="button"
                     data-toggle="collapse"
                     data-parent="#accordion-{{ service.pk }}"
                     href="#collapse-{{ service.pk }}"
                     aria-expanded="false"
                     aria-controls="collapse-{{ service.pk }}">
                    <span class="badge pull-right flip">{{ service.timestamp|date }}</span>
                    {% translate "Backup service credentials" %}
                  </a>
                </h4>
              </div>
              <div id="collapse-{{ service.pk }}" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">{% include "manage/snippets/backup-credentials.html" %}</div>
              </div>
            </div>
            {% for log in service.last_logs %}
              <div class="panel {% if log.event == "error" %}panel-danger{% else %}panel-default{% endif %}">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                    <a class="collapsed"
                       role="button"
                       data-toggle="collapse"
                       data-parent="#accordion-{{ service.pk }}"
                       href="#collapse-{{ service.pk }}-{{ log.pk }}"
                       aria-expanded="false"
                       aria-controls="collapse-{{ service.pk }}-{{ log.pk }}">
                      <span class="badge pull-right flip">{{ log.timestamp|date }}</span>
                      {{ log.get_event_display }}
                    </a>
                  </h4>
                </div>
                <div id="collapse-{{ service.pk }}-{{ log.pk }}"
                     class="panel-collapse collapse"
                     role="tabpanel">
                  <div class="panel-body">
                    <pre>{{ log.log }}</pre>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="panel-footer">
          <input type="hidden" name="service" value="{{ service.pk }}" />
          <input type="submit"
                 class="btn btn-primary"
                 name="toggle"
                 value="{% if service.enabled %}{% translate "Turn off" %}{% else %}{% translate "Turn on" %}{% endif %}" />
          <input type="submit"
                 class="btn btn-primary runbackup"
                 name="trigger"
                 value="{% translate "Perform backup" %}" />
          <button type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#remove-{{ service.pk }}">{% translate "Delete" %}</button>
        </div>
      </div>
    </form>

    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="service" value="{{ service.pk }}" />
      <div class="modal fade" tabindex="-1" role="dialog" id="remove-{{ service.pk }}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="{% translate "Close" %}">
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title">{% translate "Are you absolutely sure?" %}</h4>
            </div>
            <div class="modal-body">
              <p>
                <strong>{% translate "By removing the backup service, the credentials will be removed and you might lose access to the backups." %}</strong>
              </p>
              <p>{% translate "In case you want to be able to restore the backups, please record credentials below." %}</p>
              {% include "manage/snippets/backup-credentials.html" %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">{% translate "Close" %}</button>
              <input type="submit"
                     class="btn btn-danger"
                     name="remove"
                     value="{% translate "Delete" %}" />
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </form>

  {% endfor %}

  {% include "manage/snippets/activation-form.html" %}

  <form method="post">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          {% documentation_icon 'admin/backup' 'custombackup' right=True %}
          {% translate "Add backup service" %}
        </h4>
      </div>
      <div class="panel-body">{% crispy form %}</div>
      <div class="panel-footer">
        <input type="submit"
               id="generate-ssh-button"
               class="btn btn-primary"
               value="{% translate "Add" %}" />
      </div>
    </div>
  </form>


{% endblock content %}
