{% extends "mail/base.html" %}

{% load i18n %}{% load translations %}

{% block content %}
<p>
{% blocktrans %}There has been a change in your account at {{ site_title }}:{% endblocktrans %}
</p>

<p>
{{ message }}
</p>

{% if extra_message %}
<p>
{{ extra_message }}
</p>
{% endif %}

<table>
<tr>
<td>{% trans "IP address" %}</td>
<td>{{ address }}</td>
</tr>
<tr>
<td>{% trans "User agent" %}</td>
<td>{{ user_agent }}</td>
</tr>
</table>

<p>
{% blocktrans %}If you did not request this change, please report it as soon as possible.{% endblocktrans %}
</p>

<div class="line buttons">
<a class="button" href="{% url 'contact' %}?t=account">{% trans "Report suspicious activity" %}</a>
</p>

{% endblock %}
