{% extends "mail/base.html" %}

{% load i18n %}{% load translations %}

{% block content %}
<p>
{% trans "Hi,"%}
</p>

<p>
{% blocktrans %}This is an automatic email to help you complete your registration with {{ site_title }}.{% endblocktrans %}
</p>

<p>
{% blocktrans %}Please open the following link in your web browser. If the link is split over several lines, you may need to copy it in the address bar.{% endblocktrans %}
</p>

<p>
<a href="{{ current_site_url }}{{ url }}">{{ current_site_url }}{{ url }}</a>
</p>

<p>
{% blocktrans %}If there is a problem with your registration, please contact us:{% endblocktrans %}
</p>

<p>
<a href="{{ current_site_url }}{% url 'contact' %}?subject=Registration">{{ current_site_url }}{% url 'contact' %}?subject=Registration</a>
</p>

{% endblock %}
