{% extends "mail/base.html" %}

{% load i18n %}{% load translations %}

{% block content %}
{% if billing.is_trial %}
  <p>
    {% trans "Your trial period is going to expire in less than week." %}
    {% if billing.plan.price %}
      {% trans "If you want to continue using the service, please purchase the subsription." %}
    {% else %}
      {% trans "If you want to continue using the service, please request approval of your libre plan." %}
    {% endif %}
  </p>
{% else %}
  <p>{% trans "Your billing plan has expired, if you want to continue using the service, please renew it." %}</p>
{% endif %}

<p>{% trans "This billing plan covers following projects:" %}</p>

<ul>
{% for project in billing.projects.all %}
    {% if final_removal %}
        <li>{{ project }}</li>
    {% else %}
        <li><a href="{{ project.get_absolute_url }}">{{ project }}</a> [<a href="{{ project.get_absolute_url }}#delete">{% trans "Remove the project" %}</a>]</li>
    {% endif %}
{% endfor %}
</ul>

{% if final_removal %}
    <p><strong>{% trans "All projects covered by this billing plan have been removed." %}</strong></p>
{% else %}
    {% if billing.removal %}
        <p><strong>{% blocktrans with date=billing.removal|date:"SHORT_DATE_FORMAT" %}If you don't perform the payment, all projects within this billing plan will be removed on {{ date }}.{% endblocktrans %}</strong></p>
    {% endif %}

    {% if payment_enabled %}
        <div class="line buttons">
          {% if billing.plan.price %}
            <a href="{% url 'create-billing' %}?billing={{ billing.pk }}&amp;upgrade=1" class="button">{% trans "New payment" %}</a>
          {% else %}
            <a href="{% url 'hosting' %}">{% trans "Request approval for libre hosting" %}</a>
          {% endif %}
        </div>
    {% endif %}

{% endif %}

{% endblock %}
