{% extends "mail/base.html" %}

{% load i18n %}{% load translations %}

{% block content %}
<p>{% trans "Your billing plan has expired, if you want to continue using the service, please renew it using the following link:" %}</p>

<p>
<a href="{{ billing_url }}">{{ billing_url }}</a>
</p>

<p>{% trans "This billing plan covers following projects:" %}</p>

<ul>
{% for project in billing.projects.all %}
<li><a href="{{ current_site_url }}{{ project.get_absolute_url }}">{{ project }}</a></li>
{% endfor %}
</ul>

{% if final_removal %}
<p><strong>{% trans "All projects covered by this billing plan have been removed." %}</strong></p>
{% elif billing.removal %}
<p><strong>{% blocktrans with date=billing.removal|date:"SHORT_DATE_FORMAT" %}If you don't perform the payment, all projects within this billing plan will be removed on {{ date }}.{% endblocktrans %}</strong></p>
{% endif %}

{% endblock %}
