{% load i18n %}
{% load translations %}
<p>{% trans "Translation summary:" %}</p>

<table>
<tr>
<th>{% trans "Total strings:" %}</th><td>{{ translation.stats.all }}</td>
</tr>
<tr>
<td>{% trans "Translated strings:" %}</th><td>{{ translation.stats.translated }} ({{ translation.stats.translated_percent }}%)</td>
</tr>
<tr>
<td>{% trans "Untranslated strings:" %}</th><td>{{ translation.stats.untranslated }} ({{ translation.stats.untranslated_percent }}%)</td>
</tr>
<tr>
<td>{% trans "Strings marked for review:" %}</th><td>{{ translation.stats.fuzzy }} ({{ translation.stats.fuzzy_percent }}%)</td>
</tr>
</table>

<p>{% blocktrans with translation_url=translation_url|urlize %}You can translate at {{ translation_url }}{% endblocktrans %}</p>
