{% load i18n %}
{% load translations %}
<p>{% trans "Translation summary:" %}</p>

<table>
<tr>
<th>{% get_filter_name "all" %}</th><td>{{ translation.stats.all }}</td>
</tr>
<tr>
<td>{% get_filter_name "translated" %}</th><td>{{ translation.stats.translated }} ({{ translation.stats.translated_percent }}%)</td>
</tr>
<tr>
<td>{% get_filter_name "nottranslated" %}</th><td>{{ translation.stats.nottranslated }} ({{ translation.stats.nottranslated_percent }}%)</td>
</tr>
<tr>
<td>{% get_filter_name "todo" %}</th><td>{{ translation.stats.todo }} ({{ translation.stats.todo_percent }}%)</td>
</tr>
<tr>
<td>{% get_filter_name "fuzzy" %}</th><td>{{ translation.stats.fuzzy }} ({{ translation.stats.fuzzy_percent }}%)</td>
</tr>
</table>

<p>{% blocktrans with translation_url=translation_url|urlize %}You can translate at {{ translation_url }}{% endblocktrans %}</p>
