{% load i18n %}
{% load translations %}

<div class="box">
    <h1>
        {% trans "Translation summary" %}
    </h1>
    <div class="line">
        <div class="line-left">{% get_filter_name "all" %}</div>
        <div class="line-right">{{ translation.stats.all }}</div>
    </div>
    <div class="line">
        <div class="line-left">{% get_filter_name "translated" %}</div>
        <div class="line-right">{{ translation.stats.translated }} ({{ translation.stats.translated_percent }}%)</div>
    </div>
    <div class="line">
        <div class="line-left">{% get_filter_name "nottranslated" %}</div>
        <div class="line-right">{{ translation.stats.nottranslated }} ({{ translation.stats.nottranslated_percent }}%)</div>
    </div>
    <div class="line">
        <div class="line-left">{% get_filter_name "todo" %}</div>
        <div class="line-right">{{ translation.stats.todo }} ({{ translation.stats.todo_percent }}%)</div>
    </div>
    <div class="line">
        <div class="line-left">{% get_filter_name "fuzzy" %}</div>
        <div class="line-right">{{ translation.stats.fuzzy }} ({{ translation.stats.fuzzy_percent }}%)</div>
    </div>
    <div class="line bordered">
        <a class="button" href="{{ translation_url }}">{% trans "View the translation" %}</a>
    </div>
</div>
