{% extends "mail/base.html" %}

{% load i18n %}{% load translations %}

{% block content %}
<p>
{% trans "Hi,"%}
</p>

<p>
{% blocktrans %}There has been a request for new language on {{ translation }} at {{ site_title }}.{% endblocktrans %}
</p>

<p>
{% trans "Please add the language file to VCS, Weblate will automatically discover it upon next update." %}
</p>

<p>
<a href="{% documentation 'devel/translations' 'adding-translation' %}"> 
{% trans "More information on adding new language files is to be found in the documentation." %}
</a>
</p>

<table>
<tr>

<th>
{% trans "Requested language:" %}

</th>

<td>
{{ language }} ({{ language.code }})
</td>
</tr>
<tr>

<th>
{% trans "Requested by:" %}

</th>

<td>
<a href="mailto:{{ user.email }}">{{ user.get_visible_name }}</a>
</td>
</tr>

</table>

{% endblock %}
