{% extends "mail/base.html" %}

{% load i18n %}{% load translations %}

{% block content %}
<p>
{% if project %}
{% blocktrans %}New whiteboard message has been added to {{ project }} at {{ site_title }}.{% endblocktrans %}
{% else %}
{% blocktrans %}New whiteboard message has been added at {{ site_title }}.{% endblocktrans %}
{% endif %}
</p>

<h2>{% trans "Message" %}</h2>

<p>{{ whiteboard.render }}</p>

<div class="line buttons">
{% if whiteboard.component %}
    <a class="button" href="{{ current_site_url }}{{ whiteboard.component.get_absolute_url }}">{{ whiteboard.component }}</a>
{% elif whiteboard.project %}
    <a class="button" href="{{ current_site_url }}{{ whiteboard.project.get_absolute_url }}">{{ whiteboard.project }}</a>
{% elif whiteboard.language %}
    <a class="button" href="{{ current_site_url }}{{ whiteboard.language.get_absolute_url }}">{{ whiteboard.language }}</a>
{% endif %}
</div>

{% endblock %}
