{% extends "mail/base.html" %}

{% load i18n translations %}

{% block content %}

  {% if change.action == 104 %}
    <h2>{% blocktranslate with alert=alert %}Reopened alert: {{ alert }}{% endblocktranslate %}</h2>
  {% else %}
    <h2>{{ alert }}</h2>
  {% endif %}

  {% with user=subscription_user %}
    {% render_alert alert %}
    {% documentation alert as documentation_url %}
    {% if documentation_url %}
      <p>
        <a href="{{ documentation_url }}">{% translate "Documentation" %}</a>
      </p>
    {% endif %}
  {% endwith %}

  <div class="line buttons">
    <a class="button" href="{{ component.get_absolute_url }}#alerts">{% translate "View diagnostics" %}</a>
  </div>

{% endblock content %}
