{% extends "mail/base.html" %}

{% load i18n %}{% load translations %}

{% block content %}

{% include "mail/snippets/source-string.html" %}

<h2>{% trans "Suggestion" %}</h2>

{% format_translation suggestion.target unit.translation.language unit.translation.plural %}

{% if unit.translated %}
<h2>{% trans "Translation change" %}</h2>

{% format_translation suggestion.target unit.translation.language unit.translation.plural unit.target %}
{% endif %}

<div class="line buttons">
    <a class="button" href="{{ unit.get_absolute_url }}#suggestions">{% trans "Edit this string" %}</a>
</div>

{% include "mail/snippets/unit-screenshots.html" %}

{% endblock %}
