{% extends "mail/base.html" %}

{% load humanize i18n translations %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>{% translate "Translation" %}</th>
        <th colspan="2">{% translate "Strings with suggestions" %}</th>
      </tr>
    </thead>
    {% for summary in changes %}
      <tr>
        <td>{{ summary.translation }}</td>
        <td>{{ summary.translation.stats.suggestions|intcomma }}</td>
        <td>
          <a class="button"
             href="{{ summary.translation.get_translate_url }}?q=has:suggestion">{% translate "View" %}</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
