{% load i18n %}

<table>
  <tr>
    <td>{% translate "IP address" %}</td>
    <td>{{ address }}</td>
  </tr>
  <tr>
    <td>{% translate "User agent" %}</td>
    <td>{{ user_agent }}</td>
  </tr>
  <tr>
    <td>{{ site_title }}</td>
    <td>
      <a href="{{ current_site_url }}">{{ current_site_url }}</a>
    </td>
  </tr>
</table>

<p>
  {% blocktranslate %}Sign in to see the full audit log, including the IP address.{% endblocktranslate %}
  {% blocktranslate %}If you didn’t initiate this, please report it to the server administrators by clicking the button below.{% endblocktranslate %}
</p>

<div class="line buttons">
  <a class="button" href="{% url 'profile' %}#audit">{% translate "View audit log" %}</a>
  <a class="button" href="{% url 'contact' %}?t=account">{% translate "Report" %}</a>
</div>
