{% extends "message.html" %}
{% load i18n %}

{% block tags %}warning{% endblock %}

{% block message %}
  {% comment %}user_can_view_billing is defined in snippets/project/state.html{% endcomment %}
  {% if user_can_view_billing %}
    <a href="{{ object.billing.get_absolute_url }}" class="btn btn-primary pull-right flip">{% trans "Request approval for Libre hosting" %}</a>
  {% endif %}
  {% trans "Hey translator! This project is in a trial period, and its setup might not be complete yet!" %}
  <br/>
  {% trans "Consider asking its maintainers before you contribute to avoid the chance of losing your work. Remember that before approval as a libre project, essential things like a license can change." %}
  <div class="clearfix"></div>
{% endblock %}
