{% extends "message.html" %}
{% load i18n %}

{% block tags %}warning{% endblock %}

{% block message %}
  {# user_can_view_billing is defined in snippets/project/state.html #}
  {% if user_can_view_billing %}
    {# project admin can request approval #}
    <a href="{{ object.billing.get_absolute_url }}" class="btn btn-primary pull-right flip">{% trans "Request approval for Libre hosting" %}</a>
    {% trans "This project is in the trial period and is publicly accessible. You can post an announcement and lock the project to avoid contributions until you finish the setup." %}
  {% else %}
    {# users are warned that the setup is not yet completed #}
    {% trans "Hey translator! This project is in a trial period; its setup might not be finished yet. Consider saving your work until the project is approved as Libre. The license or other important things can change; some projects don’t get approved." %}
  {% endif %}
  <div class="clearfix"></div>
{% endblock %}
