{% extends "message.html" %}
{% load i18n %}

{% block tags %}warning{% endblock %}

{% block message %}
  {% comment %}user_can_view_billing is defined in snippets/project/state.html{% endcomment %}
  {% if user_can_view_billing %}
    <a href="{{ object.billing.get_absolute_url }}" class="btn btn-primary pull-right flip">{% trans "Request approval for libre hosting" %}</a>
  {% endif %}
  {% trans "This project is in a trial period and might not yet be fully set up! </br> Better ask its maintainers before you contribute to prevent the chance of losing your work. Also, things like license or repository can still change before being approved as a libre project or not." %}
  <div class="clearfix"></div>
{% endblock %}
