{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{{ object.project.get_absolute_url }}">{{ object.project }}</a></li>
<li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
<li><a href="{% url 'screenshots' project=object.project.slug subproject=object.slug %}">{% trans "Screenshots" %}</a></li>
{% endblock %}

{% block content %}

<table class="sort table">
<thead>
<tr>
<th>{% trans "Name" %}</th>
<th>{% trans "Screenshot" %}</th>
</tr>
<tbody>
{% for screenshot in object_list %}
<tr>
<th><a href="{{ screenshot.name }}">{{ screenshot.name }}</a></th>
<td>
{% include "screenshots/screenshot_show.html" %}
</td>
</tr>
{% endfor %}
</tbody>
</table>

{% include "paginator.html" %}

{% endblock %}

