{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load permissions %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<li><a href="{{ object.component.project.get_absolute_url }}">{{ object.component.project }}</a></li>
<li><a href="{{ object.component.get_absolute_url }}">{{ object.component.name }}</a></li>
<li><a href="{% url 'screenshots' project=object.component.project.slug subproject=object.component.slug %}">{% trans "Screenshots" %}</a></li>
<li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
{% endblock %}

{% block content %}

{% can_delete_screenshot user object.component.project as user_can_delete_screenshot %}
{% can_change_screenshot user object.component.project as user_can_change_screenshot %}

<div class="panel panel-primary">
<div class="panel-heading"><h4 class="panel-title">{% trans "Source strings" %}</h4></div>
  <div class="panel-body">

<p class="helptext">{% trans "Select strings where the screenshot is shown to provide visual context to translators." %}</p>

<table class="sort table table-striped">
<thead>
<tr>
<th>{% trans "Source string" %}</th>
</tr>
<tbody>
{% for source in object.sources.all %}
<tr>
{% with source.unit as unit %}
<td class="translatetext">{% format_translation unit.source unit.translation.subproject.project.source_language %}</td>
<td>
<a href="{{ source.get_absolute_url }}?checksum={{ unit.checksum }}" class="btn btn-default"><i class="fa fa-search"></i> {% trans "View" %}</a>
</td>
{% if user_can_change_screenshot %}
<td>
<form action="{% url 'screenshot-remove-source' pk=object.pk %}" method="POST">
{% csrf_token %}
<input type="hidden" name="source" value="{{ source.pk }}" />
<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> {% trans "Remove" %}</button>
</form>
{% endif %}
</td>
{% endwith %}
</tr>
{% endfor %}
</tbody>
</table>

</div>
</div>

<div class="panel panel-primary">
<div class="panel-heading"><h4 class="panel-title">{% trans "Image" %}</h4></div>
  <div class="panel-body">

{% with object as screenshot %}
{% include "screenshots/screenshot_show.html" %}
{% endwith %}

</div>
</div>

{% if user_can_change_screenshot %}
<form action="{{ object.get_absolute_url }}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="panel panel-primary">
<div class="panel-heading"><h4 class="panel-title">{% trans "Edit screenshot" %}</h4></div>
  <div class="panel-body">
  {{ edit_form|crispy }}
  </div>
  <div class="panel-footer">
  <input type="submit" class="btn btn-success" value="{% trans "Save" %}" />
  </div>
</div>
</form>
{% endif %}

{% if user_can_delete_screenshot %}
<div class="panel panel-danger">
<div class="panel-heading"><h4 class="panel-title">{% trans "Delete screenshot" %}</h4></div>
  <div class="panel-body">

<p class="helptext">{% trans "Deleting screenshot will remove it from all associated source strings." %}</p>

<form action="{% url 'screenshot-delete' pk=object.pk %}" method="POST">
{% csrf_token %}
<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> {% trans "Delete" %}</button>
</form>

</div>
</div>
{% endif %}

{% endblock %}
