{% load i18n %}

<p>{% blocktrans %}Weblate is a web based translation tool with tight version control integration. It features a simple and clean user interface, propagation of translations across components, quality checks and automatic linking to source files.{% endblocktrans %}</p>

<p>{% blocktrans %}More information about Weblate can be found on {{ weblate_link }}.{% endblocktrans %}</p>

<p>{% blocktrans %}Weblate is libre software created by volunteers, and accepts donations.{% endblocktrans %}</p>
