{% load i18n %}

<div class="clearfix"></div>
<div class="translation-item">
  <label for="{{ fieldid }}">{{ label }}</label>
  {{ toolbar }}
  <div class="clearfix"></div>
  {{ textarea }}
  <div class="pull-right flip editor-footer">
    <span class="badge length">
      <span title="{% trans "The maximal string length is determined from the source string or flags." %}">
        <span data-max="{{ max_length }}" class="length-indicator">{{ length }}</span>/{{ max_length }}
      </span>
      {% if source_length %}
        <span title="{% trans "Source string length" %}">· {{ source_length }}</span>
      {% endif %}
    </span>
    {{ rtl_toggle }}
  </div>
</div>
