{% load i18n %}
{% load translations %}
{% load icons %}

{% any_unit_has_context units as any_unit_has_context %}

<table class="table table-condensed">
  <thead>
    <tr>
      {% if show_language %}
        <th>{% trans "Language" %}</th>
      {% endif %}
      {% if not hide_context and any_unit_has_context %}
        <th>{{ component.context_label }}</th>
      {% endif %}
      {% if not hide_source and not translation.is_source %}
        <th>{{ translation.component.source_language }}</th>
      {% endif %}
      <th>
        {% if show_language %}
          {% trans "Translation" %}
        {% else %}
          {{ translation.language }}
        {% endif %}
      </th>
      {% if show_location %}
        <th>{% trans "Location" %}</th>
      {% endif %}
      {% if show_screenshots %}
        <th>{% trans "Assigned screenshots" %}</th>
      {% endif %}
      <th>{% trans "State" %}</th>
      {% if actions_template %}
        <th>{% trans "Actions" %}</th>
      {% endif %}
    </tr>
  </thead>
  {% if loading_id %}
    <tbody id="{{ loading_id }}" style="display:none;">
      <tr><td colspan="5">{% loading_icon hidden=False %} {% trans "Loading results…" %}</td></tr>
    </tbody>
  {% endif %}
  <tbody class="unit-listing-body">

    {% for unit in units %}
      <tr {% if current_unit.id == unit.id %}class="current_translation"{% endif %}>
        {% if show_language %}
          <td><a class="language" href="{{ unit.get_absolute_url }}">{{ unit.translation.language }}</a></td>
        {% endif %}
        {% if not hide_context and any_unit_has_context %}
          <td>{% if unit.context %}<a href="{{ unit.get_absolute_url }}{% if include_search and search_url %}&amp;{{ search_url }}{% elif sort_query %}&amp;sort_by={{ sort_query }}{% endif %}">{% format_translation unit.context unit.translation.component.source_language simple=True wrap=True %}</a>{% endif %}</td>
        {% endif %}
        {% if not hide_source and not unit.is_source %}
          <td><a href="{{ unit.get_absolute_url }}{% if include_search and search_url %}&amp;{{ search_url }}{% elif sort_query %}&amp;sort_by={{ sort_query }}{% endif %}">{% format_translation unit.source unit.translation.component.source_language simple=True %}</a></td>
        {% endif %}
        <td><a href="{{ unit.get_absolute_url }}{% if include_search and search_url %}&amp;{{ search_url }}{% elif sort_query %}&amp;sort_by={{ sort_query }}{% endif %}">{% format_translation unit.target unit.translation.language unit.translation.plural simple=True %}</a></td>
        {% if show_location %}
          <td>{{ unit.location }}</th>
        {% endif %}
        {% if show_screenshots %}
          <td>{{ unit.screenshots.count }}</td>
        {% endif %}
        <td>{% get_state_flags unit True %}</td>
        {% if actions_template %}
          <td>{% include actions_template %}</td>
        {% endif %}
      </tr>
    {% empty %}
      <tr class="warning">
        <td colspan="5"><em>{% trans "No matching strings found." %}</em></td>
      </tr>
    {% endfor %}

  </tbody>
</table>
