{% load i18n %}
{% load translations %}
{% load icons %}

<td class="number {{ class }}" data-value="{{ percent|stringformat:"f" }}" title="{% blocktrans %}{{ value }} of {{ all }}{% endblocktrans %}">
    {% if value == all %}
        <span class="green" title="{% blocktrans count count=all %}Completed translation with {{ count }} string{% plural %}Completed translation with {{ count }} strings{% endblocktrans %}">{% icon "check.svg" %}</span>
    {% else %}
        {{ percent|percent_format }}
    {% endif %}
</td>
