{% load i18n %}

<div class="hidden-xs">
<h4>{% trans "Web-based <strong>continuous</strong> localization" %}</h4>

{% include "snippets/about.html" %}

{% if has_legal %}
<p>{% trans "By registering and signing in to this service you accept our:" %}</p>
<ul>
<li>
    <a href="{% url 'legal:terms' %}">{% blocktrans %}Terms of Service{% endblocktrans %}</a>
</li>
<li>
    <a href="{% url 'legal:privacy' %}">{% blocktrans %}Privacy Policy{% endblocktrans %}</a>
</li>
<ul>
{% else %}
<p>
{% trans "By registering you agree to use your name and e-mail in version control system commits and provide your contribution under license defined by each translated project." %}
</p>
{% endif %}

</div>
