{% load compress %}
{% load static %}

{% compress css %}
  <link rel="stylesheet"
        href="{% static 'vendor/bootstrap/css/bootstrap.css' %}{{ cache_param }}" />
  {% if LANGUAGE_BIDI %}
    <link rel="stylesheet"
          href="{% static 'vendor/bootstrap/css/bootstrap-rtl.css' %}{{ cache_param }}" />
  {% endif %}
  <link rel="stylesheet"
        href="{% static 'js/vendor/fonts/fonts.css' %}{{ cache_param }}" />
  <link rel="stylesheet" href="{% static 'js/vendor/multi.css' %}{{ cache_param }}" />
  <link rel="stylesheet" href="{% static 'styles/new-language.css' %}{{ cache_param }}" />
  <link rel="stylesheet" href="{% static 'styles/variables.css' %}{{ cache_param }}" />
  <link rel="stylesheet" href="{% static 'styles/main.css' %}{{ cache_param }}" />
  <link rel="stylesheet" href="{% static 'daterangepicker.css' %}{{ cache_param }}" />
  {% if theme == "auto" %}
    <link rel="stylesheet"
          href="{% static 'style-dark.css' %}{{ cache_param }}"
          media="(prefers-color-scheme: dark)" />
  {% elif theme == "dark" %}
    <link rel="stylesheet" href="{% static 'style-dark.css' %}{{ cache_param }}" />
  {% endif %}
{% endcompress %}
{% if custom_css_hash %}
  <link rel="stylesheet" href="{% url "css-custom" %}?{{ custom_css_hash }}" />
{% endif %}
