{% load i18n %}
{% load permissions %}
{% load translations %}

{% perm 'project.edit' object as user_can_edit_project %}
<p>{% trans "Version control or files to translate are configured on individual components:" %}</p>

<p>
  {% for component in object.component_set.order %}
    <a class="btn btn-link" href="{% url 'settings' path=component.get_url_path %}">
      {{ component.name }}
      {% get_glossary_badge component %}
    </a>
  {% endfor %}
</p>

{% if user_can_edit_project %}
  <p>
    <a class="btn btn-link"
       href="{% url 'create-component' %}?project={{ object.pk }}">{% trans "Add new translation component" %}</a>
  </p>
{% endif %}
