{% load i18n icons translations %}

<div class="btn-group search-group sort-field" role="group">
  <div class="btn-group" role="group">
    <button type="button"
            id="query-sort-dropdown"
            class="btn {% if bootstrap_5 %}btn-outline-primary{% else %}btn-default{% endif %} dropdown-toggle search-field"
            {% if bootstrap_5 %}
              data-bs-toggle="dropdown"
            {% else %}
              data-toggle="dropdown"
            {% endif %}
            aria-haspopup="true"
            aria-expanded="false">
      {% if form.sort_name %}
        <span class="search-label">{{ form.sort_name }}</span>
      {% else %}
        <span class="search-label">{% translate "Sort By" %}</span>
      {% endif %}
      {% if not bootstrap_5 %}<span class="caret"></span>{% endif %}
    </button>
    <input type="hidden"
           id="id_sort_by"
           name="sort_by"
           value="{{ form.sort_query }}"
           aria-label="{% translate "Sort By" %}" />
    <ul class="dropdown-menu{% if bootstrap_5 %} shadow{% endif %}">
      {% sort_choices as sort_choices %}
      {% for key, name in sort_choices %}
        <li>
          <a {% if bootstrap_5 %}class="dropdown-item" {% endif %}href="#" data-sort="{{ key }}">{{ name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn {% if bootstrap_5 %}btn-outline-primary{% else %}btn-default{% endif %} search-field query-sort-toggle">
      <span title="{% translate 'Ascending' %}" class="search-icon asc active">{% icon "sort-ascending.svg" %}</span>
      <span title="{% translate 'Descending' %}" class="search-icon desc">{% icon "sort-descending.svg" %}</span>
    </button>
  </div>
</div>
