{% load i18n %}
{% load translations %}

<p>{% trans "Weblate could not execute script addon." %}</p>

<p>{% trans "The following occurences were found:" %}</p>

<table class="table table-condensed">
<thead>
<tr><th>{% trans "Command" %}</th><th>{% trans "Error" %}</th></tr>
</thead>
<tbody>
{% for occurence in occurences %}
<tr><td>{{ occurence.command }}</td><td>{{ occurence.error }}</td></tr>
{% if occurence.output %}
<tr><td colspan="2"><pre>{{ occurence.output }}</pre></td></tr>
{% endif %}
{% endfor %}
</tbody>
</table>

