{% load i18n %}

<p>{% trans "This component is set up incorrectly." %}</p>

<p>{% trans "The repository browser URL points to non-existing locations:" %}</p>

<ul>
  <li>
    <a href="{{ link }}">{{ link }}</a>
    {% if error %}({{ error }}){% endif %}
  </li>
</ul>

<p>
  {% trans "In case the above links work for you, they might just require authentication, and it is safe to dismiss this alert." %}
</p>

<p>
  {% trans "This can happen if the path within the translation files contains references to a parent directory, or is absolute." %}
</p>
