{% load i18n %}
{% load translations %}

<p>{% trans "The component contains several duplicated translation strings." %}</p>

<p>{% trans "The following occurences were found:" %}</p>

<table class="table table-condensed">
<thead>
<tr><th>{% trans "Language" %}</th><th>{% trans "Source" %}</th></tr>
</thead>
<tbody>
{% for occurence in occurences %}
<tr>
<td>{{ occurence.language }}</td>
<td>
{% if occurence.unit  %}
<a href="{{ occurence.unit.get_absolute_url }}">{% format_translation occurence.unit.source occurence.unit.translation.component.project.source_language %}</a>
{% else %}
{{ occurence.source }}
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>

<p>{% trans "Please fix this by removing duplicated strings with same identifier from the translation files." %}</p>
