{% load i18n %}
<p>{% trans "The component contains several translation files mapped to single language in Weblate." %}</p>

<p>{% trans "The following occurrences were found:" %}</p>

<table class="table table-condensed">
<thead>
<tr><th>{% trans "Language" %}</th><th>{% trans "Language codes" %}</th></tr>
</thead>
<tbody>
{% for occurrence in occurrences %}
<tr><td>{{ occurrence.language }}</td><td>{{ occurrence.codes }}</td></tr>
{% endfor %}
</tbody>
</table>

<p>{% trans "Please fix this by removing one of the duplicated strings from the translation files." %}</p>
