{% load i18n %}
<p>
    {% trans "The component contains several translation files mapped to a single language in Weblate." %}
    {% trans "Please fix this by removing one of the translation files." %}
</p>

{% if analysis %}

<p>{% trans "Please consider the following:" %}</p>

<ul>
{% if analysis.source_language %}
<li>{% trans "Change the source language in the project settings, or remove its translation file." %}</li>
{% endif %}
{% if analysis.default_country %}
<li>{% trans "Avoid having translation files for both the plain language code and its equivalent territory designation (for example de and de_DE)." %}</li>
{% endif %}
</ul>

{% endif %}

<p>{% trans "The following occurrences were found:" %}</p>

<table class="table table-condensed">
<thead>
<tr><th>{% trans "Language" %}</th><th>{% trans "Language codes" %}</th></tr>
</thead>
<tbody>
{% for occurrence in occurrences %}
<tr>
    <td>{{ occurrence.language }}</td>
    <td>{{ occurrence.codes }}</td>
</tr>
{% endfor %}
</tbody>
</table>
