{% load i18n translations %}

<p>{% translate "Weblate could not parse the translation files while updating the translations." %}</p>

<p>{% translate "The following occurrences were found:" %}</p>

<table class="table table-sm">
  <thead>
    <tr>
      <th>{% translate "Filename" %}</th>
      <th>{% translate "Error" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for occurrence in occurrences %}
      <tr>
        <td>{{ occurrence.filename }}</td>
        <td>{{ occurrence.error }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include "trans/alert/occurrences-limit.html" %}
