{% load i18n permissions %}

<p>{% translate "Weblate could not push changes to the upstream repository." %}</p>

{% if not analysis.redirect %}<pre>{{ error }}</pre>{% endif %}

{% include "trans/alert/common-repo.html" %}

{% perm 'vcs.push' component as user_can_push %}
{% perm 'component.edit' component as user_can_edit_component %}
{% if user_can_push or user_can_edit_component %}
  <p>
    {% if user_can_push %}
      <a href="#"
         class="btn btn-primary link-post"
         data-href="{% url "push" path=component.get_url_path %}">{% translate "Push the repository" %}</a>
    {% endif %}
    {% if user_can_edit_component %}
      <a class="btn btn-link"
         href="{% url 'settings' path=component.get_url_path %}#vcs">{% translate "Edit component settings" %}</a>
    {% endif %}
  </p>
{% endif %}
