{% load i18n %}
{% load translations %}

<table class="table table-condensed">
<thead>
<tr>
<th>{% trans "Language" %}</th>
<th>{% trans "Status" %}</th>
<th>{% trans "Translation" %}</th>
<th>{% trans "Edit" %}</th>
</tr>
</thead>
<tbody>
{% for unit in units %}
<tr>
<td><a class="language" href="{{ unit.get_absolute_url }}">{{ unit.translation.language }}</a></td>
<td>{% get_state_flags unit True %}</td>
<td>{% format_translation unit.target unit.translation.language unit.translation.plural simple=True %}</td>
<td><a href="{{ unit.get_absolute_url }}" class="btn btn-primary">{% trans "Edit" %}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
