{% extends "base.html" %}
{% load i18n %}
{% load weblate %}
{% load url from future %}

{% block breadcums %}
<li><a href="{% url 'trans.views.show_checks' %}">{% trans "checks" %}</a></li>
<li><a href="{% url 'trans.views.show_check' name=check.check %}">{{ check.get_check_display }}</a></li>
{% endblock %}

{% block content %}

<table class="sort simple">
<thead>
<tr>
<th>{% trans "Project" %}</th>
<th>{% trans "Failures" %}</th>
</tr>
<tbody>
{% for check in checks %}
<tr>
<th><a href="{% project_url check.project %}">{% project_name check.project %}</a></th>
<td><a href="{% url 'trans.views.show_check' name=check.check %}">{{ check.count }}</a></td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

