{% extends "base.html" %}
{% load i18n %}
{% load weblate %}
{% load url from future %}

{% block breadcums %}
<li><a href="{% url 'trans.views.show_checks' %}">{% trans "checks" %}</a></li>
<li><a href="{% url 'trans.views.show_check' name=sample.check %}">{{ sample.get_check_display }}</a></li>
<li><a href="{% url 'trans.views.show_check_project' name=sample.check project=subproject.project.slug %}">{{ subproject.project }}</a></li>
<li><a href="{% url 'trans.views.show_check_subproject' name=sample.check project=subproject.project.slug subproject=subproject.slug %}">{{ subproject }}</a></li>
{% endblock %}

{% block content %}

<p>
{{ sample.get_description }}
</p>

<p>
{% blocktrans with sample.get_doc_url as link %}More information about this check is available in the <a href="{{ link }}">documentation</a>.{% endblocktrans %}
</p>

<table class="sort simple">
<thead>
<tr>
<th>{% trans "Translation" %}</th>
<th>{% trans "Failures" %}</th>
</tr>
<tbody>
{% for check in checks %}
<tr>
<th><a href="{% url 'trans.views.show_translation' project=subproject.project.slug subproject=subproject.slug lang=check.translation__language__code %}">{{ check.translation__language__code }}</a></th>
<td><a href="{% url 'trans.views.translate' project=subproject.project.slug subproject=subproject.slug lang=check.translation__language__code %}?type={{ sample.check }}">{{ check.count }}</a></td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}



