{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcums %}
<li><a href="{{ project.get_absolute_url }}">{{ project }}</a></li>
<li><a href="{% url 'trans.views.show_dictionaries' project=project.slug %}">{% trans "dictionaries" %}</a></li>
<li><a href="{% url 'trans.views.show_dictionary' project=project.slug lang=language.code %}">{{ language }}</a></li>
{% endblock %}

{% block content %}


{% if words.object_list %}

<table>
<thead>
<tr>
<th>{% trans "Source" %}</th>
<th>{% trans "Translation" %}</th>
<th>{% trans "Actions" %}</th>
</tr>
</thead>
<tbody>
{% for word in words.object_list %}
<tr>
<td class="translatetext">{{ word.source }}</td>
<td class="translatetext">{{ word.target }}</td>
<td></td>
</tr>
{% endfor %}
</tbody>
</table>

<ul class="pages">
{% if words.has_previous %}
<li><a href="?page={{ words.previous_page_number }}">&laquo;</a></li>
{% else %}
<li class="disabled"><span>&laquo;</span></li>
{% endif %}
{% for page in words.paginator.page_range %}
<li {% ifequal page words.number %} class="active" {% endifequal %}><a href="?page={{ page }}">{{ page }}</a></li>
{% endfor %}
{% if words.has_next %}
<li><a href="?page={{ words.next_page_number }}">&raquo;</a></li>
{% else %}
<li class="disabled"><span>&raquo;</span></li>
{% endif %}
</ul>
{% endif %}


{% endblock %}
