{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}

{% if usertranslations %}
<h2>{% trans "Your translations" %}</h2>

<table>
<thead>
<tr>
<th>{% trans "Translation" %}</th>
<th colspan="2">{% trans "Translated" %}</th>
<th>{% trans "Fuzzy" %}</th>
<th></th>
</tr>
<tbody>
{% for trans in usertranslations %}
{% with trans.get_translated_percent as percent and trans.get_fuzzy_percent as fuzzy %}
<tr>
<th><a href="{{ trans.get_absolute_url }}">{{ trans.subproject }} - {% trans trans.language.name %}</a></th>
<td class="percent">{{ percent }}%</td>
<td class="progress"><div class="progress" id="{{ percent|floatformat:0 }}"></div></td>
<td class="percent">{{ fuzzy }}%</td>
<td>{% if percent < 100 %}<a href="{{ trans.get_translate_url }}?type=untranslated">{% trans "Translate" %}</a>{% endif %}</td>
</tr>
{% endwith %}
{% endfor %}
</tbody>
</table>
{% endif %}

<h2>{% trans "Projects" %}</h2>

<table>
<thead>
<tr>
<th>{% trans "Project" %}</th>
<th colspan="2">{% trans "Translated" %}</th>
</tr>
<tbody>
{% for prj in projects %}
{% with prj.get_translated_percent as percent %}
<tr>
<th><a href="{{ prj.get_absolute_url }}">{{ prj.name }}</a></th>
<td class="percent">{{ percent }}%</td>
<td class="progress"><div class="progress" id="{{ percent|floatformat:0 }}"></div></td>
</tr>
{% endwith %}
{% endfor %}
</tbody>
</table>

<h2>{% trans "Users" %}</h2>

<div class="floatbox">
<h3>{% trans "Best translators" %}</h3>

<table>
<thead>
<tr>
<th>{% trans "User" %}</th>
<th>{% trans "Translated" %}</th>
</tr>
<tbody>
{% for u in top_translations %}
<tr>
<td>{{ u.user.get_full_name }}</td>
<td class="percent">{{ u.translated }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<div class="floatbox">
<h3>{% trans "Best suggestions" %}</h3>

<table>
<thead>
<tr>
<th>{% trans "User" %}</th>
<th>{% trans "Suggested" %}</th>
</tr>
<tbody>
{% for u in top_suggestions %}
<tr>
<td>{{ u.user.get_full_name }}</td>
<td class="percent">{{ u.suggested }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<div class="clearer"></div>

<h2>{% trans "Languages" %}</h2>

<p>
{% url 'trans.views.show_languages' as lang_url %}
{% blocktrans %}There are also <a href="{{ lang_url }}">per language statistics</a> available.{% endblocktrans %}
</p>


{% endblock %}

