{% extends "base.html" %}
{% load i18n %}

{% block breadcums %}
<li><a href="/languages/">{% trans "languages" %}</a></li>
{% endblock %}

{% block content %}

<table>
<thead>
<tr>
<th>{% trans "Language" %}</th>
<th colspan="2">{% trans "Translated" %}</th>
</tr>
<tbody>
{% for lang in languages %}
{% with lang.get_translated_percent as percent %}
{% if lang.has_translations %}
<tr>
<th><a href="{{ lang.get_absolute_url }}">{% trans lang.name %}</a></th>
<td class="percent">{{ percent }}%</td>
<td class="progress"><div class="progress" id="{{ percent|floatformat:0 }}"></div></td>
</tr>
{% endif %}
{% endwith %}
{% endfor %}
</tbody>
</table>

{% endblock %}
