{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcums %}
<li><a href="{% url 'trans.views.show_languages' %}">{% trans "languages" %}</a></li>
<li><a href="{{ object.get_absolute_url }}">{% trans object.name %}</a></li>
{% endblock %}

{% block content %}

<table class="sort">
<thead>
<tr>
<th>{% trans "Language" %}</th>
<th colspan="2">{% trans "Translated" %}</th>
<th>{% trans "Fuzzy" %}</th>
<th></th>
</tr>
<tbody>
{% for trans in object.translation_set.all %}
{% with trans.get_translated_percent as percent and trans.get_fuzzy_percent as fuzzy %}
<tr>
<th><a href="{{ trans.get_absolute_url }}">{{ trans.subproject }}</a></th>
<td class="progress"><div class="progress" id="{{ percent|floatformat:0 }}"></div></td>
<td class="percent">{{ percent }}%</td>
<td class="percent">{{ fuzzy }}%</td>
<td>{% if percent < 100 %}<a href="{{ trans.get_translate_url }}?type=untranslated">{% trans "Translate" %}</a>{% endif %}</td>
</tr>
{% endwith %}
{% endfor %}
</tbody>
</table>

{% endblock %}

