{% extends "base.html" %}
{% load i18n %}

{% block content %}

<table>
<thead>
<tr>
<th>{% trans "Language" %}</th>
<th colspan="2">{% trans "Translated" %}</th>
</tr>
<tbody>
{% for trans in object.translation_set.all %}
{% with trans.get_translated_percent as percent and trans.get_fuzzy_percent as fuzzy %}
<tr>
<th><a href="{{ trans.get_absolute_url }}">{{ trans.subproject }}</a></th>
<td class="percent">{{ percent }}%</td>
<td class="progress"><div class="progress" id="{{ percent|floatformat:0 }}"></div></td>
<td class="percent">{{ fuzzy }}%</td>
</tr>
{% endwith %}
{% endfor %}
</tbody>
</table>

{% endblock %}

