{% load i18n %}

<table class="sort">
<thead>
<tr>
<th>{% trans "Language" %}</th>
<th colspan="2">{% trans "Translated" %}</th>
<th>{% trans "Fuzzy" %}</th>
<th></th>
<th></th>
</tr>
<tbody>
{% for trans in translations %}
{% with trans.get_translated_percent as percent and trans.get_fuzzy_percent as fuzzy %}
<tr>
<th><a href="{{ trans.get_absolute_url }}">{% if show_language %}{% trans trans.language.name %}{% else %}{{ trans.subproject }}{% endif %}</a></th>
<td class="progress"><div class="progress" id="{{ percent|floatformat:0 }}"></div></td>
<td class="percent">{{ percent }}%</td>
<td class="percent">{{ fuzzy }}%</td>
<td>
{% if percent < 100 %}
<a href="{{ trans.get_translate_url }}?type=untranslated" title="{% blocktrans count trans.get_non_translated as count %}There is {{ count }} not translated string.{% plural %}There are {{ count }} not translated strings.{% endblocktrans %}">{% trans "Translate" %}</a>
{% endif %}
</td>
<td>
{% with trans.get_failing_checks as checks %}
{% if checks > 0 %}
<a href="{{ trans.get_absolute_url }}" title="{% blocktrans count checks as count %}There is {{ checks }} failing check.{% plural %}There are {{ checks }} failing checks.{% endblocktrans %}">{% trans "Review" %}</a>
{% endif %}
{% endwith %}
</td>
</tr>
{% endwith %}
{% endfor %}
</tbody>
</table>
