{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}

{% if form.errors or userform.errors %}
<div class="ui-widget">
    <div style="padding: 0pt 0.7em;" class="ui-state-error ui-corner-all"> 
        <p><span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span>
        {% trans "Please fix errors in the form." %}
        </p>
    </div>
</div>
{% endif %}

<form method="post" action="{% url 'accounts.views.profile' %}">
{% csrf_token %}
<div class="accordion">
<h2><a href="#">{% trans "Preferences" %}</a></h2>
<div>
<table>
{{ form.as_table }}
</table>
</div>
<h2><a href="#">{% trans "Account" %}</a></h2>
<div>
<table>
{{ userform.as_table }}
</table>
<span class="helptext">{% trans "Your name and email will appear as author on Git commits." %}</span>
</div>
<h2><a href="#">{% trans "Password" %}</a></h2>
<div>
{% url 'django.contrib.auth.views.password_change' as pw_url %}
{% blocktrans %}You can change password on <a href="{{ pw_url }}">separate page</a>.{% endblocktrans %}
</div>
</div>

<input type="submit" value="{% trans "Save" %}" class="button" />
</form>

{% endblock %}
