{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcums %}
<li><a href="{{ object.project.get_absolute_url }}">{{ object.project }}</a></li>
<li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
{% endblock %}

{% block content %}
<h2>{% trans "Project Information" %}</h2>

{% include "subproject_info.html" %}

<h2>{% trans "Translations" %}</h2>

{% with object.translation_set.all as translations and 1 as show_language %}
{% include "list-translations.html" %}
{% endwith %}

{% url 'accounts.views.contact' as contact_url %}


<h2>{% trans "Tools" %}</h2>

<div class="accordion">
<h3><a href="#">{% trans "New language" %}</a></h3>
<div>
<p>{% blocktrans %}Should your language be missing, please <a href="{{ contact_url }}?subject=New+language+request+for+{{ object }}">contact us</a>.{% endblocktrans %}</li>
</div>

{% include "git-tools.html" %}
</div>

{% endblock %}

