{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include "subproject_info.html" %}

<h2>{% trans "Translations" %}</h2>

<ul>
{% for trans in object.translation_set.all %}
<li><a href="{{ trans.get_absolute_url }}">{{ trans.language.name }}
{% if trans.fuzzy %}
    {% blocktrans with trans.translated as translated and trans.fuzzy as fuzzy %}
    ({{ translated }}% translated, {{ fuzzy }}% fuzzy)
    {% endblocktrans %}
{% else %}
    {% blocktrans with trans.translated as translated %}
    ({{ translated }}% translated)
    {% endblocktrans %}
{% endif %}
</a></li>
{% endfor %}
</ul>

{% endblock %}

