{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% include "translation_info.html" %}

<h2>{% trans "Translate" %}</h2>

<p>{% blocktrans with unit.position as position %}Showing string {{ position }} out of {{ total }}.{% endblocktrans %}</p>

<form action="{{ unit.translation.get_translate_url }}" method="post">
{% csrf_token %}
<input type="hidden" name="type" value="{{ type }}" />
<input type="hidden" name="oldpos" value="{{ unit.position }}" />
</form>
<a href="{{ unit.translation.get_translate_url }}?type={{ type }}&amp;oldpos={{ unit.position }}">Skip</a>

{% endblock %}



