{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% include "translation_info.html" %}

<h2>{% trans "Translate" %}</h2>

<p>{% blocktrans with unit.position as position %}Showing string {{ position }} out of {{ total }}.{% endblocktrans %}</p>

<form action="{{ unit.translation.get_translate_url }}" method="post">
{% csrf_token %}
<input type="hidden" name="type" value="{{ type }}" />
<input type="hidden" name="oldpos" value="{{ unit.position }}" />
<table class="translator">
<tr><th class="source">{% trans "Source" %}</th><th>{% trans "Translation" %}<th></tr>
{% if unit.is_plural %}
{% else %}
<tr><td>{{ unit.source }}</td><td colspan="2">
{{ form.checksum }}
{{ form.target }}
<br />
{{ form.fuzzy }}<label for="id_fuzzy">{% trans "Fuzzy" %}</label>
</td></tr>
{% endif %}
<tr><th>{% trans "Location" %}</th></tr>
<tr><td>{{ unit.get_location_links }}</td></tr>
<tr><th>{% trans "Flags" %}</th></tr>
<tr><td>{{ unit.flags }}</td></tr>
<tr><td class="right">
<a class="button" href="{{ unit.translation.get_translate_url }}?type={{ type }}&amp;oldpos={{ unit.position }}&amp;dir=back">{% trans "Previous" %}</a>
<a class="button" href="{{ unit.translation.get_translate_url }}?type={{ type }}&amp;oldpos={{ unit.position }}">{% trans "Next" %}</a>
</td><td>
{% if user.is_authenticated %}
<input class="button" type="submit" value="{% trans "Save" %}" name="save" />
{% endif %}
<input class="button" type="submit" value="{% trans "Suggest" %}" name="suggest" />
</td></tr>

</table>
</form>

{% endblock %}



