{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block breadcums %}
<li><a href="{{ object.subproject.project.get_absolute_url }}">{{ object.subproject.project }}</a></li>
<li><a href="{{ object.subproject.get_absolute_url }}">{{ object.subproject.name }}</a></li>
<li><a href="{{ object.get_absolute_url }}">{% trans object.language.name %}</a></li>
{% endblock %}

{% block content %}

<h2>{% trans "Project Information" %}</h2>

{% include "translation_info.html" %}

{% with object.get_translation_checks as checks%}
{% if checks %}
<h2>{% trans "Strings to check" %}</h2>
<ul>
{% for c in checks %}
<li><a href="{{ object.get_translate_url }}?type={{ c.0 }}">{{ c.1 }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

<h2>{% trans "Tools" %}</h2>

<div class="accordion">
<h2><a href="#">{% trans "Search" %}</a></h2>

<div>
<form action="{{ object.get_translate_url }}" method="GET">
{{ search_form.as_p }}
<input type="submit" value="{% trans "Search" %}" class="button" />
</form>
</div>

<h3><a href="#">{% trans "Download" %}</a></h3>

<div>
{% with object.get_download_url as download_url %}
<p>{% blocktrans %}You can <a href="{{ download_url }}">download</a> file for offline translation.{% endblocktrans %}</p>
{% endwith %}
</div>

{% if perms.trans.upload_translation %}
<h3><a href="#">{% trans "Upload" %}</a></h3>

<div>
{% if perms.trans.overwrite_translation %}
<p>{% trans "Uploaded file will be merged with current translation. In case you want to overwrite already translated strings, don't forget to enable it." %}</p>
{% else %}
<p>{% trans "Uploaded file will be merged with current translation." %}</p>
{% endif %}

<form action="{% url 'trans.views.upload_translation' project=object.subproject.project.slug subproject=object.subproject.slug lang=object.language.code %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<p><input type="submit" value="{% trans "Upload" %}" /></p>
</form>
</div>
{% endif %}

{% if autoform %}
<h3><a href="#">{% trans "Automatic translation" %}</a></h3>
<div>
<p>{% trans "Automatic translation takes existing translations in this project and applies it to current subproject. It can be used to push translations to different branch or to fix inconsistent translations." %}</p>
<form action="{% url 'trans.views.auto_translation' project=object.subproject.project.slug subproject=object.subproject.slug lang=object.language.code %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<table>
{{ autoform.as_table }}
</table>
<p><input type="submit" value="{% trans "Process" %}" /></p>
</form>
</div>
{% endif %}

{% include "commit-changes.html" %}
</div>

{% endblock %}


