{% extends "base.html" %}
{% load i18n %}

{% block breadcums %}
<li><a href="{{ object.subproject.project.get_absolute_url }}">{{ object.subproject.project }}</a></li>
<li><a href="{{ object.subproject.get_absolute_url }}">{{ object.subproject.name }}</a></li>
<li><a href="{{ object.get_absolute_url }}">{% trans object.language.name %}</a></li>
{% endblock %}

{% block content %}

{% include "translation_info.html" %}

{% with object.get_checks as checks%}
{% if checks %}
<h2>{% trans "Strings to check" %}</h2>
<ul>
{% for c in checks %}
<li><a href="{{ object.get_translate_url }}?type={{ c.0 }}">{{ c.1 }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

<h2>{% trans "Download and upload" %}</h2>

<a href="{{ object.get_download_url }}">{% trans "Download" %}</a>

{% if user.is_authenticated %}
<form action="{% url 'trans.views.upload_translation' %}" method="post" enctype="multipart/form-data">
<table>
{{ form.as_table }}
<tr><td></td><td><input type="submit" value="{% trans "Upload" %}" /></td></tr>
</table>
</form>
{% endif %}

{% endblock %}


