<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns="{{xmlns}}">
    <soapenv:Header/>
    <soapenv:Body>
        <{{soap_action}}/>
    </soapenv:Body>
</soapenv:Envelope>
