{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans "Permission Denied" %}</a></li>
{% endblock %}

{% block content %}

<p>
{% trans "You don't have privileges to display this page." %}

{% if not user.is_authenticated %}
<a href="{% url 'login' %}" class="btn btn-default">{% trans "Login to Weblate" %}</a>
{% endif %}

</p>

{% if acl_projects %}
<p>{% trans "However the following translation projects are available on this server:" %}</p>

<ul>
{% for p in acl_projects %}
    <li><a href="{{ p.get_absolute_url }}">{{ p }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}

