{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}

<p>{% blocktrans %}Weblate is web based translation tool with tight Git integration. It features simple and clean user interface, propagation of translations across subprojects, consistency checks or automatic linking to source files.{% endblocktrans %}</p>

<p>{% trans "This site is built using following projects:" %}</p>

<table>
<tr>
<th><a href="http://weblate.org/">Weblate</a></th>
<td>{{ version }}</td>
</tr>
<tr>
<th><a href="https://www.djangoproject.com/">Django</a></th>
<td>{{ django_version }}</td>
</tr>
<tr>
<th><a href="http://translate.sourceforge.net/wiki/toolkit/index">Translate Toolkit</a></th>
<td>{{ tt_version }}</td>
</tr>
<tr>
<th><a href="https://github.com/gitpython-developers/GitPython">GitPython</a></th>
<td>{{ git_version }}</td>
</tr>
<tr>
<th><a href="http://bitbucket.org/mchaput/whoosh/">Whoosh</a></th>
<td>{{ whoosh_version }}</td>
</tr>
<tr>
<th><a href="http://cairographics.org/pycairo/">PyCairo</a></th>
<td>{{ cairo_version }}</td>
</tr>
<tr>
<th><a href="http://south.aeracode.org/">south</a></th>
<td>{{ south_version }}</td>
</tr>
</table>

{% endblock %}

