{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{% url 'about' %}">{% trans "About Weblate" %}</a></li>
{% endblock %}

{% block content %}

<div class="container-fluid">

<div class="panel panel-primary">
<div class="panel-heading"><h4 class="panel-title">{% trans "About Weblate" %}</h4></div>
<div class="panel-body">

<p>{% blocktrans %}Weblate is a web based translation tool with tight version control integration. It features simple and clean user interface, propagation of translations across components, quality checks and automatic linking to source files.{% endblocktrans %}</p>

<p>{% blocktrans %}If you are looking for support for Weblate or want to file bug reports check its website at <a href="{{ weblate_url }}">weblate.org</a>.{% endblocktrans %}</p>

<p>{% blocktrans %}Weblate is free software created by volunteers, but you can still support them financially.{% endblocktrans %}</p>

</div>
<div class="panel-footer">
<a class="btn btn-success" href="https://salt.bountysource.com/teams/weblate"><i class="fa fa-money"></i> {% trans "Fund Weblate!" %}</a>
<a class="btn btn-primary" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=AXN88S8GX5MQ4"><i class="fa fa-paypal"></i> {% trans "Donate to Weblate!" %}</a>
</div>
</div>


{% if offer_hosting %}
<div class="panel panel-primary">
<div class="panel-heading"><h4 class="panel-title">{% trans "Hosting translations" %}</h4></div>
<div class="panel-body">
<p>
{% trans "This Weblate instance hosts translations for various free software projects." %}
{% blocktrans %}We can host your project as well, if you are interested, please contact us.{% endblocktrans %}
</p>
  <p>
    {% trans "Commercial hosting is possible as well, our price starts at 19 EUR per project and month, please get in touch with us for more details." %}
  </p>
</div>
  <div class="panel-footer">
  <a class="btn btn-primary" href="{% url 'hosting' %}">{% trans "Ask for project hosting" %}</a>
  <a class="btn btn-primary" href="https://weblate.org/hosting/">{% trans "View hosting plans" %}</a>
  <a class="btn btn-default" href="{% url 'contact' %}?subject=Commercial hosting">{% trans "Contact us for commercial hosting" %}</a>
  </div>
</div>
{% endif %}


<div class="panel panel-primary">
<div class="panel-heading"><h4 class="panel-title">{% trans "Versions" %}</h4></div>
<div class="panel-body">

<p>{% trans "This site is built using following projects:" %}</p>

<table class="table table-condensed table-striped">
<tr>
<th><a href="{{ weblate_url }}">Weblate</a></th>
<td>{{ version }}</td>
</tr>
{% for ver in versions %}
<tr>
<th><a href="{{ ver.1 }}">{{ ver.0 }}</a></th>
<td>{{ ver.2 }}</td>
</tr>
{% endfor %}
</table>
</div>
</div>

</div>

{% endblock %}

