{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
<li><a href="{% url 'about' %}">{% trans "about" %}</a></li>
{% endblock %}

{% block content %}

<h2>{% trans "About Weblate" %}</h2>

<p>{% blocktrans %}Weblate is a web based translation tool with tight Git integration. It features simple and clean user interface, propagation of translations across subprojects, quality checks and automatic linking to source files.{% endblocktrans %}</p>

<p>{% blocktrans %}If you are looking for support for Weblate or want to file bug reports check its website at <a href="{{ weblate_url }}">weblate.org</a>.{% endblocktrans %}</p>


{% if offer_hosting %}
<p>
{% trans "This Weblate instance hosts translations for various free software projects." %}
{% url 'hosting' as contact_url %}
{% blocktrans %}We can host your project as well, if you are interested, please <a href="{{ contact_url }}?subject=Project hosting">contact us</a>.{% endblocktrans %}
</p>
{% endif %}

<p>{% blocktrans %}Weblate is free software created by volunteers, but you can still support them financially:{% endblocktrans %}</p>

<p>
<a class="button" href="https://flattr.com/thing/571085/Weblate">{% trans "Flattr Weblate!" %}</a>
<a class="button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=AXN88S8GX5MQ4">{% trans "Donate to Weblate!" %}</a>
</p>

<h2>{% trans "Versions" %}</h2>

<p>{% trans "This site is built using following projects:" %}</p>

<table>
<tr>
<th><a href="{{ weblate_url }}">Weblate</a></th>
<td>{{ version }}</td>
</tr>
{% for ver in versions %}
<th><a href="{{ ver.1 }}">{{ ver.0 }}</a></th>
<td>{{ ver.2 }}</td>
</tr>
{% endfor %}
</table>

<h2>{% trans "Statistics" %}</h2>

<table>
<tr>
<th>{% trans "Strings to translate" %}</th>
<td>{{ total_strings }}</td>
</tr>
<tr>
<th>{% trans "Words to translate" %}</th>
<td>{{ total_words }}</td>
</tr>
<tr>
<th>{% trans "Used languages" %}</th>
<td>{{ total_languages }}</td>
</tr>
<tr>
<th>{% trans "Registered users" %}</th>
<td>{{ total_users }}</td>
</tr>
<tr>
<th>{% trans "Suggestions made" %}</th>
<td>{{ total_suggestions }}</td>
</tr>
<tr>
<th>{% trans "Translations made" %}</th>
<td>{{ total_translations }}</td>
</tr>
<tr>
<th>{% trans "Failing checks found" %}</th>
<td>{{ total_checks }}</td>
</tr>
<tr>
<th>{% trans "Ignored checks" %}</th>
<td>{{ ignored_checks }}</td>
</tr>
</table>

{% endblock %}

