{% load i18n %}
{% load static %}
{% load translations %}
{% if not request.is_ajax %}
<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
 <head>
  <meta name="author" content="Michal Čihař" />
  <meta name="copyright" content="Copyright &copy; 2003 - {{ current_year }} Michal Čihař" />

  <title>{% include "title.html" %}</title>
{% if description %}
  <meta name="description" content="{{ description }}" />
{% endif %}
  
{% include 'meta-header.html' %}

{% block extra_meta %}
{% endblock %}

 </head>

 <body {% if LANGUAGE_BIDI %}class="dir-rtl"{% endif %}>
 <header>
<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#wl-navbar-main">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><img class="avatar" src="{% get_media_prefix %}weblate-128.png" /> {{ site_title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="wl-navbar-main">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">{% trans "Dashboard" %}</a></li>
        {% if usertranslations %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Your translations" %}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for project in usertranslations %}
            <li><a href="{{ project.get_absolute_url }}">{{ project }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Projects" %}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for project in acl_projects %}
            <li><a href="{{ project.get_absolute_url }}">{{ project }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="{% documentation 'index' %}">{% trans "Documentation" %}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right flip">
        {% if user.is_authenticated %}
        <li><a class="button" id="profile-button" href="{% url 'profile' %}">{{ user.profile.get_user_display }}</a></li>
        <li><a class="button" id="logout-button" href="{% url 'logout' %}" title="{% trans "Logout" %}"><i class="fa fa-sign-out"></i></a></li>
        {% else %}
        {% if registration_open %}
        <li><a class="button" id="register-button" href="{% url 'register' %}">{% trans "Register" %}</a></li>
        {% endif %}
        <li><a class="button" id="login-button" href="{% url 'login' %}{% if not skip_next %}?next={{ login_redirect_url }}{% endif %}">{% trans "Login" %}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<h1>
<ol class="breadcrumb">
{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans "Dashboard" %}</a></li>
{% endblock %}
</ol>
</h1>
</header>

<div class="content">
{% if messages %}
{% for message in messages %}
{% show_message message.tags message %}
{% endfor %}
{% endif %}

{% endif %}

{% block content %}
{% endblock %}

{% if not request.is_ajax %}
</div>
{% include 'footer.html' %}
 </body>
</html>
{% endif %}
