{% load i18n %}
{% load static %}
{% load url from future %}
{% if not request.is_ajax %}
<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="Michal Čihař" />
  <meta name="copyright" content="Copyright &copy; 2003 - {{ current_year }} Michal Čihař" />

  <title>{% include "title.html" %}</title>
{% if description %}
  <meta name="description" content="{{ description }}" />
{% endif %}
  
{% include 'meta-header.html' %}

{% block extra_meta %}
{% endblock %}

{% if target_language %}
  <script type="text/javascript">
  var target_language = '{{ target_language }}';
  </script>
{% endif %}
  
 </head>

 <body {% if LANGUAGE_BIDI %}class="dir-rtl"{% endif %}>
    <h1 class="ui-state-default"><a href="{% url 'home' %}">{% include "title.html" %}</a></h1>

<ul class="menu">
{% if user.is_authenticated %}
<li><a href="{% url 'profile' %}">{% blocktrans with user.get_full_name as name %}Logged in as {{ name }}{% endblocktrans %}</a></li>
<li><a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a></li>
{% else %}
{% if registration_open %}
<li><a href="{% url 'weblate_register' %}">{% trans "Register" %}</a></li>
{% endif %}
<li><a href="{% url 'auth_login' %}?next={{ current_url }}">{% trans "Login" %}</a></li>
{% endif %}
</ul>

<ul class="breadcrumbs">
<li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
{% block breadcrumbs %}
{% endblock %}
</ul>

<div class="content">
{% if messages %}
{% for message in messages %}
<div class="ui-widget">
    <div style="padding: 0pt 0.7em;" class="ui-state-{% if message.tags == "error" %}error{% else %}highlight{% endif %} ui-corner-all"> 
        <p><span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-{% if message.tags == "error" or message.tags == "warning" %}alert{% else %}info{% endif %}"></span>
            {{ message }}
        </p>
    </div>
</div>
{% endfor %}
{% endif %}

{% endif %}

{% block content %}
{% endblock %}

{% if not request.is_ajax %}
</div>
{% include 'footer.html' %}
 </body>
</html>
{% endif %}
