{% extends "base.html" %}
{% load i18n %}
{% load translations %}

{% block breadcrumbs %}
<li><a href="{% url 'checks' %}">{% trans "Checks" %}</a></li>
<li><a href="{% url 'show_check' name=check.check_id %}">{{ check.name }}</a></li>
{% endblock %}

{% block content %}

<div class="row">
<div class="col-lg-6">
<div class="panel panel-primary">
  <div class="panel-heading"><h4 class="panel-title">{% trans "Checks listing" %}</h4></div>
  <div class="panel-body">

{% if checks %}
<div class="list-group">
{% for obj in checks %}
<a class="list-group-item" href="{% url 'show_check_project' name=check.check_id project=obj.project__slug %}{{ url_params }}"><span class="badge">{{ obj.count }}</span>{% project_name obj.project__slug %}</a>
{% endfor %}
</div>
{% else %}
{% show_message "warning" _("No matching checks found!") %}
{% endif %}

</div>
</div>
</div>

<div class="col-lg-6">
<div class="panel panel-primary">
  <div class="panel-heading"><h4 class="panel-title">{% trans "Check details" %}</h4></div>
  <div class="panel-body">
    <p>
    {{ check.description }}
    </p>
  </div>
  <div class="panel-footer">
  <a class="btn btn-default" href="{{ check.get_doc_url  }}">{% trans "Documentation" %}</a>
  </div>
</div>
</div>
</div>

</div>

{% endblock %}
