{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load url from future %}

{% block breadcrumbs %}
<li><a href="{% url 'checks' %}">{% trans "checks" %}</a></li>
{% endblock %}

{% block content %}

<table class="sort simple">
<thead>
<tr>
<th>{% trans "Check" %}</th>
<th>{% trans "Failures" %}</th>
</tr>
<tbody>
{% for check in checks %}
<tr>
<th><abbr title="{% check_description check.check %}">{% check_name check.check %}</abbr></th>
<td><a href="{% url 'show_check' name=check.check %}{{ url_params }}">{{ check.count }}</a></td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
