{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load url from future %}

{% block breadcrumbs %}
<li><a href="{% url 'checks' %}">{% trans "Checks" %}</a></li>
<li><a href="{% url 'show_check' name=check.check_id %}">{{ check.name }}</a></li>
<li><a href="{% url 'show_check_project' name=check.check_id project=subproject.project.slug %}">{{ subproject.project }}</a></li>
<li><a href="{% url 'show_check_subproject' name=check.check_id project=subproject.project.slug subproject=subproject.slug %}">{{ subproject.name }}</a></li>
{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-6">
<div class="panel panel-primary">
  <div class="panel-heading"><h4 class="panel-title">{% trans "Checks listing" %}</h4></div>
  <div class="panel-body">

{% if anychecks %}
<div class="list-group">
{% for obj in checks %}
<a class="list-group-item" href="{% url 'translate' project=subproject.project.slug subproject=subproject.slug lang=obj.translation__language__code %}{{ ignore_string }}{% if ignore_string %}&amp;{% else %}?{% endif %}type={{ check.check_id }}"><span class="badge">{{ obj.count }}</span>{% language_name obj.translation__language__code %}</a>
{% endfor %}
{% for count in source_checks %}
<a class="list-group-item" href="{% url 'review_source' project=subproject.project.slug subproject=subproject.slug %}{{ ignore_string }}{% if ignore_string %}&amp;{% else %}?{% endif %}type={{ check.check_id }}"><span class="badge">{{ count }}</span>{% trans "Source" %}</a>
{% endfor %}
</div>
{% else %}
{% show_message "warning" _("No matching checks found!") %}
{% endif %}

</div>
</div>
</div>

<div class="col-md-6">
<div class="panel panel-primary">
  <div class="panel-heading"><h4 class="panel-title">{% trans "Check details" %}</h4></div>
  <div class="panel-body">
    <p>
    {{ check.description }}
    </p>
  </div>
  <div class="panel-footer">
  <a class="btn btn-default" href="{{ check.get_doc_url  }}">{% trans "Documentation" %}</a>
  </div>
</div>
</div>
</div>

</div>


{% endblock %}
