{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load url from future %}

{% block breadcrumbs %}
<li><a href="{% url 'checks' %}">{% trans "Checks" %}</a></li>
<li><a href="{% url 'show_check' name=check.check_id %}">{{ check.name }}</a></li>
{% endblock %}

{% block content %}

<p>
{{ check.description }}
</p>

<p>
{% blocktrans with check.get_doc_url as link %}More information about this check is available in the <a href="{{ link }}">documentation</a>.{% endblocktrans %}
</p>

{% if checks %}
<div class="list-group">
{% for obj in checks %}
<a class="list-group-item" href="{% url 'show_check_project' name=check.check_id project=obj.project__slug %}{{ ignore_string }}"><span class="badge">{{ obj.count }}</span>{% project_name obj.project__slug %}</a>
{% endfor %}
</div>
{% else %}
{% show_message "warning" _("No matching checks found!") %}
{% endif %}

{% endblock %}
