{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
<li><a href="{% url 'data_project' project=object.slug %}">{% trans "data exports" %}</a></li>
{% endblock %}

{% block content %}

<p>
{% trans "You can retrieve various data from Weblate in machine readable format." %}
</p>

<h3>{% trans "RSS feeds" %}</h3>

<p>
{% trans "To follow translation progress you can use RSS feeds which include all important changes in translation." %}
{% blocktrans %}More information about exported RSS feeds is available in <a href="{{ rss_docs }}">the documentation</a>.{% endblocktrans %}
</p>

<table class="table">
<thead>
<tr>
<th>{% trans "Project" %}</th>
<th>{% trans "URL" %}</th>
<th>{% trans "Link" %}</th>
</thead>
<tbody>
<tr>
<th>{{ object }}</th>
<td>{{ site_url }}{% url 'rss-project' project=object.slug %}</td>
<td><a href="{{ site_url }}{% url 'rss-project' project=object.slug %}">{% trans "RSS" %}</a></td>
</tr>
{% for subproject in object.subproject_set.all %}
<tr>
<th>{{ subproject }}</th>
<td>{{ site_url }}{% url 'rss-subproject' project=object.slug subproject=subproject.slug %}</td>
<td><a href="{{ site_url }}{% url 'rss-subproject' project=object.slug subproject=subproject.slug %}">{% trans "RSS" %}</a></td>
</tr>
{% endfor %}
</tbody>
</table>

<p>{% trans "There are also per language RSS feeds available, you can construct them by appending a language code to the above URLs." %}</p>

<h3>{% trans "Statistics" %}</h3>

<p>
{% blocktrans %}Translation statistics for every subproject in JSON format allow you to use these data in other websites or tools. Format of the data is described in <a href="{{ api_docs }}">the documentation</a>.{% endblocktrans %}
</p>

<table class="table">
<thead>
<tr>
<th>{% trans "Project" %}</th>
<th>{% trans "URL" %}</th>
<th>{% trans "Link" %}</th>
</thead>
<tbody>
{% for subproject in object.subproject_set.all %}
<tr>
<th>{{ subproject }}</th>
<td>{{ site_url }}{% url 'export_stats' project=object.slug subproject=subproject.slug %}</td>
<td><a href="{{ site_url }}{% url 'export_stats' project=object.slug subproject=subproject.slug %}">{% trans "Download" %}</a></td>
</tr>
{% endfor %}
</tbody>
</table>

{% if hooks_enabled %}
<h3>{% trans "Notification hooks" %}</h3>

<p>
{% blocktrans %}With notification hooks, Weblate will automatically import changes done by your developers and will allow continuous translation. More information is available in <a href="{{ hooks_docs }}">the documentation</a>.{% endblocktrans %}
</p>
{% endif %}

<table class="table">
<thead>
<tr>
<th>{% trans "Project" %}</th>
<th>{% trans "URL" %}</th>
<th>{% trans "Link" %}</th>
</thead>
<tbody>
<tr>
<th>{{ object }}</th>
<td>{{ site_url }}{% url 'hook-project' project=object.slug %}</td>
<td><a href="{{ site_url }}{% url 'hook-project' project=object.slug %}">{% trans "Hook" %}</a></td>
</tr>
{% for subproject in object.subproject_set.all %}
<tr>
<th>{{ subproject }}</th>
<td>{{ site_url }}{% url 'hook-subproject' project=object.slug subproject=subproject.slug %}</td>
<td><a href="{{ site_url }}{% url 'hook-subproject' project=object.slug subproject=subproject.slug %}">{% trans "Hook" %}</a></td>
</tr>
{% endfor %}
</tbody>
</table>

<p>{% blocktrans %}Weblate also supports direct notification from several code hosting sites:{% endblocktrans %}</p>

<table class="table">
<thead>
<tr>
<th>{% trans "Hosting site" %}</th>
<th>{% trans "URL" %}</th>
<th>{% trans "Note" %}</th>
</tr>
</thead>
<tbody>
<tr>
<th><a href="https://github.com/">GitHub</a></th>
<td>{{ site_url }}{% url 'hook-github' %}</td>
<td>{% trans "Enable Weblate service hook in repository settings." %}</td>
</tr>
<tr>
<th><a href="https://about.gitlab.com/">GitLab</a></th>
<td>{{ site_url }}{% url 'hook-gitlab' %}</td>
<td></td>
</tr>
<tr>
<th><a href="https://bitbucket.org/">Bitbucket</a></th>
<td>{{ site_url }}{% url 'hook-bitbucket' %}</td>
<td></td>
</tr>
</tbody>
</table>


{% endblock %}
