{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcums %}
<li><a href="{{ project.get_absolute_url }}">{{ project }}</a></li>
<li><a href="{% url 'weblate.trans.views.show_dictionaries' project=project.slug %}">{% trans "dictionaries" %}</a></li>
<li><a href="{% url 'weblate.trans.views.show_dictionary' project=project.slug lang=language.code %}">{{ language }}</a></li>
{% endblock %}

{% block content %}


{% if words.object_list %}

<h2>{% trans "Dictionary" %}</h2>

<table>
<thead>
<tr>
<th>{% trans "Source" %}</th>
<th>{% trans "Translation" %}</th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
{% for word in words.object_list %}
<tr>
<td class="translatetext">{{ word.source }}</td>
<td class="translatetext">{{ word.target }}</td>
<td>
{% if perms.trans.change_dictionary %}
<form action="{% url 'weblate.trans.views.edit_dictionary' project=project.slug lang=language.code %}" method="get">
{% csrf_token %}
<input type="hidden" name="id" value="{{ word.id }}" />
<input type="submit" class="button" value="{% trans "Edit" %}" />
</form>
{% endif %}
</td>
<td>
{% if perms.trans.delete_dictionary %}
<form action="{% url 'weblate.trans.views.delete_dictionary' project=project.slug lang=language.code %}" method="post">
{% csrf_token %}
<input type="hidden" name="id" value="{{ word.id }}" />
<input type="submit" class="button" value="{% trans "Delete" %}" />
</form>
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>

<ul class="pages">
{% if words.has_previous %}
<li><a href="?page={{ words.previous_page_number }}">&laquo;</a></li>
{% else %}
<li class="disabled"><span>&laquo;</span></li>
{% endif %}
{% for page in words.paginator.page_range %}
<li {% if page = words.number %} class="active" {% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
{% endfor %}
{% if words.has_next %}
<li><a href="?page={{ words.next_page_number }}">&raquo;</a></li>
{% else %}
<li class="disabled"><span>&raquo;</span></li>
{% endif %}
</ul>
{% endif %}

<h2>{% trans "Tools" %}</h2>

<div class="tabs" id="dictionary-tabs">
<ul>
{% if perms.trans.add_dictionary %}
<li><a href="#add">{% trans "Add new word" %}</a></li>
{% endif %}
{% if perms.trans.upload_dictionary %}
<li><a href="#import">{% trans "Import dictionary" %}</a></li>
{% endif %}
</ul>

{% if perms.trans.add_dictionary %}
<div id="add">

<form method="POST">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="{% trans "Add" %}" />
</form>

</div>
{% endif %}

{% if perms.trans.upload_dictionary %}
<div id="import">

<p>{% trans "You can upload any format which is understood by Translate Toolkit for example csv or po file." %}</p>

<form action="{% url 'weblate.trans.views.upload_dictionary' project=project.slug lang=language.code %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<table>
{{ uploadform.as_table }}
</table>
<input type="submit" value="{% trans "Import" %}" />
</form>

</div>
{% endif %}

{% endblock %}
