{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
<li><a href="{{ project.get_absolute_url }}">{{ project }}</a></li>
<li><a href="{% url 'show_dictionaries' project=project.slug %}">{% trans "glossaries" %}</a></li>
<li><a href="{% url 'show_dictionary' project=project.slug lang=language.code %}">{{ language }}</a></li>
{% endblock %}

{% block content %}

{% include "paginator.html" %}

<form class="autosubmit paginatoraddon">
{{ letterform.as_div }}
</form>

{% if page_obj.object_list %}
<table class="table table-condensed">
<thead>
<tr>
<th>{% trans "Source" %}</th>
<th>{% trans "Translation" %}</th>
<th></th>
</tr>
</thead>
<tbody>
{% for word in page_obj.object_list %}
<tr>
<td class="translatetext">{{ word.source }}</td>
<td class="translatetext">{{ word.target }}</td>
<td>
{% if perms.trans.change_dictionary %}
<form action="{% url 'edit_dictionary' project=project.slug lang=language.code %}" method="get" class="inlineform">
<input type="hidden" name="id" value="{{ word.id }}" />
<input type="submit" class="btn btn-default" value="{% trans "Edit" %}" />
</form>
{% endif %}
{% if perms.trans.delete_dictionary %}
<form action="{% url 'delete_dictionary' project=project.slug lang=language.code %}" method="post" class="inlineform">
{% csrf_token %}
<input type="hidden" name="id" value="{{ word.id }}" />
<input type="submit" class="btn btn-default" value="{% trans "Delete" %}" />
</form>
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>{% trans "No words found!" %}</p>
{% endif %}

<h2>{% trans "Tools" %}</h2>

<div class="tabs" id="dictionary-tabs">
<ul>
{% if perms.trans.add_dictionary %}
<li><a href="#add">{% trans "Add new word" %}</a></li>
{% endif %}
{% if perms.trans.upload_dictionary %}
<li><a href="#import">{% trans "Import glossary" %}</a></li>
{% endif %}
<li><a href="#export">{% trans "Export glossary" %}</a></li>
<li><a href="#changes">{% trans "History" %}</a></li>
</ul>

{% if perms.trans.add_dictionary %}
<div id="add">

<form method="POST">
<div class="panel panel-primary">
<div class="panel-heading"><h4 class="panel-title">{% trans "Add new word" %}</h4></div>
  <div class="panel-body">
{% csrf_token %}
{{ form.as_div }}
</div>
  <div class="panel-footer">
<input type="submit" value="{% trans "Add" %}" class="btn btn-default" />
</div>
</div>
</form>

</div>
{% endif %}

{% if perms.trans.upload_dictionary %}
<div id="import">
<form action="{% url 'upload_dictionary' project=project.slug lang=language.code %}" method="post" enctype="multipart/form-data">
<div class="panel panel-primary">
<div class="panel-heading"><h4 class="panel-title">{% trans "Import glossary" %}</h4></div>
  <div class="panel-body">

{% csrf_token %}
{{ uploadform.as_div }}
</div>
  <div class="panel-footer">
<input type="submit" class="btn btn-default" value="{% trans "Import" %}" />
</div>
</div>
</form>

</div>
{% endif %}

<div id="export">

<p>{% trans "You can download glossary in following formats:" %}</p>

<ul>
<li><a href="{% url 'download_dictionary' project=project.slug lang=language.code %}?format=csv">{% trans "Comma separated values (CSV)" %}</a></li>
<li><a href="{% url 'download_dictionary' project=project.slug lang=language.code %}?format=po">{% trans "Gettext (PO)" %}</a></li>
<li><a href="{% url 'download_dictionary' project=project.slug lang=language.code %}?format=tbx">{% trans "TermBase eXchange (TBX)" %}</a></li>
</ul>
</div>

<div id="changes">
{% include "last-changes.html" %}
</div>

{% endblock %}
