{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<li><a href="{{ project.get_absolute_url }}">{{ project }}</a></li>
<li><a href="{% url 'show_dictionaries' project=project.slug %}">{% trans "dictionaries" %}</a></li>
<li><a href="{% url 'show_dictionary' project=project.slug lang=language.code %}">{{ language }}</a></li>
{% endblock %}

{% block content %}

{% if perms.trans.add_dictionary %}

<form method="POST">
<div class="panel panel-primary">
<div class="panel-heading"><h4 class="panel-title">{% trans "Change word" %}</h4></div>
  <div class="panel-body">
{% csrf_token %}
{{ form|crispy }}
</div>
  <div class="panel-footer">
<input type="submit" value="{% trans "Save" %}" class="btn btn-default" />
</div>
</div>
</form>
{% endif %}

{% include "last-changes.html" %}

{% endblock %}
