{% load i18n %}
{% load static %}
<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
 <head>
  <meta name="author" content="Michal Čihař" />
  <meta name="copyright" content="Copyright &copy; 2003 - {{ current_year }} Michal Čihař" />

  <title>{% blocktrans %}Get involved in {{ project }}!{% endblocktrans %}</title>
  <meta name="description" content="{% blocktrans %}Get involved in {{ project }}, which is currently being translated into {{ languages }} languages using Weblate.{% endblocktrans %}" />
  <meta property="og:description" content="{% blocktrans %}Get involved in {{ project }}, which is currently being translated into {{ languages }} languages using Weblate.{% endblocktrans %}" />
  <meta property="og:site_name" content="{% if site_title %}{{ site_title }}{% else %}Weblate{% endif %}" />

  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="image_src" type="image/png" href="{% static 'weblate-128.png' %}"/>
  <link rel="apple-touch-icon" href="{% static 'weblate-128.png' %}"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
{% if LANGUAGE_BIDI %}
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-rtl.min.css' %}" />
{% endif %}
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'style-bootstrap.css' %}" />

 </head>

 <body {% if LANGUAGE_BIDI %}class="dir-rtl"{% endif %}>

<img class="engage-icon" src="{% static 'weblate-128.png' %}" width="128" height="128" />

<div class="engage content ui-widget-content ui-corner-all">

<h1>{% blocktrans %}Get involved in {{ project }}!{% endblocktrans %}</h1>

<p>
{% blocktrans %}Hi, and thank you for your interest!{% endblocktrans %}
</p>
<p>
{% blocktrans %}{{ project }} is being translated using <a href="{{ weblate_url }}">Weblate</a>, a web tool designed to ease translating for both developers and translators.{% endblocktrans %}
</p>
<p>
{{ status_text }}
</p>
<p>
{% url 'register' as reg_url %}
{% blocktrans %}If you would like to contribute to translation of {{ project }}, you need to <a href="{{ reg_url }}">register on this server</a>.{% endblocktrans %}
</p>
{% if object.enable_acl %}
<p>
{% trans "This translation is open only to limited group of translators, if you want to contribute please get in touch with project maintainers." %}
</p>
{% endif %}
<p>
{% blocktrans %}Once you have activated your account just proceed to the <a href="{{ url }}">translation section</a>.{% endblocktrans %}
</p>

</div>
{% include 'footer.html' %}
 </body>
</html>
