{% load translations %}
{% load url from future %}
{% load i18n %}
<footer class="flip pull-left">
 <ul>
  <li>{% blocktrans %}Powered by <a href="{{ weblate_url }}">Weblate {{ version }}</a>{% endblocktrans %}</li>
  <li><a href="{% url 'about' %}">{% blocktrans %}About Weblate{% endblocktrans %}</a></li>
  <li><a href="{% url 'contact' %}">{% trans "Contact us" %}</a></li>
  <li><a href="{% documentation 'user/index' %}">{% trans "Documentation" %}</a></li>
  <li><a href="{{ donate_url }}">{% trans "Donate to Weblate!" %}</a></li>
 </ul>
</footer>
