{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}

{% if not user.is_authenticated %}
<p>
{% blocktrans %}This site runs <a href="http://weblate.org/">Weblate</a> for translating the software projects listed below. You need to be logged in for translating, otherwise you can only make suggestions.{% endblocktrans %}
</p>
{% endif %}

{% if usertranslations %}
<h2>{% trans "Your translations" %}</h2>

{% with usertranslations as translations %}
{% include "list-translations.html" %}
{% endwith %}

{% endif %}

<h2>{% trans "Projects" %}</h2>

<table class="sort">
<thead>
<tr>
<th>{% trans "Project" %}</th>
<th colspan="2">{% trans "Translated" %}</th>
</tr>
<tbody>
{% for prj in projects %}
{% with prj.get_translated_percent as percent %}
<tr>
<th><a href="{{ prj.get_absolute_url }}">{{ prj.name }}</a></th>
<td class="progress"><div class="progress" id="{{ percent|floatformat:0 }}"></div></td>
<td class="percent">{{ percent }}%</td>
</tr>
{% endwith %}
{% endfor %}
</tbody>
</table>

<h2>{% trans "Summaries" %}</h2>

<h3>{% trans "Recent changes" %}</h3>

<table>
<thead>
<tr>
<th>{% trans "Date" %}</th>
<th>{% trans "User" %}</th>
<th>{% trans "Translation" %}</th>
</tr>
<tbody>
{% for c in last_changes %}
<tr>
<td>{{ c.timestamp|date:"DATETIME_FORMAT" }}</td>
<td>{{ c.user.get_full_name }}</td>
<td>{{ c.unit.translation }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<div class="floatbox">
<h3>{% trans "Most active translators" %}</h3>

<table>
<thead>
<tr>
<th>{% trans "User" %}</th>
<th>{% trans "Translated" %}</th>
</tr>
<tbody>
{% for u in top_translations %}
<tr>
<td>{{ u.user.get_full_name }}</td>
<td class="percent">{{ u.translated }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<div class="floatbox">
<h3>{% trans "Most active suggesters" %}</h3>

<table>
<thead>
<tr>
<th>{% trans "User" %}</th>
<th>{% trans "Suggested" %}</th>
</tr>
<tbody>
{% for u in top_suggestions %}
<tr>
<td>{{ u.user.get_full_name }}</td>
<td class="percent">{{ u.suggested }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<div class="clearer"></div>

<h3>{% trans "Others" %}</h3>

<ul>
<li><a href="{% url 'weblate.trans.views.show_languages' %}">{% trans "Languages summary" %}</a></li>
<li><a href="{% url 'weblate.trans.views.show_checks' %}">{% trans "Checks overview" %}</a></li>
</ul>


{% endblock %}

