{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load url from future %}

{% block content %}

{% if not user.is_authenticated %}
<p>
{% if demo_server %}
{% blocktrans %}This site runs <a href="{{ weblate_url }}">Weblate</a> demo server.{% endblocktrans %}
{% else %}
{% blocktrans %}This site runs <a href="{{ weblate_url }}">Weblate</a> for translating the software projects listed below.{% endblocktrans %}
{% endif %}
{% trans "You need to be logged in for translating, otherwise you can only make suggestions." %}
</p>
{% endif %}

{% if whiteboard_enabled %}
<h2>{% trans "Whiteboard" %}</h2>

<div class="tabs" id="whiteboard-tabs">
    <ul>
        <li><a href="#messages">{% trans "Messages" %}</a></li>
        <li><a href="#add">{% trans "Add" %}</a></li>
    </ul>

    <div id="messages">
        {% for msg in whiteboard_messages %}
        <snan class="">{{ msg.message }}</snan>
        {% endfor %}
    </div>

    <div id="add">
        not implemented :(
    </div>
</div>
{% endif %}

<ul class="nav nav-pills">
{% if usertranslations %}
<li class="active"><a href="#your" data-toggle="pill">{% trans "Your translations" %}</a></li>
<li><a href="#projects" data-toggle="pill">{% trans "Projects" %}</a></li>
{% else %}
<li class="active"><a href="#projects" data-toggle="pill">{% trans "Projects" %}</a></li>
{% endif %}
<li><a href="#search" data-toggle="pill">{% trans "Search" %}</a></li>
<li><a href="#languages" data-href="{% url 'languages' %}" data-toggle="pill">{% trans "Languages" %}</a></li>
<li><a href="#checks" data-href="{% url 'checks' %}" data-toggle="pill">{% trans "Checks" %}</a></li>
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    {% trans "Tools" %} <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'languages' %}">{% trans "Languages summary" %}</a></li>
    <li><a href="{% url 'checks' %}">{% trans "Checks overview" %}</a></li>
    <li><a href="{% url 'data_root' %}">{% trans "Data export" %}</a></li>
    <li><a href="{% url 'widgets_root' %}">{% trans "Widgets" %}</a></li>
  </ul>
</li>
</ul>

<div class="tab-content">
{% if usertranslations %}
<div class="tab-pane active" id="your">
<div class="panel panel-primary">
<div class="panel-heading"><h4 class="panel-title">{% trans "Your translations" %}</h4></div>
  <div class="panel-body">
{% with usertranslations as translations and 2 as show_language %}
{% include "list-translations.html" %}
{% endwith %}
  </div>
</div>
</div>
<div class="tab-pane" id="projects">
{% else %}
<div class="tab-pane active" id="projects">
{% endif %}

<div class="panel panel-primary">
<div class="panel-heading"><h4 class="panel-title">{% trans "Projects" %}</h4></div>
  <div class="panel-body">
<table class="sort table">
<thead>
<tr>
<th>{% trans "Project" %}</th>
<th colspan="2">{% trans "Translated" %}</th>
</tr>
<tbody>
{% for prj in projects %}
{% with prj.get_translated_percent as percent and prj.get_fuzzy_percent as fuzzy and prj.get_failing_checks_percent as check_percent %}
<tr>
<th><a href="{{ prj.get_absolute_url }}">{{ prj }}</a></th>
<td class="progress-cell">{% translation_progress prj %}</td>
<td class="percent">{{ percent }}%</td>
</tr>
{% endwith %}
{% endfor %}
</tbody>
</table>

{% include "legend.html" %}

{% if offer_hosting %}
{% url 'hosting' as contact_url %}
<p>{% blocktrans %}We can host your project as well, if you are interested, please <a href="{{ contact_url }}?subject=Project hosting">contact us</a>.{% endblocktrans %}</p>
{% endif %}
  </div>
</div>
</div>

<div class="tab-pane" id="search">

<form action="{% url 'search' %}" method="GET">
<div class="panel panel-primary">
<div class="panel-heading"><h4 class="panel-title">{% trans "Search" %}</h4></div>
  <div class="panel-body">
{{ search_form.as_p }}
</div>
<div class="panel-footer">
<input type="submit" value="{% trans "Search" %}" class="btn btn-default" />
</div>
</div>
</form>

</div>


<div class="tab-pane" id="languages">
<p>{% trans "Loading…" %}</p>
</div>

<div class="tab-pane" id="checks">
<p>{% trans "Loading…" %}</p>
</div>

</div>

<h2>{% trans "Summaries" %}</h2>

<div class="tabs" id="main-tabs">

<ul>
<li><a href="#changes">{% trans "History" %}</a></li>
<li><a href="#translators">{% trans "Most active translators" %}</a></li>
<li><a href="#suggesters">{% trans "Most active suggesters" %}</a></li>
<li><a href="{% url 'view_activity' %}">{% trans "Activity" %}</a></li>
</ul>

<div id="changes">
{% include "last-changes.html" %}
</div>

<div id="translators">
<table>
<thead>
<tr>
<th>{% trans "User" %}</th>
<th>{% trans "Translated" %}</th>
</tr>
<tbody>
{% for u in top_translations %}
<tr>
<td>{{ u.get_user_display_link }}</td>
<td class="percent">{{ u.translated }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<div id="suggesters">

<table>
<thead>
<tr>
<th>{% trans "User" %}</th>
<th>{% trans "Suggested" %}</th>
</tr>
<tbody>
{% for u in top_suggestions %}
<tr>
<td>{{ u.get_user_display_link }}</td>
<td class="percent">{{ u.suggested }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>

{% endblock %}
