{% extends "base.html" %}
{% load i18n %}
{% load translations %}

{% block breadcrumbs %}
<li><a href="{% url 'languages' %}">{% trans "Languages" %}</a></li>
{% endblock %}

{% block content %}

<table class="sort table">
<thead>
<tr>
<th>{% trans "Language" %}</th>
<th colspan="2">{% trans "Translated" %}</th>
</tr>
<tbody>
{% for lang in languages %}
{% with lang.get_translated_percent as percent and lang.get_fuzzy_percent as fuzzy and lang.get_failing_checks_percent as check_percent %}
<tr>
<th><a href="{{ lang.get_absolute_url }}">{{ lang }}</a></th>
<td class="progress-cell">{% translation_progress lang %}</td>
<td class="percent">{{ percent }}%</td>
</tr>
{% endwith %}
{% endfor %}
</tbody>
</table>

{% include "legend.html" %}

{% endblock %}
