{% load i18n %}
{% load translations %}
{% load permissions %}

<div class="panel panel-primary">
<div class="panel-heading">
<h4 class="panel-title">
{% trans "History" %}
</h4>
</div>
<div class="panel-body">

{% include "last-changes-content.html" %}

</div>
{% if not hide_browse or last_changes_rss %}
<div class="panel-footer">
{% if not hide_browse %}
<a class="btn btn-default" href="{% url 'changes' %}?{{ last_changes_url }}">{% trans "Browse changes" %}</a>
{% endif %}
{% if last_changes_rss %}
<a class="btn btn-default" href="{{ last_changes_rss }}">{% trans "Follow using RSS" %}</a>
{% endif %}
</div>
{% endif %}
</div>
