{% load i18n %}
{% load translations %}

<table class="sort table">
<thead>
<tr>
<th>{% if show_language == 1 %}{% trans "Language" %}{% else %}{% trans "Project" %}{% endif %}</th>
<th></th>
<th colspan="2">{% trans "Translated" %}</th>
<th>{% trans "Words" context "Number of translated words" %}</th>
<th>{% trans "Fuzzy" context "Number of fuzzy strings" %}</th>
<th>{% trans "Checks" context "Number of failing checks" %}</th>
<th>{% trans "Suggestions" context "Number of suggestions" %}</th>
<th></th>
</tr>
<tbody>
{% for trans in translations %}
{% with trans.get_translated_percent as percent and trans.get_fuzzy_percent as fuzzy and trans.failing_checks as checks and trans.get_non_translated as count and trans.get_failing_checks_percent as check_percent and trans.have_suggestion as suggestions %}
<tr>
<th><a href="{{ trans.get_absolute_url }}">{% if show_language == 1 %}{{ trans.language }}{% else %}{{ trans.subproject }}{% if show_language == 2 %} ({{ trans.language }}){% endif %}{% endif %}</a></th>
<td>{% if trans.is_user_locked %}<span class="ui-icon ui-icon-locked tooltip">{{ trans.get_lock_display }}</span>{% endif %}</td>
<td class="progress-cell">{% translation_progress trans False %}</td>
<td class="percent">{{ percent }}%</td>
<td class="percent" title="{% blocktrans count words=trans.untranslated_words %}{{ words }} word to translate!{% plural %}{{ words }} words to translate!{% endblocktrans %}" >{{ trans.get_words_percent }}%</td>
<td class="percent">
{% if fuzzy > 0 %}
<a href="{{ trans.get_translate_url }}?type=fuzzy" title="{% blocktrans count trans.fuzzy as count %}There is {{ count }} fuzzy string.{% plural %}There are {{ count }} fuzzy strings.{% endblocktrans %}">
{{ fuzzy }}%
</a>
{% else %}
{{ fuzzy }}%
{% endif %}
</td>
<td class="number">
{% if checks > 0 %}
<a href="{{ trans.get_translate_url }}?type=allchecks" title="{% blocktrans count checks as count %}There is {{ count }} failing check.{% plural %}There are {{ count }} failing checks.{% endblocktrans %}">
{{ checks }}
</a>
{% else %}
{{ checks }}
{% endif %}
</td>
<td class="number">
{% if suggestions > 0 %}
<a href="{{ trans.get_translate_url }}?type=suggestions" title="{% blocktrans count suggestions as count %}There is {{ count }} suggestion.{% plural %}There are {{ count }} suggestions.{% endblocktrans %}">
{{ suggestions }}
</a>
{% else %}
{{ suggestions }}
{% endif %}
</td>
<td>
{% if count > 0 %}
<a href="{{ trans.get_translate_url }}?type=untranslated" title="{% blocktrans count trans.get_non_translated as count %}There is {{ count }} not translated string.{% plural %}There are {{ count }} not translated strings.{% endblocktrans %}">{% trans "Translate" %}</a>
{% endif %}
</td>
</tr>
{% endwith %}
{% endfor %}
</tbody>
</table>

{% include "legend.html" %}
