{% load i18n %}
{% for check in checks %}
<div data-href="{% url 'js-ignore-check' check_id=check.id %}" class="alert alert-{{ check.get_severity }} {% if perms_ignore_check %}alert-dismissable{% endif %} check tooltip-control" id="check-{{ check.id }}" title="{{ check.get_description }}">
{% if perms_ignore_check %}
<button type="button" class="close" data-dismiss="alert" title="{% blocktrans with check.get_check_display as check %}Ignore: {{ check }}{% endblocktrans %}">&times;</button>
{% endif %}
<a href="{{ check.get_doc_url }}" class="alert-link">{{ check.get_check_display }}</a>
</div>
{% endfor %}
