{% load static %}
{% load url from future %}

  <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}theme/jquery-ui-1.10.3.custom.min.css" />
  <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}style.css" />
  <script src="{% get_media_prefix %}js/jquery-1.9.1.min.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}js/jquery.autogrow-textarea.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}js/jquery.sortElements.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}js/jquery.cookie.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}js/jquery.outerhtml.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}js/jquery.ui.multiprogressbar.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}js/mousetrap.min.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}js/mousetrap-global-bind.min.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}loader.js" type="text/javascript"></script>
  <script src="{% url 'js-catalog' %}" type="text/javascript"></script>
  <script src="{% url 'js-config' %}" type="text/javascript"></script>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <meta name="robots" content="index, follow" />
