{% load static %}
{% load url from future %}

  <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}bootstrap/css/bootstrap-theme.min.css" />
<!--  <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}style.css" /> -->
  <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}style-bootstrap.css" />
  <script src="{% get_media_prefix %}js/jquery-2.1.0.min.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}js/jquery.cookie.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}js/mousetrap.min.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}js/mousetrap-global-bind.min.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}loader.js" type="text/javascript"></script>
  <script src="{% url 'js-catalog' %}" type="text/javascript"></script>
  <script src="{% url 'js-config' %}" type="text/javascript"></script>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
