{% load static %}

  <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}bootstrap/css/bootstrap.min.css" />
{% if LANGUAGE_BIDI %}
  <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}bootstrap/css/bootstrap-rtl.min.css" />
{% endif %}
  <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}bootstrap/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}font-linux/font-linux.css" />
  <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}bootstrap/css/datepicker3.css" />
  <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}chartist.min.css" />
  <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}style-bootstrap.css" />
  <script src="{% get_media_prefix %}js/jquery-2.1.1.min.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}js/jquery.cookie.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}js/jquery.autosize.min.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}js/jquery.sortElements.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}js/mousetrap.min.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}js/mousetrap-global-bind.min.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}js/chartist.min.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="{% get_media_prefix %}loader-bootstrap.js" type="text/javascript"></script>
  <script src="{% url 'js-catalog' %}" type="text/javascript"></script>
  <script src="{% get_media_prefix %}js/bootstrap-datepicker.js" type="text/javascript"></script>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
