{% load i18n %}

<div class="progress">
  {% if good %}
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ good }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ good }}%;" title="{% trans "Good translations" %}"></div>
  {% endif %}
  {% if checks %}
  <div class="progress-bar progress-bar-warning progress-checks" role="progressbar" aria-valuenow="{{ checks }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ checks }}%;" title="{% trans "Translations with failing checks" %}"></div>
  {% endif %}
  {% if fuzzy %}
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ fuzzy }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fuzzy }}%;" title="{% trans "Fuzzy translations" %}"></div>
  {% endif %}
</div>
