{% load i18n %}

<div class="progress">
  {% if good %}
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ good }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ good }}%;" title="{% trans "Translated strings" %}"></div>
  {% endif %}
  {% if checks %}
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ checks }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ checks }}%;" title="{% trans "Fuzzy strings" %}"></div>
  {% endif %}
  {% if fuzzy %}
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ fuzzy }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fuzzy }}%;" title="{% trans "Strings with any failing checks" %}"></div>
  {% endif %}
</div>
