{% load i18n %}
<tr>
<th>{% trans "Project website" %}</th>
<td colspan="2"><a href="{{ object.web }}">{{ object.web }}</a></td>
</tr>

{% if object.mail %}
<tr>
<th>{% trans "Mailing list for translators" %}</th>
<td colspan="2"><a href="mailto:{{ object.mail }}">{{ object.mail }}</a></td>
</tr>
{% endif %}

{% if object.instructions %}
<tr>
<th>{% trans "Instructions for translators" %}</th>
<td colspan="2"><a href="{{ object.instructions }}">{{ object.instructions }}</a></td>
</tr>
{% endif %}
