{% load i18n %}
<p>{% trans "Project website:" %} <a href="{{ object.web }}">{{ object.web }}</a></p>
{% if object.mail %}
<p>{% trans "Mailing list for translators:" %} <a href="mailto:{{ object.mail }}">{{ object.mail }}</a></p>
{% endif %}
{% if object.instructions %}
<p>{% trans "Instructions for translators:" %} <a href="{{ object.instructions }}">{{ object.instructions }}</a></p>
{% endif %}
{% if object.license %}
<p>{% trans "Translation license:" %} 
{% if object.license_url %}
<a href="{{ object.license_url }}">{{ object.license }}</a></p>
{% else %}
{{ object.license }}
{% endif %}
{% endif %}
