{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{{ object.project.get_absolute_url }}">{{ object.project }}</a></li>
<li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
<li><a href="{% url 'show_source' project=object.project.slug subproject=object.slug %}">{% trans "source strings" %}</a></li>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-lg-6">

{% url 'review_source' project=source.subproject.project.slug subproject=source.subproject.slug as review_url %}
{% with source.get_source_checks as checks %}
{% if checks %}
<div class="panel panel-primary">
<div class="panel-heading"><h4 class="panel-title">{% trans "Strings to check" %}</h4></div>
  <div class="panel-body">
<div class="list-group">
{% for c in checks %}
<a class="list-group-item list-group-item-{{ c.3 }}" href="{{ review_url }}?type={{ c.0 }}"><span class="badge">{{ c.2 }}</span>{{ c.1 }}</a>
{% endfor %}
</div>
</div>
</div>
{% endif %}
{% endwith %}

</div>

<div class="col-lg-6">

<div class="panel panel-primary">
  <div class="panel-heading"><h4 class="panel-title">{% trans "Project Information" %}</h4></div>
  <div class="panel-body">

<table class="table">
{% include "subproject_info.html" %}
</table>
</div>
</div>

</div>
</div>

{% endblock %}
