{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{{ object.project.get_absolute_url }}">{{ object.project }}</a></li>
<li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
<li><a href="{% url 'show_source' project=object.project.slug subproject=object.slug %}">{% trans "source" %}</a></li>
{% endblock %}

{% block content %}

<h2>{% trans "Project Information" %}</h2>

<table>
{% include "subproject_info.html" %}
</table>

{% url 'review_source' project=source.subproject.project.slug subproject=source.subproject.slug as review_url %}
{% with source.get_source_checks as checks %}
{% if checks %}
<h2>{% trans "Strings to check" %}</h2>
<div class="row">
<div class="col-md-4">
<div class="list-group">
{% for c in checks %}
<a class="list-group-item" href="{{ review_url }}?type={{ c.0 }}"><span class="badge">{{ c.2 }}</span>{{ c.1 }}</a>
{% endfor %}
</div>
</div>
</div>
{% endif %}
{% endwith %}

</div>

{% endblock %}



