{% load i18n %}

{% with object.project as object %}
{% include "project_info.html" %}
{% endwith %}

{% if object.license %}
<tr>
<th>{% trans "Translation license" %}</th>
<td colspan="2">
{% if object.license_url %}
<a href="{{ object.license_url }}">{{ object.license }}</a>
{% else %}
{{ object.license }}
{% endif %}
</td>
</tr>
{% endif %}

{% if perms.trans.can_see_git_repository %}
<tr>
<th>{% trans "Repository" %}</th>
<td colspan="2">
<code class="git-repo ui-corner-all">{{ object.get_repo_url }}</code>
</td>
</tr>

<tr>
<th>{% trans "Repository branch" %}</th>
<td colspan="2">
{{ object.get_repo_branch }}
{% with object.get_last_remote_commit as commit %}
{% include "git-commit-info.html" %}
{% endwith %}
</td>
</tr>

{% with object.get_export_url as export_url %}
{% if export_url %}
<tr>
<th>{% trans "Repository with Weblate translations" %}</th>
<td colspan="2"><code class="git-repo ui-corner-all">{{ export_url }}</code></td>
</tr>
{% endif %}
{% endwith %}
{% endif %}
