{% load i18n %}

{% with object.project as object %}
{% include "project_info.html" %}
{% endwith %}
<p>{% trans "Git repository:" %} 
<code class="git-repo ui-corner-all">{{ object.get_repo_url }}</code> ({{ object.get_repo_branch }}
 @ 
{% with object.get_last_remote_commit as commit %}
{% include "git-commit-info.html" %}
{% endwith %}
)
</p>
{% with object.get_export_url as export_url %}
{% if export_url %}
<p>
{% trans "Git repository with Weblate translations:" %}
<code class="git-repo ui-corner-all">{{ export_url }}</code>
</p>
{% endif %}
{% endwith %}
