{% load i18n %}
{% load translations %}

{% with object.subproject as object %}
{% include "subproject_info.html" %}
{% endwith %}

<tr>
<th>{% trans "Strings" %}<span class="badge pull-right flip">{{ object.total }}</span></th>
<td class="progress-cell">{% translation_progress object %}</td>
<td class="percent">{{ object.get_translated_percent }}%</td>
</tr>

<tr>
<th>{% trans "Words" %}<span class="badge pull-right flip">{{ object.total_words }}</span></th>
<td class="progress-cell">{% words_progress object %}</td>
<td class="percent">{{ object.get_words_percent }}%</td>
</tr>
