{% load i18n %}

{% with object.subproject as object %}
{% include "subproject_info.html" %}
{% endwith %}

{% with object.get_translated_percent as percent and object.get_fuzzy_percent as fuzzy and object.get_words_percent as word_percent %}

<tr>
<th>{% trans "Strings" %}<span class="badge pull-right">{{ object.total }}</span></th>
<td><div class="progress" data-value="{{ percent|floatformat:0 }}" data-fuzzy="{{ fuzzy|floatformat:0 }}" data-checks="{{ check_percent|floatformat:0 }}"></div> {{ percent }}%</td>
</tr>

<tr>
<th>{% trans "Words" %}<span class="badge pull-right">{{ object.total_words }}</span></th>
<td><div class="progress" data-value="{{ word_percent|floatformat:0 }}"></div> {{ word_percent }}%</td>
</tr>

{% endwith %}
