{% extends "base.html" %}
{% load translations %}
{% load url from future %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{{ object.subproject.project.get_absolute_url }}">{{ object.subproject.project }}</a></li>
<li><a href="{{ object.subproject.get_absolute_url }}">{{ object.subproject.name }}</a></li>
<li><a href="{{ object.get_absolute_url }}">{{ object.language }}</a></li>
<a class="pull-right" href="{{ object.get_widgets_url }}">
<img src="{% url 'widget-image-lang' project=object.subproject.project.slug widget='shields' color='badge' lang=object.language.code extension='svg' %}" />
</a>
{% endblock %}

{% block content %}

{% include "show-lock.html" %}

<ul class="nav nav-pills">
  <li class="active"><a href="{{ object.get_absolute_url }}">{% trans "Overview" %}</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {% trans "Download" %} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
<li><a href="{% url 'download_translation' project=object.subproject.project.slug subproject=object.subproject.slug lang=object.language.code %}" title="{% trans "Download for an offline translation." %}">{% trans "Source file" %}</a></li>
{% if object.supports_language_pack %}
<li><a href="{% url 'download_language_pack' project=object.subproject.project.slug subproject=object.subproject.slug lang=object.language.code %}" title="{% trans "Download for using within an application." %}">{% trans "Compiled translation" %}</a></li>
{% endif %}
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {% trans "Tools" %} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'data_project' project=object.subproject.project.slug  %}">{% trans "Data exports" %}</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {% trans "Share" %} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
{% with object.get_share_url as share_url and object.get_widgets_url as widgets_url %}
      <li><a href="http://www.facebook.com/sharer.php?u={{ share_url }}">{% trans "Share on Facebook!" %}</a></li>
      <li><a href="https://twitter.com/share?text={% blocktrans %}Translate {{ object }} using %23Weblate at {{ share_url }}!{% endblocktrans %}">{% trans "Tweet this translation!" %}</a></li>
      <li><a href="{{ widgets_url }}">{% trans "Status widgets" %}</a></li>
{% endwith %}
    </ul>
  </li>
</ul>


<div class="row">
<div class="col-md-6">

<div class="panel panel-primary">
  <div class="panel-heading">{% trans "Project Information" %}</div>
  <div class="panel-body">

<table class="table">
{% include "translation_info.html" %}
</table>
</div>
</div>

<div class="panel panel-primary">
<div class="panel-heading">{% trans "Strings to check" %}</div>
  <div class="panel-body">
<div class="list-group">
{% for c in object.get_translation_checks %}
<a class="list-group-item" href="{{ object.get_translate_url }}?type={{ c.0 }}"><span class="badge">{{ c.2 }}</span>{{ c.1 }}</a>
{% endfor %}
</div>
</div>
</div>

<form action="{{ object.get_translate_url }}" method="GET">
<div class="panel panel-primary">
<div class="panel-heading">{% trans "Search" %}</div>
  <div class="panel-body">
{{ search_form.as_p }}
</div>
<div class="panel-footer">
<input type="submit" value="{% trans "Search" %}" class="btn btn-default" />
</div>
</div>
</form>

{% if review_form %}
<form action="{{ object.get_translate_url }}" method="GET">
<div class="panel panel-primary">
<div class="panel-heading">{% trans "Review" %}</div>
  <div class="panel-body">
<p>{% trans "Review translations touched by other users." %}</p>
{{ review_form.as_p }}
</div>
<div class="panel-footer">
<input type="submit" value="{% trans "Start review" %}" class="btn btn-default" />
</div>
</div>
</form>
{% endif %}

</div>

<div class="col-md-6">
<div class="panel panel-primary">
<div class="panel-heading">{% trans "Stats" %}</div>
<div class="panel-body">
<table class="table">
<thead>
<tr>
<td></td>
<th>{% trans "Percent" %}</th>
<th>{% trans "Strings" %}</th>
<th>{% trans "Words" %}</th>
</tr>
</thead>
<tbody>
<tr>
<th>{% trans "Total" %}</th>
<td class="percent"></td>
<td class="number">{{ object.total }}</td>
<td class="number">{{ object.total_words }}</td>
</tr>
<tr>
<th>{% trans "Translated" %}</th>
<td class="percent">{{ object.get_translated_percent }}%</td>
<td class="number">{{ object.translated }}</td>
<td class="number">{{ object.translated_words }}</td>
</tr>
<tr>
<th>{% trans "Fuzzy" %}</th>
<td class="percent">{{ object.get_fuzzy_percent }}%</td>
<td class="number">{{ object.fuzzy }}</td>
<td class="number"></td>
</tr>
<tr>
<th>{% trans "Failing check" %}</th>
<td class="percent">{{ object.get_failing_checks_percent }}%</td>
<td class="number">{{ object.failing_checks }}</td>
<td class="number"></td>
</tr>
<tr>
<td colspan="4">&nbsp;</td>
</tr>
<tr>
<th>{% trans "Last change" %}<th>
<td class="number" colspan="3">{{ object.get_last_change }}</td>
</tr>
<tr>
<th>{% trans "Last author" %}<th>
<td class="number" colspan="3">{{ object.get_last_author }}</td>
</tr>
</tbody>
</table>
</div>
</div>

<div class="panel panel-primary">
<div class="panel-heading">{% trans "History" %}</div>
<div class="panel-body">
{% include "last-changes.html" %}
</div>
</div>

</div>

</div>

<h2>{% trans "Tools" %}</h2>

<div class="tabs" id="translation-tabs">
<ul>
<li><a href="#files">{% trans "Files" %}</a></li>
{% if autoform %}
<li><a href="#auto">{% trans "Automatic translation" %}</a></li>
{% endif %}
{% if perms.trans.commit_translation or perms.trans.update_translation %}
<li><a href="{% url 'git_status_translation' project=object.subproject.project.slug subproject=object.subproject.slug lang=object.language.code %}">{% trans "Git maintenance" %}</a></li>
{% endif %}
<li><a href="#locking">{% trans "Locking" %}</a></li>
<li><a href="{% url 'view_activity_translation' project=object.subproject.project.slug subproject=object.subproject.slug lang=object.language.code %}">{% trans "Activity" %}</a></li>
</ul>

<div id="files">

{% if perms.trans.upload_translation %}
<h3>{% trans "Upload" %}</h3>
{% if perms.trans.overwrite_translation %}
<p>{% trans "Uploaded file will be merged with current translation. In case you want to overwrite already translated strings, don't forget to enable it." %}</p>
{% else %}
<p>{% trans "Uploaded file will be merged with current translation." %}</p>
{% endif %}

<form action="{% url 'upload_translation' project=object.subproject.project.slug subproject=object.subproject.slug lang=object.language.code %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<p><input type="submit" value="{% trans "Upload" %}" class="button" /></p>
</form>
{% endif %}
</div>

{% if autoform %}
<div id="auto">
<p>{% trans "Automatic translation takes existing translations in this project and applies it to the current subproject. It can be used to push translations to a different branch, to fix inconsistent translations or to translate new subproject using translation memory." %}</p>
<form action="{% url 'auto_translation' project=object.subproject.project.slug subproject=object.subproject.slug lang=object.language.code %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<table>
{{ autoform.as_table }}
</table>
<p><input type="submit" value="{% trans "Process" %}" class="button" /></p>
</form>
</div>
{% endif %}

<div id="locking">
<p>{% trans "Locking the translation will prevent others to work on translation." %}</p>
{% if object.is_user_locked %}
<p>{% trans "Locked by:" %} {{ object.get_lock_user_display }}</p>
<p>{% trans "Lock expires:" %} {{ object.lock_time|naturaltime }}</p>
{% else %}
<p>{% trans "Translation is currently not locked." %}</p>
{% endif %}
{% if perms.trans.lock_translation %}
{% if object.lock_user == request.user %}
<a class="button" href="{% url 'unlock_translation' project=object.subproject.project.slug subproject=object.subproject.slug lang=object.language.code %}">{% trans "Unlock" %}</a>
{% elif not object.is_user_locked %}
<a class="button" href="{% url 'lock_translation' project=object.subproject.project.slug subproject=object.subproject.slug lang=object.language.code %}">{% trans "Lock" %}</a>
{% endif %}
{% endif %}
</div>

</div>

{% endblock %}


