{% load i18n %}
{% if unit.location %}
<tr>
<th class="labelscolumn">{% trans "Used in" %}</th>
<td>{{ unit.get_location_links }}</td>
</tr>
{% endif %}
{% if unit.comment %}
<tr>
<th class="labelscolumn">{% trans "Comments" %}</th>
<td class="translation_comment">{{ unit.comment }}</td>
</tr>
{% endif %}
{% with unit.get_source_string_info as source %}
{% if source %}
<tr>
<th class="labelscolumn">{% trans "First seen" %}</th>
<td class="translation_comment">{{ source.timestamp|naturaltime }}</td>
</tr>
{% endif %}
{% endwith %}
