{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{% url 'widgets_root' %}">{% trans "widgets" %}</a></li>
{% endblock %}

{% block content %}

<h2>{% trans "Promoting translation projects" %}</h2>

<p>
{% trans "Weblate provides various widgets to promote your translation projects. Open one of the project pages below." %}
</p>

<ul>
{% for project in acl_projects %}
<li><a href="{% url 'widgets' project=project.slug %}">{{ project.name }}</a></li>
{% endfor %}
</ul>

{% endblock %}

