{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
<li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
<li><a href="{% url 'weblate.trans.widgets.widgets' project=object.slug %}">{% trans "widgets" %}</a></li>
{% endblock %}

{% block content %}

<h2>{% trans "Widgets" %}</h2>

<p>
{% trans "You can use following widgets to promote translation of your project. They can increase visibility of your translation projects and bring new contributors." %}
</p>

<p>
{% blocktrans %}You can also point newcomers to the introduction page at <a href="{{ engage_url }}">{{ engage_url }}</a>.{% endblocktrans %}
</p>

<h3>{% trans "Image widgets" %}</h3>

{% for widget in widget_list %}
<h4>{% blocktrans with widget.name as widget %}Image {{ widget }}{% endblocktrans %}</h4>

<p>{% trans "Color variants:" %}</p>

<p>
{% for color in widget.colors %}
<a href="{{ engage_url_track }}"><img src="{{ widget_base_url }}{{ widget.name }}/{{ color }}/" /></a>
{% endfor %}
</p>

<p>{% trans "HTML code:" %}</p>

{% for color in widget.colors %}
<pre class="ui-widget-content ui-corner-all code">
&lt;a href="{{ engage_url_track }}"&gt;
&lt;img src="{{ widget_base_url }}{{ widget.name }}/{{ color }}/" alt="{% trans "Translation status" %}" /&gt;
&lt;/a&gt;
</pre>
{% endfor %}

<p>{% trans "BB code:" %}</p>

{% for color in widget.colors %}
<pre class="ui-widget-content ui-corner-all code">
[url={{ engage_url_track }}][img alt="{% trans "Translation status" %}"]{{ widget_base_url }}{{ widget.name }}/{{ color }}/[/img][/url]
</pre>
{% endfor %}

<p>{% trans "Markdown code:" %}</p>

{% for color in widget.colors %}
<pre class="ui-widget-content ui-corner-all code">
[![{% trans "Translation status" %}]({{ widget_base_url }}{{ widget.name }}/{{ color }}/)]({{ engage_url_track }})
</pre>
{% endfor %}

<p>{% trans "RST code:" %}</p>

{% for color in widget.colors %}
<pre class="ui-widget-content ui-corner-all code">
.. image:: {{ widget_base_url }}{{ widget.name }}/{{ color }}/
    :alt: {% trans "Translation status" %}
    :target: {{ engage_url_track }}
</pre>
{% endfor %}


{% endfor %}

{% endblock %}

