{% load translations %}
{% load i18n %}
{% load static %}
{% load url from future %}

{% for unit in unitdata %}
<tr id="row-status-{{ unit.0.checksum }}">
<td>{{ unit.0.position }}</td>
<td>
{{ unit.0.get_location_links }}
{% if unit.0.context %}
{% format_translation unit.0.context search_match=search_query %}
{% endif %}
</td>
<td>
<a href="{{ unit.0.get_absolute_url }}" class="btn btn-xs btn-default pull-right" title="{% trans "Open in full editor" %}"><span class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}</a>
</td>
</tr>
<tr id="row-source-{{ unit.0.checksum }}">
<td></td>
<td colspan="2" class="translatetext">{% format_translation unit.0.source search_match=search_query %}</td>
</tr>
<tr id="row-edit-{{ unit.0.checksum }}">
<td>
<span id="loading-{{ unit.0.checksum }}"  class="glyphicon glyphicon-refresh glyphicon-spin" style="display: none"></span>
<span id="status-{{ unit.0.checksum }}"></span>
</td>
<td colspan="2" class="translator">
<form action="{% url 'save_zen' project=object.subproject.project.slug subproject=object.subproject.slug lang=object.language.code %}" method="post">
{% csrf_token %}
{{ unit.1.checksum }}
{{ unit.1.target }}
<br />
{{ unit.1.fuzzy }}<label for="id_{{ unit.0.checksum }}_fuzzy">{% trans "Fuzzy" context "Message is fuzzy" %}</label>
</form>
</td>
</tr>
{% endfor %}

{% if last_section %}
<tr><td colspan="3" id="last-section">
{% show_message 'info' _('You have reached end of translating.') %}
</td></tr>
{% endif %}
