{% load translations %}
{% load i18n %}
{% load static %}

{% for unit in unitdata %}
<tr>
<td>{{ unit.0.position }}</td>
<td>
{{ unit.0.get_location_links }}

{{ unit.0.context|fmtsearchmatch:search_query }}
</td>
<td>
<img src="{% get_media_prefix %}loading.gif" id="loading-{{ unit.0.checksum }}" style="display: none" />
<a href="{{ unit.0.get_absolute_url }}" class="menu-float small-button button" title="{% trans "Open in full editor" %}">{% trans "Edit" %}</a>
</td>
</tr>
<tr>
<td></td>
<td class="translatetext">{{ unit.0.source|fmtsearchmatch:search_query }}</td>
<td class="translator">
<form action="js-store" method="post">
{% csrf_token %}
{{ unit.1.checksum }}
{{ unit.1.target }}
<br />
{{ unit.1.fuzzy }}<label for="id_fuzzy">{% trans "Fuzzy" context "Message is fuzzy" %}</label>
</form>
</td>
</tr>
{% endfor %}

{% if last_section %}
<tr><td colspan="3" id="last-section">
{% show_message 'info' _('You have reached end of translating.') %}
</td></tr>
{% endif %}
