{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_meta %}
<link rel="canonical" href="{{ unit.get_absolute_url }}" />
{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ object.subproject.project.get_absolute_url }}">{{ object.subproject.project }}</a></li>
<li><a href="{{ object.subproject.get_absolute_url }}">{{ object.subproject.name }}</a></li>
<li><a href="{{ object.get_absolute_url }}">{{ object.language }}</a></li>
<li><a href="{{ object.get_translate_url }}">{% trans "zen" %}</a></li>
{% endblock %}

{% block content %}

{% include "show-lock.html" %}

<a href="{% url 'translate' project=object.subproject.project.slug subproject=object.subproject.slug lang=object.language.code %}?sid={{ search_id }}" title="{% trans "Edit in single unit mode" %}" class="btn btn-default pull-right flip"><i class="fa fa-edit"></i> {% trans "Exit Zen" %}</a>

{% if filter_name %}
<ul class="pagination">
<li><a>
{% blocktrans %}{{ filter_name }} ({{ filter_count }}){% endblocktrans %}
</a></li>
</ul>
{% endif %}

<table class="zen table table-condensed">
{% include 'zen-units.html' %}
<tfoot>
<tr><td colspan="3" class="loading-icon">
<i id="loading-next" class="fa fa-spinner fa-spin" style="display: none"></i>
<a href="{% url 'load_zen' project=object.subproject.project.slug subproject=object.subproject.slug lang=object.language.code %}?sid={{ search_id }}" class="hidden" id="zen-load" data-offset="{{ offset }}"></a>
<a href="{% url 'js-lock' project=object.subproject.project.slug subproject=object.subproject.slug lang=object.language.code %}" class="hidden" id="js-lock"></a>
</td></tr>
</tfoot>
</table>

{% endblock %}
