# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

services:
  database:
    image: postgres:17.3
    ports:
    - 60000:5432
    # make postgres faster and non-durable, see https://www.postgresql.org/docs/current/non-durability.html
    command: [postgres, -c, fsync=off, -c, synchronous_commit=off, -c, full_page_writes=off, -c, checkpoint_timeout=7200, -c, wal_level=minimal, -c, max_wal_senders=0]
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: weblate
  cache:
    image: redis:7.4.2-alpine
    restart: always
    ports:
    - 60001:6379
