# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

services:
  cache:
    image: valkey/valkey:9.0.0-alpine@sha256:b4ee67d73e00393e712accc72cfd7003b87d0fcd63f0eba798b23251bfc9c394
    ports:
    - 60001:6379
    restart: always
  database:
    image: mysql:9.5.0@sha256:28540698ce89bd72f985044de942d65bd99c6fadb2db105327db57f3f70564f0
    environment:
      MYSQL_ROOT_PASSWORD: weblate
    ports:
    - 60000:3306
