# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

services:
  cache:
    image: redis:8.4.0-alpine@sha256:6cbef353e480a8a6e7f10ec545f13d7d3fa85a212cdcc5ffaf5a1c818b9d3798
    ports:
    - 60001:6379
    restart: always
  database:
    image: postgres:18.1-alpine@sha256:61edb38e51d3542d590b964d40ca6526c3317a37c69751e92d7011d2e0cef897
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: weblate
    ports:
    - 60000:5432
    # make postgres faster and non-durable, see https://www.postgresql.org/docs/current/non-durability.html
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
    - -c
    - checkpoint_timeout=7200
    - -c
    - wal_level=minimal
    - -c
    - max_wal_senders=0
    - -c
    - shared_buffers=1GB
    - -c
    - work_mem=150MB
