# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

services:
  database:
    image: postgres:17.5-alpine@sha256:bcb90dc18910057ff49ce2ea157d8a0d534964090d39af959df41083f18c3318
    ports:
    - 60000:5432
    # make postgres faster and non-durable, see https://www.postgresql.org/docs/current/non-durability.html
    command: [postgres, -c, fsync=off, -c, synchronous_commit=off, -c, full_page_writes=off, -c, checkpoint_timeout=7200, -c, wal_level=minimal, -c, max_wal_senders=0]
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: weblate
  cache:
    image: redis:8.0.2-alpine@sha256:48501c5ad00d5563bc30c075c7bcef41d7d98de3e9a1e6c752068c66f0a8463b
    restart: always
    ports:
    - 60001:6379
