# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

services:
  cache:
    image: redis:8.6.0-alpine@sha256:fd83658b0e40e2164617d262f13c02ca9ee9e1e6b276fd2fa06617e09bd5c780
    ports:
    - 60001:6379
    restart: always
  database:
    image: postgres:18.2-alpine@sha256:035b9ab53cfa147d7202b61f5f7782b939ae815b7d6bc81c96b7b42ff1fca950
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: weblate
    ports:
    - 60000:5432
    # make postgres faster and non-durable, see https://www.postgresql.org/docs/current/non-durability.html
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
    - -c
    - checkpoint_timeout=7200
    - -c
    - wal_level=minimal
    - -c
    - max_wal_senders=0
    - -c
    - shared_buffers=1GB
    - -c
    - work_mem=150MB
