# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

services:
  database:
    image: mysql:9.1.0
    ports:
    - 60000:3306
    environment:
      MYSQL_ROOT_PASSWORD: weblate
  cache:
    image: redis:7.4.2-alpine
    restart: always
    ports:
    - 60001:6379
