# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

services:
  cache:
    image: redis:8.4.0-alpine@sha256:4eec4565e45aa0b3966554c866bc73211e281b0b3d89fe9a33c982e6faca809d
    ports:
    - 60001:6379
    restart: always
  database:
    image: postgres:18.1-alpine@sha256:aa6eb304ddb6dd26df23d05db4e5cb05af8951cda3e0dc57731b771e0ef4ab29
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: weblate
    ports:
    - 60000:5432
    # make postgres faster and non-durable, see https://www.postgresql.org/docs/current/non-durability.html
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
    - -c
    - checkpoint_timeout=7200
    - -c
    - wal_level=minimal
    - -c
    - max_wal_senders=0
    - -c
    - shared_buffers=1GB
    - -c
    - work_mem=150MB
