# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

services:
  cache:
    image: redis:8.2.2-alpine@sha256:b4ab73ca1f4e12c803845e561c07ccc365d2be7c9b048459e679b8ce73da4056
    ports:
    - 60001:6379
    restart: always
  database:
    image: postgres:18.0-alpine@sha256:fe5874a6484052c5353272650bb0b21f35082465f82907df4dfb1fe25f042610
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: weblate
    ports:
    - 60000:5432     # make postgres faster and non-durable, see https://www.postgresql.org/docs/current/non-durability.html
    command: [postgres, -c, fsync=off, -c, synchronous_commit=off, -c, full_page_writes=off, -c, checkpoint_timeout=7200, -c, wal_level=minimal, -c, max_wal_senders=0]
