# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

services:
  cache:
    image: redis:8.4.0-alpine@sha256:0804c395e634e624243387d3c3a9c45fcaca876d313c2c8b52c3fdf9a912dded
    ports:
    - 60001:6379
    restart: always
  database:
    image: postgres:18.1-alpine@sha256:30f2a9b6f470bece98c10f98952e720c881dc3ef987cf06b5ed4b698a350c1bb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: weblate
    ports:
    - 60000:5432
    # make postgres faster and non-durable, see https://www.postgresql.org/docs/current/non-durability.html
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
    - -c
    - checkpoint_timeout=7200
    - -c
    - wal_level=minimal
    - -c
    - max_wal_senders=0
    - -c
    - shared_buffers=1GB
    - -c
    - work_mem=150MB
