# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

version: '3'

services:
  database:
    image: postgres:15.2
    ports:
    - 60000:5432
    volumes:
      # make postgres faster and non-durable, see https://www.postgresql.org/docs/current/non-durability.html
    - ./postgres:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: weblate
  cache:
    image: redis:7.0.10-alpine
    restart: always
    ports:
    - 60001:6379
