# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

services:
  cache:
    image: valkey/valkey:9.0.0-alpine@sha256:b4ee67d73e00393e712accc72cfd7003b87d0fcd63f0eba798b23251bfc9c394
    ports:
    - 60001:6379
    restart: always
  database:
    image: mariadb:12.0.2@sha256:439d77b7092f9acde784990bbc623f263b1e4e0540cf5e94fc49e4a33c0994a1
    environment:
      MYSQL_ROOT_PASSWORD: weblate
    ports:
    - 60000:3306
