Django>=1.8
Whoosh>=2.5.2,!=2.6.0
translate-toolkit>=1.10.0; python_version < '3.0'
translate-toolkit>=1.14.0rc1; python_version >= '3.0'
lxml>=3.1.0
Pillow
six>=1.7.0
python-dateutil
python-social-auth>=0.2.0
django-crispy-forms>=1.4.0
oauthlib>=0.6.3
django_compressor>=1.5.0,!=2.0
# Copy of requirements-optional.txt without python_version modifiers
pyuca>=1.1
pyLibravatar
py3dns
Babel
chardet
python-memcached
# Test
httpretty!=0.8.11
coverage
