-r ../requirements.txt
# Adjusted copy of requirements-optional.txt:
# - without python_version modifiers
# - without PyAML and tesserocr
pyuca>=1.1
pytz>=2015.1
phply
chardet
git-review
django-redis
hiredis
python-bidi>=0.4.0
PyYAML>=3.0
akismet>=1.0
boto3
zeep
# Test (requirements-test.txt)
selenium
httpretty>=0.9.5
coverage
# Database backend
psycopg2-binary
