-r ../requirements.txt
# Adjusted copy of requirements-optional.txt:
# - without python_version modifiers
# - without PyAML and tesserocr
pyuca>=1.1
pyLibravatar
py3dns
Babel
chardet
python-memcached
python-bidi>=0.4.0
# Test
httpretty!=0.8.11
coverage
# Database backend
psycopg2
