{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}

{% if account %}
<p>
    {% blocktrans with account.username as username %}Thank you. Your 
    account is now activated. Your username is 
    <b>{{ username }}</b>.{% endblocktrans %}
</p>
<p>
    {% url 'weblate.accounts.views.profile' as profile_url %}
    {% blocktrans %}You might want to <a href="{{ profile_url }}">adjust your profile</a> now.{% endblocktrans %}
</p>
{% else %}
<p>
    {% url 'registration.views.register' as reg_url %}
    {% blocktrans count expiration_days as days %}
    Your account could not be activated.
    This may be because it is already active or because you waited over 
    {{ days }} day to activate it. 
    If this is not the case, please contact the website administrator. 
    Otherwise, you may <a href="{{ reg_url }}">register again</a>.
    {% plural %}
    Your account could not be activated.
    This may be because it is already active or because you waited over 
    {{ days }} days to activate it. 
    If this is not the case, please contact the website administrator. 
    Otherwise, you may <a href="{{ reg_url }}">register again</a>.
    {% endblocktrans %}
</p>
{% endif %}

{% endblock %}
