{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="{% trans 'Change my password' %}" class="button" />
</form>

{% else %}

<p>{% trans "The password reset link is invalid, possibly because it has already been used. Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
