{% extends "base.html" %}
{% load i18n %}

{% block content %}

<form action="" method="post">{% csrf_token %}
{% if form.errors %}
<div class="ui-widget">
    <div style="padding: 0pt 0.7em;" class="ui-state-error ui-corner-all"> 
        <p><span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span>
    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
    </div>
</div>
{% endif %}

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<table>
{{ form.as_table }}
</table>
<input type="submit" value="{% trans 'Change my password' %}" class="button" />

</form>

{% endblock %}
