certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
furo==2024.1.29
jinja2>=3.1.3 # not directly required, pinned by Snyk to avoid a vulnerability
matplotlib==3.8.4
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
pygments==2.17.2
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
Sphinx==7.3.4
sphinx-copybutton==0.5.2
sphinx-jsonschema==1.19.1
sphinxcontrib-httpdomain==1.8.1
sphinxext-opengraph==0.9.1
