furo==2023.9.10
matplotlib==3.8.2
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
pygments==2.16.1
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
Sphinx==7.2.6
sphinx-copybutton==0.5.2
sphinx-jsonschema==1.19.1
sphinxcontrib-httpdomain==1.8.1
sphinxext-opengraph==0.9.0
