pygments==2.14.0
Sphinx==5.3.0
sphinx-jsonschema==1.19.1
sphinx-rtd-theme==1.2.0rc3
sphinxcontrib-httpdomain==1.8.1
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
