{% load i18n %}
{% load weblate %}
{% if similar %}
<table>
    <thead>
    <tr><th>{% trans "Project" %}</th><th>{% trans "Source" %}</th><th>{% trans "Translation" %}</th></tr>
    </thead>
    <tbody>
{% for item in similar %}
    <tr class="clickable">
    <td>{{ item.translation.subproject }}</td>
    <td class="translatetext"><a href="{{ item.get_absolute_url }}">{{ item.source|fmttranslation }}</a></td>
    <td class="translatetext"><a href="{{ item.get_absolute_url }}">{{ item.target|fmttranslation:item.translation.language }}</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>{% trans "No similar strings found." %}</p>
{% endif %}
