{% load i18n %}
{% load crispy_forms_tags %}
{% load translations %}

<form action="{% url 'manage-activate' %}" method="post">
  {% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        {% documentation_icon 'admin/support' right=True %}
        {% trans "Activate support package" %}
      </h4>
    </div>
    <div class="panel-body">
      <p>
        {% trans "The support packages include priority e-mail support, or cloud backups of your Weblate installation." %}
      </p>
      {{ activate_form|crispy }}
    </div>
    <div class="panel-footer">
      <input type="submit" class="btn btn-primary" value="{% trans "Activate" %}" />
      <a href="{{ support_url }}" class="btn btn-primary">{% trans "Purchase support package" %}</a>
    </div>
  </div>
</form>
