{% load i18n %}
{% load icons %}

<table class="table">
  <tr>
    <th>{% trans "Backup repository" %}</th>
    <td>
      <code>{{ service.repository }}</code>
      <button type="button"
              class="btn btn-link btn-xs"
              data-clipboard-value="{{ service.repository }}"
              title="{% trans "Copy to clipboard" %}">{% icon "copy.svg" %}</button>
    </td>
  </tr>
  <tr>
    <th>{% trans "Passphrase" %}</th>
    <td>
      <code>{{ service.passphrase }}</code>
      <button type="button"
              class="btn btn-link btn-xs"
              data-clipboard-value="{{ service.passphrase }}"
              title="{% trans "Copy to clipboard" %}">{% icon "copy.svg" %}</button>
      <p class="help-block">{% trans "The passphrase is used to encrypt the backups and is necessary to restore them." %}</p>
    </td>
  </tr>
  <tr>
    <th>{% trans "SSH key" %}</th>
    <td>
      <a href="{% url 'manage-ssh-key' %}" class="btn btn-primary">{% trans "Download private key" %}</a>
      <p class="help-block">{% trans "The private key is needed to access the remote backup repository." %}</p>
    </td>
  </tr>
</table>
