{% extends "admin/index.html" %}
{% load i18n %}

{% block content %}
<div id="content-extra" style="float: left; width: 100%;">
    
    <div class="module">

    <table>
    <caption>{% trans "Reports" %}</caption>
    
        <tr>
            <th scope="row"><a href="{% url 'admin-report' %}">{% trans "Status of repositories" %}</a></th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th scope="row"><a href="{% url 'admin-ssh' %}">{% trans "SSH keys" %}</a></th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th scope="row"><a href="{% url 'admin-performance' %}">{% trans "Performance report" %}</a></th>
            <th></th>
            <th></th>
        </tr>

    
    </table>
    </div>
</div>
{{ block.super }}
{% endblock %}
