{% extends "admin/base_site.html" %}
{% load i18n %}
{% load translations %}

{% block title %}{% trans "Performance report" %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="../">
{% trans "Home" %}</a> &rsaquo; {% trans "Performance" %}
</div>{% endblock %}

{% block content %}
<div id="content-main">
  <h1>{% trans "Performance report" %}</h1>
  <div id="changelist" class="module filtered">
    <div class="results">
  <table id="result_list" class="orderable-initalized">
  <thead>
  <tr>
    <th>{% trans "Check" %}</th>
    <th>{% trans "Status" %}</th>
    <th>{% trans "Result" %}</th>
    <th>{% trans "Documentation" %}</th>
  </tr>
  </thead>
  <tbody>
  {% for check in checks %}
  <tr class="row{% cycle '1' '2' %}">
      <td>{{ check.0 }}</td>
      <td>{{ check.3 }}</td>
      <td>{% admin_boolean_icon check.1 %}</td>
      <td><a href="{% documentation "admin/install" check.2 %}">{% trans "Documentation" %}</a></td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
    </div>
  </div>
  {% if errors %}
  <h1>{% trans "Configuration errors" %}</h1>
  <div id="changelist" class="module filtered">
    <div class="results">
  <table id="result_list" class="orderable-initalized">
  <thead>
  <tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Message" %}</th>
  </tr>
  </thead>
  <tbody>
  {% for error in errors %}
  <tr class="row{% cycle '1' '2' %} {{ check.3 }}">
      <td>{{ error.name }}</td>
      <td><pre>{{ error.message }}</pre></td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}

