{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% trans "Status of repositories" %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="../">
{% trans "Home" %}</a> &rsaquo; {% trans "Status" %}
</div>{% endblock %}

{% block content %}
<div id="content-main">
  <h1>{% trans "Status of repositories" %}</h1>
  {% for sp in subprojects %}
    <h3 id="{{ sp.get_full_slug }}"><a href="{{ sp.get_absolute_url }}">{{ sp }}</a></h3>
{% if sp.is_repo_link %}
<p>{% blocktrans with sp.repo as repo and sp.linked_subproject.get_full_slug as slug %}Not showing status of linked repository. Check <a href="#{{ slug }}">{{ repo }}</a> instead.{% endblocktrans %}</p>
{% else %}
    <pre>
{{ sp.repository.status }}
    </pre>
{% endif %}
  {% endfor %}
</div>
{% endblock %}
