# This file is maintained in https://github.com/WeblateOrg/meta/
name: ESLint

on:
  push:
    branches-ignore:
    - dependabot/**
    - deepsource-fix-**
    - renovate/**
    - weblate
  pull_request:

jobs:
  eslint:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2.4.0
    - uses: actions/cache@v2.1.7
      with:
        path: |
          ~/.cache/pip
          ~/.cache/pre-commit
        key: ${{ runner.os }}-pip-lint-${{ hashFiles('**/requirements*.txt') }}-${{ hashFiles('.pre-commit-config.yaml') }}
    - name: Setup Python
      uses: actions/setup-python@v2.3.1
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel
        pip install -r requirements-lint.txt
    - name: Run eslint
      run: |
        echo "::add-matcher::.github/matchers/eslint-compact.json"
        pre-commit run eslint --all
        echo "::remove-matcher owner=eslint-compact::"
