# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0
#
# Issue lifecycle: Add "Waiting for: Triage" label when "Waiting for: Community" was commented

on:
  issue_comment:
    types: [created]

permissions:
  issues: write

jobs:
  apply-label:
    runs-on: ubuntu-24.04
    if: |
      ! github.event.issue.pull_request &&
      contains(github.event.issue.labels.*.name, 'Waiting for: Community')
    steps:
    - uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
      with:
        script: |
          const labels = await github.rest.issues.listLabelsOnIssue({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
          });
          for (const label of labels) {
            if (label.name.startsWith('Waiting for: ')) {
              github.rest.issues.removeLabel({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                name: label.name,
              })
            }
          }
          github.rest.issues.addLabels({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            labels: ['Waiting for: Triage']
          })
