# This file is maintained in https://github.com/WeblateOrg/meta/
name: Sync labels
on:
  push:
    branches:
      - main
    paths:
      - .github/labels.yml
      - .github/workflows/label-sync.yml
jobs:
  build:
    name: Sync labels
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: micnncim/action-label-syncer@v1.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        with:
          manifest: .github/labels.yml
