# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

# This file is maintained in https://github.com/WeblateOrg/meta/
name: Sync labels

on:
  push:
    branches:
    - main
    paths:
    - .github/labels.yml
    - .github/workflows/label-sync.yml

permissions:
  issues: write

jobs:
  build:
    name: Sync labels
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4                                       # v4
    - uses: srealmoreno/label-sync-action@850ba5cef2b25e56c6c420c4feed0319294682fd # v2
      with:
        clean-labels: true
