name: Lint

on:
  push:
    paths:
      - '**.py'
      - 'setup.cfg'
      - 'requirements*.txt'
      - '.github/workflows/lint.yml'
  pull_request:
    paths:
      - '**.py'
      - 'setup.cfg'
      - 'requirements*.txt'
      - '.github/workflows/lint.yml'

jobs:
  flake8:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          pip install -r requirements-lint.txt
      - name: Flake8
        uses: suo/flake8-github-action@v1
        with:
          checkName: 'flake8'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

