name: Migrations

on:
  push:
    paths:
      - weblate/**
      - "*.py"
      - requirements*.txt
      - ci/*
      - .github/workflows/migrations.yml
    branches-ignore:
      - "dependabot/**"
  pull_request:
    paths:
      - weblate/**
      - "*.py"
      - requirements*.txt
      - ci/*
      - .github/workflows/migrations.yml

jobs:
  migrations:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        database: [postgresql, mysql]
      fail-fast: false
    name: ${{ matrix.database }}
    env:
      CI_DATABASE: ${{ matrix.database }}
      CI_DB_PASSWORD: weblate
      CI_DB_HOST: 127.0.0.1
      CI_DB_PORT: "60000"
      CI_SELENIUM: "1"
      DJANGO_SETTINGS_MODULE: weblate.settings_test

    steps:
      - uses: actions/checkout@v2
      - name: Start services
        run: ./ci/services-up ${{ matrix.database }}
      - name: Cache pip
        uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-migrate-${{ hashFiles('**/requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install apt dependencies
        run: sudo ./ci/apt-install
      - name: Set up Python 3.7
        uses: actions/setup-python@v2.1.1
        with:
          python-version: 3.7
      - name: Install pip dependencies
        run: |
          ./ci/pip-install
          pip install psycopg2-binary==2.7.7
      - name: Check missing migrations
        run: ./ci/run-checkmigrate
      - name: Migrate from 4.0
        run: ./ci/run-migrate 4.0
      - name: Migrate from 4.0.4
        run: ./ci/run-migrate 4.0.4
      - name: Migrate from 4.1
        run: ./ci/run-migrate 4.1
      - name: Coverage
        run: |
          coverage combine
          coverage xml
      - uses: codecov/codecov-action@v1
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          flags: migrations
          name: Migrations ${{ matrix.database }}
      - name: Stop services
        if: always()
        run: ./ci/services-down ${{ matrix.database }}
