# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

# This file is maintained in https://github.com/WeblateOrg/meta/
name: Pre-commit check

on:
  push:
    branches-ignore:
    - deepsource-fix-**
    - renovate/**
    - weblate
  pull_request:

permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: ~/.cache/pre-commit
        key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - uses: astral-sh/setup-uv@v3
    - name: detect method
      id: detect
      run: |
        if test -f requirements-lint.txt ; then
          echo "method=requirements" >> $GITHUB_OUTPUT
        elif test -f pyproject.toml && grep -q dependency-groups pyproject.toml ; then
          echo "method=pep735" >> $GITHUB_OUTPUT
        elif test -f pyproject.toml && grep -q dependency-groups pyproject.toml ; then
          echo "method=pyproject" >> $GITHUB_OUTPUT
        else
          echo "method=uvx" >> $GITHUB_OUTPUT
        fi
    - name: pre-commit (PEP 735)
      if: steps.detect.outputs.method == 'pep735'
      run: uv run --only-group pre-commit pre-commit run --all
      env:
        RUFF_OUTPUT_FORMAT: github
        REUSE_OUTPUT_FORMAT: github
    - name: pre-commit (uvx)
      if: steps.detect.outputs.method == 'uvx'
      run: uvx pre-commit run --all
      env:
        RUFF_OUTPUT_FORMAT: github
        REUSE_OUTPUT_FORMAT: github
    - name: Install dependencies
      if: steps.detect.outputs.method == 'requirements'
      run: uv pip install --system -r requirements-lint.txt
    - name: Install dependencies
      if: steps.detect.outputs.method == 'pyproject'
      run: uv pip install --system $(sed -n 's/.*"\(pre-commit==\([^"]*\)\)".*/\1/p' pyproject.toml)
    - name: pre-commit (installed)
      if: steps.detect.outputs.method == 'requirements' || steps.detect.outputs.method == 'pyproject'
      run: pre-commit run --all
      env:
        RUFF_OUTPUT_FORMAT: github
        REUSE_OUTPUT_FORMAT: github
    - name: diff
      run: git diff
      if: always()
