# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

# This file is maintained in https://github.com/WeblateOrg/meta/
name: Pre-commit check

on:
  push:
    branches-ignore:
    - renovate/**
    - weblate
  pull_request:

permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
      with:
        path: ~/.cache/pre-commit
        key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
    - name: Setup Python
      uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
      with:
        python-version: '3.13'
    - uses: astral-sh/setup-uv@0c5e2b8115b80b4c7c5ddf6ffdd634974642d182 # v5.4.1
    - name: detect method
      id: detect
      run: |
        if test -f requirements-lint.txt ; then
          echo "method=requirements" >> "$GITHUB_OUTPUT"
        elif test -f pyproject.toml && grep -q dependency-groups pyproject.toml ; then
          echo "method=pep735" >> "$GITHUB_OUTPUT"
        elif test -f pyproject.toml && grep -q dependency-groups pyproject.toml ; then
          echo "method=pyproject" >> "$GITHUB_OUTPUT"
        else
          echo "method=uvx" >> "$GITHUB_OUTPUT"
        fi
    - name: pre-commit (PEP 735)
      if: steps.detect.outputs.method == 'pep735'
      run: uv run --no-sources --only-group pre-commit pre-commit run --all
      env:
        RUFF_OUTPUT_FORMAT: github
        REUSE_OUTPUT_FORMAT: github
    - name: pre-commit (uvx)
      if: steps.detect.outputs.method == 'uvx'
      run: uvx pre-commit run --all
      env:
        RUFF_OUTPUT_FORMAT: github
        REUSE_OUTPUT_FORMAT: github
    - name: Install dependencies
      if: steps.detect.outputs.method == 'requirements'
      run: uv pip install --system -r requirements-lint.txt
    - name: Install dependencies
      if: steps.detect.outputs.method == 'pyproject'
      run: uv pip install --system "$(sed -n 's/.*"\(pre-commit==\([^"]*\)\)".*/\1/p' pyproject.toml)"
    - name: pre-commit (installed)
      if: steps.detect.outputs.method == 'requirements' || steps.detect.outputs.method == 'pyproject'
      run: pre-commit run --all
      env:
        RUFF_OUTPUT_FORMAT: github
        REUSE_OUTPUT_FORMAT: github
    - name: diff
      run: git diff
      if: always()
