# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: Rundev

on:
  push:
    branches-ignore:
    - renovate/**
    - weblate
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  rundev:
    runs-on: ubuntu-24.04
    name: Test development Docker
    env:
      PYTHONUNBUFFERED: 1
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      with:
        path: /tmp/cache/tesseract
        key: tesseract-data
    - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      with:
        enable-cache: false
        version: 0.10.0
    - run: ./rundev.sh build
    - run: ./rundev.sh start
    - run: ./rundev.sh wait
    - run: ./rundev.sh check
    - run: ./rundev.sh compilemessages
    - run: ./rundev.sh test --exitfirst
    - run: ./rundev.sh test weblate/checks/tests/test_chars_checks.py
    - run: ./rundev.sh logs
      if: always()
    - run: ./rundev.sh stop
