# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: Rundev

on:
  push:
    branches-ignore:
    - deepsource-fix-**
    - renovate/**
    - weblate
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  rundev:
    runs-on: ubuntu-24.04
    name: Test development Docker
    env:
      PYTHONUNBUFFERED: 1
    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: /tmp/cache/tesseract
        key: tesseract-data
    - uses: astral-sh/setup-uv@v5
    - run: ./rundev.sh build
    - run: ./rundev.sh start
    - run: ./rundev.sh wait
    - run: ./rundev.sh check
    - run: ./rundev.sh compilemessages
    - run: ./rundev.sh test --exitfirst
    - run: ./rundev.sh test weblate/checks/tests/test_chars_checks.py
    - run: ./rundev.sh logs
      if: always()
    - run: ./rundev.sh stop
