# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: Rundev

on:
  push:
    branches-ignore:
    - renovate/**
    - weblate
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  rundev:
    runs-on: ubuntu-24.04
    name: Test development Docker
    env:
      PYTHONUNBUFFERED: 1
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        persist-credentials: false
    - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: /tmp/cache/tesseract
        key: tesseract-data
    - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
      with:
        enable-cache: false
        version: 0.9.11
    - run: ./rundev.sh build
    - run: ./rundev.sh start
    - run: ./rundev.sh wait
    - run: ./rundev.sh check
    - run: ./rundev.sh compilemessages
    - run: ./rundev.sh test --exitfirst
    - run: ./rundev.sh test weblate/checks/tests/test_chars_checks.py
    - run: ./rundev.sh logs
      if: always()
    - run: ./rundev.sh stop
